<div class="card card--standard">
  <div class="card__inner">
    <div class="card__media card__media--full" data-show-used-ajax="used-car-photos" data-car_id="<%= show_filter_used.id %>">
      <%= image_tag show_filter_used.images[0].card.url,class:'card__img', alt: '' %>
<!--      <span class="card__label">Хит</span>-->
    </div>
    <div class="card__main card__main_new">
      <div class="card__title car__title_used" data-direction="used-car-modal--description"><%= show_filter_used.brand.title %> <%= show_filter_used.name %></div>
      <div class="card__price card__price_old"><%= number_with_delimiter(show_filter_used.price,delimiter:' ') %> &#8381;</div>
      <div class="card__price card__price_new"><%= number_with_delimiter(show_filter_used.price - (show_filter_used.price / 100 * 8),delimiter:' ') %> &#8381;</div>
    </div>
    <div>
      <ul class="card__infolist">
        <li class="card__infoitem"><span class="card__infoitem-name">Год</span><span><%= show_filter_used.year %></span></li>
        <li class="card__infoitem"><span class="card__infoitem-name">Пробег</span><span><%= number_with_delimiter(show_filter_used.odometer,delimiter:' ') %> км</span></li>
        <li class="card__infoitem"><span class="card__infoitem-name">Кпп</span><span><%= show_filter_used.transmission %></span></li>
      </ul>
    </div>
    <div class="card__buttons">
      <button class="card__btn" data-show-used-ajax="used-car-details-modal_newprice" data-car_id="<%= show_filter_used.id %>" type="button">
        <span>Подробнее</span>
        <%= svg_tag 'carso/icons.svg','svg-arrow-fat',7,8,class:'card__link_icon' %>
      </button>
      <button class="button" data-show-used-ajax="used-car-buy-modal" data-car_id="<%= show_filter_used.id %>" type="button">Купить со скидкой</button>
    </div>
  </div>
</div>