<section id="car-filter" class="dark-section">
  <div class="inner">
    <div class="content-xs">
      <h2 class="title title--light">Фильтр</h2>
    </div>

    <div class="content">
      <%= form_for Ticket.new,
                   url: {controller:'used_cars', action:'show_filter_special' },
                   remote:true,
                   validate:true,
                   :html => {:class => '',:name=>'specials_filter', :autocomplete => 'off'},
                   :namespace => 'specials_filter' do |f| %>

        <%= f.hidden_field :form_name, value:'credit' %>

        <div class="filter-panel">
          <div class="select-wrapper">
            <%= select_tag 'deals[filter][brand]', options_from_collection_for_select(Brand.where(hide:0), 'id', 'title'),class:'select',:include_blank => 'Все марки',id:'filter_brand' %>
          </div>
          <div class="select-wrapper">
            <%= select_tag 'deals[filter][transmission]', raw('<option value="">Любая</option><option value="MT">Механическая</option><option value="AT">Автоматическая</option><option value="CVT">Вариатор</option>'),class:'select',id:'filter_transmission' %>
          </div>
          <div class="select-wrapper">
            <!-- TODO: неупорядочено в базе -->
            <%= select_tag 'deals[filter][drive]', raw('<option value="">Любой</option><option value="2">2 WD</option><option value="4">4 WD</option>'),class:'select',id:'filter_drive' %>
          </div>
          <div class="select-wrapper">
            <%= select_tag 'deals[filter][type]', raw('<option value="">Любой</option>
    <option value="vnedorozhniki">Внедорожники</option>
    <option value="xetchbeki">Хэтчбеки</option>
    <option value="liftbeki">Лифтбеки</option>
    <option value="universalyi">Универсалы</option>
    <option value="sedanyi">Седаны</option>
    <option value="minivenyi">Минивэны</option>
    <option value="pikapyi">Пикапы</option>
    <option value="furgonyi">Фургоны</option>
    <option value="kupe">Купе</option>
    <option value="cross-kupe">Кросс-купе</option>'),class:'select select--new-car',id:'filter_type' %>
          </div>
        </div>

        <div class="filter-panel">
          <div class="select-wrapper">
            <%= select_tag 'deals[filter][year_min]', options_for_select(UsedCar.where(hide: 0, used: 0).collect{|u| u.year }.uniq.sort),class:'select select--sm',:include_blank => 'Год, от',id:'filter_year_min' %>
            <%= select_tag 'deals[filter][year_max]', options_for_select(UsedCar.where(hide: 0, used: 0).collect{|u| u.year }.uniq.sort),class:'select select--sm',:include_blank => 'Год, до',id:'filter_year_max' %>
          </div>
          <div class="select-wrapper">
            <% min_volume = (UsedCar.where(hide: 0, used: 0).minimum(:volume).to_f).round(1)
               max_volume = (UsedCar.where(hide: 0, used: 0).maximum(:volume).to_f).round(1)

               i = min_volume
               arr = [i]
               while (i < max_volume) do
                 i = (i + 0.1).round(1)
                 arr.push(i)
               end

            %>

            <%= select_tag 'deals[filter][volume_min]', options_for_select(arr),class:'select select--sm',:include_blank => 'Объём, от',id:'filter_volume_min' %>
            <%= select_tag 'deals[filter][volume_max]', options_for_select(arr),class:'select select--sm',:include_blank => 'Объём, до',id:'filter_volume_max' %>
          </div>
          <div class="select-wrapper">
            <%= number_field_tag 'deals[filter][power_min]', nil, min: 0, max: 1000, step: 1, class:'input select--sm',id:'filter_power_min', placeholder:'Мощность, от' %>
            <%= number_field_tag 'deals[filter][power_max]', nil, min: 0, max: 1000, step: 1, class:'input select--sm',id:'filter_power_max', placeholder:'Мощность, до' %>
          </div>

          <div class="select-wrapper">
            <%= number_field_tag 'deals[filter][price_min]', nil, min: 0, max: 10000000, step: 10, class:'input select--sm',id:'filter_price_min', placeholder:'Цена, от' %>
            <%= number_field_tag 'deals[filter][price_max]', nil, min: 0, max: 10000000, step: 10, class:'input select--sm',id:'filter_price_max', placeholder:'Цена, до' %>
          </div>
        </div>


        <div class="filter-panel">

          <div>
            <div class="filter__text">Страна</div>
            <%= hidden_field_tag 'ticket[filter][country]','',id:'filter_country' %>
            <ul class="colors-list colors-list--country" data-role="filter-countries-list">
              <li class="color color--all car-main__color--choosed-blue" title="Все страны" data-value="">Все</li>
              <li class="color" title="Китай" data-value="kitayskie-avtomobili">
                <%= svg_tag 'carso/sprites/countries-sprite.svg','svg-china',32,32,class:'' %>
              </li>
              <li class="color" title="Корея" data-value="korejskie-avtomobili">
                <%= svg_tag 'carso/sprites/countries-sprite.svg','svg-korea',32,32,class:'' %>
              </li>
              <li class="color" title="Германия" data-value="nemeczkie-avtomobili">
                <%= svg_tag 'carso/sprites/countries-sprite.svg','svg-germany',32,32,class:'' %>
              </li>
              <li class="color" title="Россия" data-value="russkie-avtomobili">
                <%= svg_tag 'carso/sprites/countries-sprite.svg','svg-russia',32,32,class:'' %>
              </li>
              <li class="color" title="Франция" data-value="franczuzskie-avtomobili">
                <%= svg_tag 'carso/sprites/countries-sprite.svg','svg-france',32,32,class:'' %>
              </li>
              <li class="color" title="Япония" data-value="yaponskie-avtomobili">
                <%= svg_tag 'carso/sprites/countries-sprite.svg','svg-japan',32,32,class:'' %>
              </li>
              <li class="color" title="Америка" data-value="amerikanskie-avtomobili">
                <%= svg_tag 'carso/sprites/countries-sprite.svg','svg-america',32,32,class:'' %>
              </li>
            </ul>
          </div>

          <div class="select-wrapper select-wrapper--reset">
            <button class="button button--filter button--filter-dark" type="button" data-action="filter-reset">Сбросить фильтры</button>
          </div>
        </div>

      <% end %>

    </div>

    <div class="content">
      <div id="filter-results" class="card-list">

      </div>
      <button class="btn-link" id="show-more-filter-results" type="button" style="display: none;">
        <%= svg_tag 'carso/icons.svg','svg-loader',24,6,class:'' %>
        <span>Показать ещё</span>
      </button>
    </div>


  </div>
</section>










