<%
  region = false
  unless @current_region.id == 57
    region = true
  end
%>

<% t_mos = "Авто с пробегом, купить БУ автомобиль в кредит, продажа подержанных машин в #{@current_region.sklon3}" %>
<% t_reg = "Авто с пробегом в #{@current_region.sklon3}, купить БУ автомобиль в кредит, продажа подержанных машин в автосалоне" %>
<% d_mos = "Купить авто с пробегом в #{@current_region.sklon3}. Рассрочка, трейд-ин, кредит. БУ автомобили по низким ценам. Купить подержанную машину в автосалоне, #{@current_region.sklon1}" %>
<% d_reg = "Продажа авто с пробегом в #{@current_region.sklon3}. Рассрочка, трейд-ин, кредит. БУ автомобили по низким ценам. Купить подержанную машину в автосалоне" %>

<% unless region %>
  <% provide :title,t_mos %>
  <% provide :description,d_mos %>
<% else %>
  <% provide :title,t_reg %>
  <% provide :description,d_reg %>
<% end %>






<section class="inner">
  <div class="content-xs">
    <h1 class="title-h1" id="models">Лучшие предложения автомобилей с пробегом <%= " в #{@current_region.sklon3}" if region %></h1>

    <ul class="menu-list--simple-count-main menu-list--simple-count">
      <%= render partial:'carso/used_cars/main_brands', collection: @brands %>
    </ul>

    <%= render 'carso/used_cars/filter_links' %>
    <%#
    <button class="btn-link btn-link--used-filter" data-action="toggle-filter"> %>
      <%#= svg_tag 'carso/icons.svg','svg-loader',24,6,class:'' %>
    <%#<span class="redtext">Расширенный фильтр</span>
    </button> %>

  </div>
  <%= render 'carso/used_cars/used_filter' %>

  <div class="content content__usedtext">
    <p class="text">Подержанный автомобиль — разумное решение как для начинающих водителей, так и для всех, кто желает сэкономить. И это будет совсем не плохой автомобиль, если знать, где купить авто с пробегом в отличном состоянии и со 100% юридической чистотой. Приобрести хорошую б/у машину на выгодных условиях, которая по своему техническому состоянию не уступает новому авто, можно в автосалоне «Авимоторс» — у официального дилера более чем 30 известных автомобильных марок!</p>
    <p class="text">Наш салон предлагает доступные цены и лояльные условия по кредиту и рассрочке, а также возможность срочной продажи старого «железного коня» или его обмена на новую машину по программе Trade-in. Все представленные у нас модели проходят тщательную техническую и юридическую проверку, поэтому не сомневайтесь — в автосалоне «Авимоторс» Вы найдете то, что нужно!</p>
  </div>

  <div class="content-s">
    <div class="card-list_used card-list_used-list" id="used-list">
      <%= render partial:'partials/carso/used_car', collection: UsedCar.used_cars.order(id: :desc) %>
    </div>
  </div>
</section>


<section class="inner">

  <div class="content textimg-block">
    <div class="textimg-block__text">
      <h2 class="title">Подбор б/у авто в Москве</h2>

      <p>Покупка подержанного автомобиля, который соответствует Вашим требованиям — не проблема. Найти подходящую модель поможет сервис по подбору авто с пробегом: чтобы подобрать оптимальный вариант, достаточно выбрать интересующую марку или год выпуска. В наш ассортимент входят подержанные автомобили от 2018 до 2004 г.в. и старше, от разных производителей — от Tagaz до Toyota. У нас представлены авто многих популярных во всем мире брендов, в числе которых российские, европейские, американские и азиатские марки:</p>
      <ul class="used-text-list">
        <li>Lada</li>
        <li>Opel</li>
        <li>Ford</li>
        <li>Nissan</li>
        <li>Volkswagen</li>
<!--      </ul>-->
<!--      <ul class="info-columns__column-3 info-column info-column--sprobegom">-->
        <li>Mitsubishi</li>
        <li>Toyota</li>
        <li>Geely</li>
        <li>Great Wall</li>
        <li>Lifan</li>
<!--      </ul>-->
<!--      <ul class="info-columns__column-3 info-column info-column--sprobegom">-->
        <li>Hyundai</li>
        <li>Kia</li>
        <li>Peugeot</li>
        <li>Citroen</li>
        <li>и т. д.</li>
      </ul>
      <p>Вдумчивый, разумный подход к выбору автомобиля с пробегом позволит подобрать идеальный вариант – и своевременно избежать множества подводных камней, способных испортить все радостные впечатления от покупки.</p>

    </div>

    <%= image_tag 'carso/used/pn-004.jpg',alt:'',class:"textimg-block__img" %>
  </div>



  <div class="content-xs">
    <h2 class="title">Продажа автомобилей с пробегом в автосалоне «Авимоторс»</h2>
  </div>
  <div class="content">
    <p>Стать владельцем хорошего б/у авто реально при любом бюджете — если прибегнуть к кредитованию или рассрочке. Мы предоставляем абсолютно беспроцентную рассрочку на 1-3 года с небольшим первым взносом (от 30% стоимости автомобиля), а также автокредит с минимальным процентом годовых и возможностью досрочного погашения на срок от полугода до 7 лет. Вместо начального взноса можно сдать свою старую машину по системе Trade-in, однако в случае с кредитом первый взнос не обязателен. При наличии первого взноса размер дополнительной скидки на автомобиль составляет 40 тыс. руб. Максимальная сумма рассрочки не превышает 1,9 млн. руб., а кредита — 3,5 млн. руб. На выбор нашим клиентам предлагается множество разных кредитных программ от банков-партнеров автосалона «Авимоторс», среди которых:</p>
    <ul class="">
      <li>Газпромбанк</li>
      <li>ВТБ24</li>
      <li>Уралсиб</li>
      <li>Русфинанс Банк</li>
      <li>Связь Банк</li>
      <li>Промсвязьбанк</li>
      <li>Банк Союз</li>
      <li>Сетелем Банк</li>
      <li>и др.</li>
    </ul>

    <p>Выгодный автокредит на длительный срок, рассрочка без процентов и переплат, Trade-in и действующие скидки позволят купить машину с пробегом даже в том случае, если бюджет сильно ограничен. Сегодня подержанный автомобиль — не роскошь, а доступное каждому приобретение, и неважно, о какой именно модели идет речь — о премиальной «семерке» BMW, выпущенной в нулевых, о корейском бестселлере Hyundai Solaris прошлого поколения, либо о недорогом отечественном «спорткаре» Tagaz Aquila. В нашем салоне можно приобрести любую понравившуюся модель!</p>
  </div>
</section>



<%= render partial:'carso/carso/bottom_banner' %>