<% provide :title, "Автокредит #{@bank.name} в Автосалоне Авиньон, #{@current_region.sklon1}" %>
<% provide :description,"#{@bank.name} предоставляет автокредит в #{@current_region.sklon3} на выгодных условиях в Автосалоне Авиньон! Решение за 30 минут! 🚗 Кредит от 1,9%, Рассрочка 0% 🎁 Бонусы и подарки!" %>

<div class="bbgc"></div>
<div class="bbgct">
  <h1 class="green">Автокредит <%= @bank.name %></h1>
  <div class="l_and_b">
    <div><%= image_tag "/static/images/logo.png", alt:'' %></div>
    <span>+</span>
    <div><%= image_tag @bank.image.optimized.url,alt:@bank.name,class:'', lazy:false %></div>
  </div>

<div class="tradein_form">
  <%= form_for Ticket.new,url: {action:'create',controller:'tickets' },remote:true,validate:true,:html => {:class => 'form section-tradein__form spec_modal_new_ticket',:name=>'tradein'},:namespace => 'tradein' do |f| %>
    <%= f.hidden_field :form_name, value:'gospr' %>
    <%= hidden_field_tag 'ticket[other][tradein_toggle]', '1' %>
    <div class="tr_flbl">
      <div class="nf_i">Заявка на кредит</div>
      <div class="tr_flb">
        <div>
          <div class="form-credit_subt">Ставка по кредиту <b>1.9%</b></div>
          <div class="form_input">
            <%= select_tag 'ticket[other][marka]', options_from_collection_for_select(@brands, 'id', 'title'), prompt: 'Выберите марку', id:'credit_ticket_other_marka', class:'select' %>
          </div>
          <div class="form_input">
            <%= select_tag 'ticket[other][model]', raw('<option>Выберите модель</option>'), id:'credit_ticket_other_model', class:'select', disabled: 'true' %>
          </div>
          <div class="form_input">
            <%= select_tag 'ticket[other][equipment]', raw('<option>Выберите комплектацию</option>'), id:'credit_ticket_other_complect', class:'select', disabled: 'true' %>
          </div>
        </div>
        <div class="form_cr_r">
          <div class="car-credit__subtitle">Условия кредитования</div>
          <div class="form__component cr_1">
            <span class="credit__rtitle">Желаемый срок кредита в месяцах</span>
            <input type="range" id="creditsliderfirst" data-role="persent-range" min="0" max="84" step="12" value="<%= PERCENT %>">
            <div class="r_diagram"><i class="l0">0</i><i class="l12">12</i><i class="l24">24</i><i class="l36">36</i><i class="l48">48</i><i class="l60">60</i><i class="l72">72</i><i class="l84">84</i></div>
          </div>
          <div class="form__component cr_2">
            <span class="credit__rtitle">Первоначальный взнос</span>
            <input type="range" id="creditsliderfirstv" data-role="persent-range" min="0" max="1000000" step="200000" value="<%= PERCENT %>">
            <div class="r_diagram"><i class="r0">0₽</i><i class="r2">200 000₽</i><i class="r4">400 000₽</i><i class="r6">600 000₽</i><i class="r8">800 000₽</i><i class="r10">1 000 000₽</i></div>
          </div>
          <div class="credit__rtitle">Подарок</div>
          <div class="form_input">
            <%= select_tag 'ticket[other][gift]', options_for_select(['КАСКО','Парктроник','Сигнализация','Литые диски','Сигвей']),class:'select',:include_blank => 'Выберите подарок',id:'credit_ticket_other_gift' %>
          </div>
        </div>
      </div>
    </div>
    <div class="tr_frb">
      <span class="tr_fin">Контактные данные</span>
      <div class="form_input"><%= f.text_field :name,class:'input',placeholder:'Ваше Имя' %></div>
      <div class="form_input"><%= f.phone_field :phone,class:'input',data:{:role=>'phone'},placeholder:'Номер телефона *' %></div>
      <div class="form_input"><%= f.button do %><span>Оставить заявку</span><% end %><div class="secur_f">мы гарантируем конфиденциальность и защиту введённых данных</div></div>
    </div>

  <% end %>
</div>


<div class="gsp_in">
  <div class="gsp_d">
    <span>Требования</span>
    <ul>
      <li><span>Гражданство: Россия</span></li>
      <li><span>Возраст: от 21 до 60 лет</span></li>
      <li><span>Два документа: паспорт и права</span></li>
    </ul>
  </div>
  <div class="gsp_d gsp_txt">
    <span>Условия</span>
    <ul>
      <li><span>Выгодные условия по кредиту от 1.9%</span></li>
      <li><span>Первоначальный взнос от 0 рублей</span></li>
      <li><span>Срок кредитования от 6 месяцев до 8 лет</span></li>
      <li><span>Сумма кредитования до 3 000 000 рублей</span></li>
      <li><span>Досрочное погашение без штрафов и комиссий</span></li>
      <li><span>Льготное кредитование по системам "Первый автомобиль" и "Семейный автомобиль"</span></li>
    </ul>
  </div>
  <div class="gsp_d gsp_bpdf">
    <span>Образецы договора</span>
    <div class="gsp_pdf">
      <a href="/doc/credit_setelem.pdf" title="Договор"><%= image_tag 'carso/png/pdf.png',alt:'Договор',lazy:true %><b>Договор</b></a>
      <a href="/doc/credit_vtb.pdf" title="Договор VTB"><%= image_tag 'carso/png/pdf.png',alt:'Договор VTB',lazy:true %><b>Договор VTB</b></a>
      <a href="/doc/dkp.docx" title="Договор в формате Ворд"><%= image_tag 'carso/png/word.png',alt:'Договор в формате Ворд',lazy:true %><b>Договор в формате Ворд</b></a>
    </div>
  </div>
</div>
<%= @bank.description['main_text'].html_safe %>
<div class="pr_slog_b">
  <div><%= image_tag "carso/icons/casco.svg", alt:'' %>
    <span>Бесплатное <br> КАСКО</span>
  </div>
  <div><%= image_tag "carso/icons/tire.svg", alt:'' %>
    <span>Зимняя резина в <br> подарок</span>
  </div>
  <div><%= image_tag "carso/icons/gospr.svg", alt:'' %>
    <span>Госпрограммы: <br> -10% на любое авто</span>
  </div>
  <div><%= image_tag "carso/icons/route.svg", alt:'' %>
    <span>Оплата проезда <br> до автосалона</span>
  </div>
</div>
<div class="bank_block">
  <h2>Банки партнеры</h2>
  <div class="banks__main">
    <%= render partial:'partials/carso/bank', collection: Bank.all %>
  </div>
</div>
<%= render 'partials/carso/credit_form' %>
</div>