<div class="modal modal--cities" id="city-choice-modal">
  <div class="modal__top">
      <div class="modal__title-name">Выберите ваш город</div>
  </div>

    <div class="modal__cities">
      <ul>
        <li>
          <%= link_to '<strong>Москва</strong>'.html_safe,root_url(subdomain: 'www') ,rel:'nofollow' %>
        </li>
        <li>
          <%= link_to '<strong>Санкт-Петербург</strong>'.html_safe,root_url(subdomain: 'spb') ,rel:'nofollow' %>
        </li>
        <li>
          <%= link_to 'Астрахань'.html_safe,root_url(subdomain: 'astrakhan') ,rel:'nofollow' %>
        </li>
        <li>
          <%= link_to 'Балашиха'.html_safe,root_url(subdomain: 'balashiha') ,rel:'nofollow' %>
        </li>
        <li>
          <%= link_to 'Белгород'.html_safe,root_url(subdomain: 'belgorod') ,rel:'nofollow' %>
        </li>
        <li>
          <%= link_to 'Брянск'.html_safe,root_url(subdomain: 'bryansk') ,rel:'nofollow' %>
        </li>
        <li>
          <%= link_to 'Великий Новгород'.html_safe,root_url(subdomain: 'novgorod') ,rel:'nofollow' %>
        </li>
        <li>
          <%= link_to 'Владимир'.html_safe,root_url(subdomain: 'vladimir') ,rel:'nofollow' %>
        </li>
        <li>
          <%= link_to 'Волгоград'.html_safe,root_url(subdomain: 'volgograd') ,rel:'nofollow' %>
        </li>
        <li>
          <%= link_to 'Вологда'.html_safe,root_url(subdomain: 'vologda') ,rel:'nofollow' %>
        </li>
        <li>
          <%= link_to 'Воронеж'.html_safe,root_url(subdomain: 'voronezh') ,rel:'nofollow' %>
        </li>
         <li>
          <%= link_to 'Воскресенск'.html_safe,root_url(subdomain: 'voskresensk') ,rel:'nofollow' %>
         </li>
         <li>
          <%= link_to 'Долгопрудный'.html_safe,root_url(subdomain: 'dolgoprudniy') ,rel:'nofollow' %>
        </li>
        <li>
          <%= link_to 'Домодедово'.html_safe,root_url(subdomain: 'domodedovo') ,rel:'nofollow' %>
        </li>
        <li>
          <%= link_to 'Дубна'.html_safe,root_url(subdomain: 'dubna') ,rel:'nofollow' %>
        </li>
        <li>
          <%= link_to 'Егорьевск'.html_safe,root_url(subdomain: 'egorievsk') ,rel:'nofollow' %>
        </li>
        <li>
          <%= link_to 'Екатеринбург'.html_safe,root_url(subdomain: 'ekaterinburg') ,rel:'nofollow' %>
        </li>
        <li>
          <%= link_to 'Жуковский'.html_safe,root_url(subdomain: 'zhukovskiy') ,rel:'nofollow' %>
        </li>
        <li>
          <%= link_to 'Иваново'.html_safe,root_url(subdomain: 'ivanovo') ,rel:'nofollow' %>
        </li>
        <li>
          <%= link_to 'Ижевск'.html_safe,root_url(subdomain: 'izhevsk') ,rel:'nofollow' %>
        </li>
        <li>
          <%= link_to 'Иркутск'.html_safe,root_url(subdomain: 'irkutsk') ,rel:'nofollow' %>
        </li>
        <li>
          <%= link_to 'Казань'.html_safe,root_url(subdomain: 'kazan') ,rel:'nofollow' %>
        </li>
        <li>
          <%= link_to 'Калуга'.html_safe,root_url(subdomain: 'kaluga') ,rel:'nofollow' %>
        </li>
        <li>
          <%= link_to 'Киров'.html_safe,root_url(subdomain: 'kirov') ,rel:'nofollow' %>
        </li>
        <li>
          <%= link_to 'Клин'.html_safe,root_url(subdomain: 'klin') ,rel:'nofollow' %>
        </li>
        <li>
          <%= link_to 'Коломна'.html_safe,root_url(subdomain: 'kolomna') ,rel:'nofollow' %>
        </li>
        <li>
          <%= link_to 'Королёв'.html_safe,root_url(subdomain: 'korolev') ,rel:'nofollow' %>
        </li>
        <li>
          <%= link_to 'Кострома'.html_safe,root_url(subdomain: 'kostroma') ,rel:'nofollow' %>
        </li>
        <li>
          <%= link_to 'Красногорск'.html_safe,root_url(subdomain: 'krasnogorsk') ,rel:'nofollow' %>
        </li>
        <li>
          <%= link_to 'Краснодар'.html_safe,root_url(subdomain: 'krasnodar') ,rel:'nofollow' %>
        </li>
        <li>
          <%= link_to 'Красноярск'.html_safe,root_url(subdomain: 'krasnoyarsk') ,rel:'nofollow' %>
        </li>
        <li>
          <%= link_to 'Курск'.html_safe,root_url(subdomain: 'kursk') ,rel:'nofollow' %>
        </li>
        <li>
          <%= link_to 'Липецк'.html_safe,root_url(subdomain: 'lipetsk') ,rel:'nofollow' %>
        </li>
        <li>
          <%= link_to 'Лобня'.html_safe,root_url(subdomain: 'lobnya') ,rel:'nofollow' %>
        </li>
        <li>
          <%= link_to 'Люберцы'.html_safe,root_url(subdomain: 'lyubertsy') ,rel:'nofollow' %>
         </li>
         <li>
          <%= link_to 'Мытищи'.html_safe,root_url(subdomain: 'mytishchi') ,rel:'nofollow' %>
        </li>
        <li>
          <%= link_to 'Наро-Фоминск'.html_safe,root_url(subdomain: 'naro-fominsk') ,rel:'nofollow' %>
        </li>
        <li>
          <%= link_to 'Нижний Новгород'.html_safe,root_url(subdomain: 'nn') ,rel:'nofollow' %>
        </li>
        <li>
          <%= link_to 'Нижний Тагил'.html_safe,root_url(subdomain: 'tagil') ,rel:'nofollow' %>
        </li>
        <li>
          <%= link_to 'Новосибирск'.html_safe,root_url(subdomain: 'novosibirsk') ,rel:'nofollow' %>
        </li>
         <li>
          <%= link_to 'Ногинск'.html_safe,root_url(subdomain: 'noginsk') ,rel:'nofollow' %>
        </li>
        <li>
          <%= link_to 'Обнинск'.html_safe,root_url(subdomain: 'obninsk') ,rel:'nofollow' %>
        </li>
        <li>
          <%= link_to 'Одинцово'.html_safe,root_url(subdomain: 'odintsovo') ,rel:'nofollow' %>
        </li>
        <li>
          <%= link_to 'Омск'.html_safe,root_url(subdomain: 'omsk') ,rel:'nofollow' %>
        </li>
        <li>
          <%= link_to 'Орехово-Зуево'.html_safe,root_url(subdomain: 'orekhovozuevo') ,rel:'nofollow' %>
        </li>
        <li>
          <%= link_to 'Орел'.html_safe,root_url(subdomain: 'orel') ,rel:'nofollow' %>
        </li>
        <li>
          <%= link_to 'Оренбург'.html_safe,root_url(subdomain: 'orenburg') ,rel:'nofollow' %>
        </li>
        <li>
          <%= link_to 'Пенза'.html_safe,root_url(subdomain: 'penza') ,rel:'nofollow' %>
        </li>
        <li>
          <%= link_to 'Пермь'.html_safe,root_url(subdomain: 'perm') ,rel:'nofollow' %>
        </li>
        <li>
          <%= link_to 'Подольск'.html_safe,root_url(subdomain: 'podolsk') ,rel:'nofollow' %>
        </li>
        <li>
          <%= link_to 'Псков'.html_safe,root_url(subdomain: 'pskov') ,rel:'nofollow' %>
        </li>
        <li>
          <%= link_to 'Пушкино'.html_safe,root_url(subdomain: 'pushkino') ,rel:'nofollow' %>
        </li>
        <li>
          <%= link_to 'Раменское'.html_safe,root_url(subdomain: 'ramenskoe') ,rel:'nofollow' %>
        </li>
         <li>
          <%= link_to 'Реутов'.html_safe,root_url(subdomain: 'reutov') ,rel:'nofollow' %>
         </li>
        <li>
          <%= link_to 'Ростов-на-Дону'.html_safe,root_url(subdomain: 'rostov') ,rel:'nofollow' %>
        </li>
        <li>
          <%= link_to 'Рязань'.html_safe,root_url(subdomain: 'ryazan') ,rel:'nofollow' %>
        </li>
        <li>
          <%= link_to 'Самара'.html_safe,root_url(subdomain: 'samara') ,rel:'nofollow' %>
        </li>
        <li>
          <%= link_to 'Саранск'.html_safe,root_url(subdomain: 'saransk') ,rel:'nofollow' %>
        </li>
        <li>
          <%= link_to 'Саратов'.html_safe,root_url(subdomain: 'saratov') ,rel:'nofollow' %>
        </li>
        <li>
          <%= link_to 'Сергиев-посад'.html_safe,root_url(subdomain: 'sergiev-posad') ,rel:'nofollow' %>
        </li>
        <li>
          <%= link_to 'Серпухов'.html_safe,root_url(subdomain: 'serpuhov') ,rel:'nofollow' %>
        </li>
        <li>
          <%= link_to 'Симферополь'.html_safe,root_url(subdomain: 'simferopol') ,rel:'nofollow' %>
        </li>
        <li>
          <%= link_to 'Севастополь'.html_safe,root_url(subdomain: 'sevastopol') ,rel:'nofollow' %>
        </li>
        <li>
          <%= link_to 'Смоленск'.html_safe,root_url(subdomain: 'smolensk') ,rel:'nofollow' %>
        </li>
        <li>
          <%= link_to 'Сочи'.html_safe,root_url(subdomain: 'sochi') ,rel:'nofollow' %>
        </li>
        <li>
          <%= link_to 'Ставрополь'.html_safe,root_url(subdomain: 'stavropol') ,rel:'nofollow' %>
        </li>
        <li>
          <%= link_to 'Ступино'.html_safe,root_url(subdomain: 'stupino') ,rel:'nofollow' %>
        </li>
        <li>
          <%= link_to 'Сыктывкар'.html_safe,root_url(subdomain: 'syktyvkar') ,rel:'nofollow' %>
        </li>
        <li>
          <%= link_to 'Тамбов'.html_safe,root_url(subdomain: 'tambov') ,rel:'nofollow' %>
        </li>
        <li>
          <%= link_to 'Тверь'.html_safe,root_url(subdomain: 'Тверь') ,rel:'nofollow' %>
        </li>
        <li>
          <%= link_to 'Тольятти'.html_safe,root_url(subdomain: 'tolyatti') ,rel:'nofollow' %>
        </li>
        <li>
          <%= link_to 'Томск'.html_safe,root_url(subdomain: 'tomsk') ,rel:'nofollow' %>
        </li>
        <li>
          <%= link_to 'Тула'.html_safe,root_url(subdomain: 'tula') ,rel:'nofollow' %>
        </li>
        <li>
          <%= link_to 'Тюмень'.html_safe,root_url(subdomain: 'tyumen') ,rel:'nofollow' %>
        </li>
        <li>
          <%= link_to 'Ульяновск'.html_safe,root_url(subdomain: 'ulyanovsk') ,rel:'nofollow' %>
        </li>
        <li>
          <%= link_to 'Чебоксары'.html_safe,root_url(subdomain: 'cheboksary') ,rel:'nofollow' %>
        </li>
        <li>
          <%= link_to 'Уфа'.html_safe,root_url(subdomain: 'ufa') ,rel:'nofollow' %>
        </li>
        <li>
          <%= link_to 'Химки'.html_safe,root_url(subdomain: 'himki') ,rel:'nofollow' %>
        </li>
        <li>
          <%= link_to 'Челябинск'.html_safe,root_url(subdomain: 'chelyabinsk') ,rel:'nofollow' %>
        </li>
        <li>
          <%= link_to 'Череповец'.html_safe,root_url(subdomain: 'cherepovec') ,rel:'nofollow' %>
        </li>
        <li>
          <%= link_to 'Чехов'.html_safe,root_url(subdomain: 'chehov') ,rel:'nofollow' %>
        </li>
        <li>
          <%= link_to 'Череповец'.html_safe,root_url(subdomain: 'cherepovets') ,rel:'nofollow' %>
        </li>
        <li>
          <%= link_to 'Электросталь'.html_safe,root_url(subdomain: 'elektrostal') ,rel:'nofollow' %>
        </li>
        <li>
          <%= link_to 'Ярославль'.html_safe,root_url(subdomain: 'yaroslavl') ,rel:'nofollow' %>
        </li>
        <li>
          <%= link_to 'Казахстан'.html_safe,root_url(subdomain: 'kazakhstan') ,rel:'nofollow' %>
        </li>
        <li>
          <%= link_to 'Беларусь'.html_safe,root_url(subdomain: 'belarus') ,rel:'nofollow' %>
        </li>
      </ul>
    </div>

</div>