<div class="main_gifts_popup" id="gifts_popup">
  <div class="main_gifts_popup_content">
    <div class="main_gifts_popup_text">
      <div class="main_gifts_popup_text__title">Розыгрыш <br>призов!</div>
      <div class="main_gifts_popup_text__selected mgpts_01">
        <div>Ваш приз:</div>
        <div>200 литров бензина</div>
      </div>
      <div class="main_gifts_popup_text__selected mgpts_02">
        <div>Ваш приз:</div>
        <div>Зимняя резина</div>
      </div>
      <div class="main_gifts_popup_text__selected mgpts_03">
        <div>Ваш приз:</div>
        <div>3 платежа по кредиту</div>
      </div>
      <div class="main_gifts_popup_text__selected mgpts_04">
        <div>Ваш приз:</div>
        <div>КАСКО в подарок</div>
      </div>
    </div>
    <div class="main_gifts_popup_box"></div>
    <div class="main_gifts_popup_action">
      <button class="main_gifts_popup_action__btn">
        <svg width="159" height="159" viewBox="0 0 159 159" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="79.5" cy="79.5" r="79.5" fill="#D7AD48"/>
          <path d="M109.243 83.2426C111.586 80.8995 111.586 77.1005 109.243 74.7574L71.0589 36.5736C68.7157 34.2304 64.9167 34.2304 62.5736 36.5736C60.2304 38.9167 60.2304 42.7157 62.5736 45.0589L96.5147 79L62.5736 112.941C60.2304 115.284 60.2304 119.083 62.5736 121.426C64.9167 123.77 68.7157 123.77 71.0589 121.426L109.243 83.2426ZM104 85H105V73H104V85Z" fill="white"/>
        </svg>
        <span>Играть</span>
      </button>
    </div>
    <div class="main_gifts_popup_giftslisting">
      <div class="main_gifts_popup_giftslisting_row">
        <div class="main_gifts_popup_giftslisting_item mgpgi__01" data-gift="200 литров бензина" style="background-image: url(/img/gifts_popup_giftitem_01.png)"></div>
        <div class="main_gifts_popup_giftslisting_item mgpgi__02" data-gift="Зимняя резина" style="background-image: url(/img/gifts_popup_giftitem_02.png)"></div>
        <div class="main_gifts_popup_giftslisting_item mgpgi__03" data-gift="3 платежа по кредиту" style="background-image: url(/img/gifts_popup_giftitem_03.png)"></div>
        <div class="main_gifts_popup_giftslisting_item mgpgi__04" data-gift="КАСКО в подарок" style="background-image: url(/img/gifts_popup_giftitem_04.png)"></div>
        <div class="main_gifts_popup_giftslisting_item mgpgi__01" data-gift="200 литров бензина" style="background-image: url(/img/gifts_popup_giftitem_01.png)"></div>
        <div class="main_gifts_popup_giftslisting_item mgpgi__02" data-gift="Зимняя резина" style="background-image: url(/img/gifts_popup_giftitem_02.png)"></div>
        <div class="main_gifts_popup_giftslisting_item mgpgi__03" data-gift="3 платежа по кредиту" style="background-image: url(/img/gifts_popup_giftitem_03.png)"></div>
        <div class="main_gifts_popup_giftslisting_item mgpgi__04" data-gift="КАСКО в подарок" style="background-image: url(/img/gifts_popup_giftitem_04.png)"></div>
        <div class="main_gifts_popup_giftslisting_item mgpgi__01" data-gift="200 литров бензина" style="background-image: url(/img/gifts_popup_giftitem_01.png)"></div>
        <div class="main_gifts_popup_giftslisting_item mgpgi__02" data-gift="Зимняя резина" style="background-image: url(/img/gifts_popup_giftitem_02.png)"></div>
        <div class="main_gifts_popup_giftslisting_item mgpgi__03" data-gift="3 платежа по кредиту" style="background-image: url(/img/gifts_popup_giftitem_03.png)"></div>
        <div class="main_gifts_popup_giftslisting_item mgpgi__04" data-gift="КАСКО в подарок" style="background-image: url(/img/gifts_popup_giftitem_04.png)"></div>
        <div class="main_gifts_popup_giftslisting_item mgpgi__01" data-gift="200 литров бензина" style="background-image: url(/img/gifts_popup_giftitem_01.png)"></div>
        <div class="main_gifts_popup_giftslisting_item mgpgi__02" data-gift="Зимняя резина" style="background-image: url(/img/gifts_popup_giftitem_02.png)"></div>
        <div class="main_gifts_popup_giftslisting_item mgpgi__03" data-gift="3 платежа по кредиту" style="background-image: url(/img/gifts_popup_giftitem_03.png)"></div>
        <div class="main_gifts_popup_giftslisting_item mgpgi__04" data-gift="КАСКО в подарок" style="background-image: url(/img/gifts_popup_giftitem_04.png)"></div>
        <div class="main_gifts_popup_giftslisting_item mgpgi__01" data-gift="200 литров бензина" style="background-image: url(/img/gifts_popup_giftitem_01.png)"></div>
        <div class="main_gifts_popup_giftslisting_item mgpgi__02" data-gift="Зимняя резина" style="background-image: url(/img/gifts_popup_giftitem_02.png)"></div>
        <div class="main_gifts_popup_giftslisting_item mgpgi__03" data-gift="3 платежа по кредиту" style="background-image: url(/img/gifts_popup_giftitem_03.png)"></div>
        <div class="main_gifts_popup_giftslisting_item mgpgi__04" data-gift="КАСКО в подарок" style="background-image: url(/img/gifts_popup_giftitem_04.png)"></div>
        <div class="main_gifts_popup_giftslisting_item mgpgi__01" data-gift="200 литров бензина" style="background-image: url(/img/gifts_popup_giftitem_01.png)"></div>
        <div class="main_gifts_popup_giftslisting_item mgpgi__02" data-gift="Зимняя резина" style="background-image: url(/img/gifts_popup_giftitem_02.png)"></div>
        <div class="main_gifts_popup_giftslisting_item mgpgi__03" data-gift="3 платежа по кредиту" style="background-image: url(/img/gifts_popup_giftitem_03.png)"></div>
        <div class="main_gifts_popup_giftslisting_item mgpgi__04" data-gift="КАСКО в подарок" style="background-image: url(/img/gifts_popup_giftitem_04.png)"></div>
        <div class="main_gifts_popup_giftslisting_item mgpgi__01" data-gift="200 литров бензина" style="background-image: url(/img/gifts_popup_giftitem_01.png)"></div>
        <div class="main_gifts_popup_giftslisting_item mgpgi__02" data-gift="Зимняя резина" style="background-image: url(/img/gifts_popup_giftitem_02.png)"></div>
        <div class="main_gifts_popup_giftslisting_item mgpgi__03" data-gift="3 платежа по кредиту" style="background-image: url(/img/gifts_popup_giftitem_03.png)"></div>
        <div class="main_gifts_popup_giftslisting_item mgpgi__04" data-gift="КАСКО в подарок" style="background-image: url(/img/gifts_popup_giftitem_04.png)"></div>
      </div>
    </div>
  </div>
  <%= form_for Ticket.new,url: {action:'create',controller:'tickets' },remote:true,validate:true,:html => {:class => 'main_gifts_popup_form',:name=>'callback'},:namespace => 'callback' do |f| %>
    <%= f.hidden_field :form_name, value:'callback' %>
      <%= f.text_field :name,class:'input', placeholder:'ФИО' %>
      <%= f.phone_field :phone,class:'input',data:{:role=>'phone'}, placeholder:'+7 (___) ___-__-__' %>
      <%= f.button 'Забрать свой приз', class: "btn btn-blue" %>
  <% end %>

</div>
<script>
    // Init gifts popup animation
    $(function () {
        var giftsPopupContent = $('.main_gifts_popup_content'),
            giftsPopupButton = $('.main_gifts_popup_action__btn');

        giftsPopupButton.click(function (e) {
            e.preventDefault();
            var getRandomGiftNumberClass = Math.floor(Math.random() * 4) + 1;

            giftsPopupContent.addClass('start');
            giftsPopupContent.addClass('gift_0' + getRandomGiftNumberClass);
        })
    });

</script>