<% provide :title,'Корпоративным клиентам - покупка автомобилей в лизинг для юридических лиц | Официальный дилер "Авимоторс" ' + @current_region.sklon3 %>
<% provide :description,'Корпоративным клиентам - купить автомобили в лизинг для юридических лиц в автосалоне официального дилера "Авимоторс"' + + @current_region.sklon3 %>

<section class="inner">
  <div class="content-xs">
    <h1 class="title-h1">Специальные условия покупки и обслуживания для корпоративных клиентов</h1>
  </div>
  <div class="content">
    <div class="table-wrapper">
      <table class="table">
        <thead>
        <tr class="table__header">
          <th class="table__col-title">Модель</th>
          <th class="table__col-title">Выгода для клиента в руб. на каждый автомобиль <br>(при покупке от 2 до 5 автомобилей одновременно)</th>
          <th class="table__col-title">Выгода для клиента в руб. на каждый автомобиль <br>(при покупке от 5 автомобилей одновременно)</th>
        </tr>
        </thead>
        <tbody>
        <tr class="table__row">
          <td class="table__cell">
            <%= image_tag NewCar.find(152).colors[0].largecard.url, width:'340px',height:"176px", alt:'' %>
          </td>
          <td class="table__cell">
            <p><u><strong style="font-size: 22px;">Dongfeng S30</strong></u></p>
            <p>1.6 л, 117 л.с., 5-ая механическая КПП</p>
            <p>1.6 л, 117 л.с., 4-ая автоматическая КПП</p>
            <p style="font-size:24px;">Выгода: <mark>30 000,00&nbsp;</mark></p>
          </td>
          <td class="table__cell">
            <p><u><strong style="font-size: 22px;">Dongfeng S30</strong></u></p>
            <p>1.6 л, 117 л.с., 5-ая механическая КПП</p>
            <p>1.6 л, 117 л.с., 4-ая автоматическая КПП</p>
            <p style="font-size: 24px;">Выгода: <mark>40 000,00&nbsp;</mark></p>
          </td>
        </tr>
        <tr class="table__row">
          <td class="table__cell">
            <%= image_tag NewCar.find(150).colors[0].largecard.url, width:'340px',height:"176px", alt:'' %>
          </td>
          <td class="table__cell">
            <p><u><strong style="font-size: 22px;">Dongfeng H30 Cross</strong></u></p>
            <p>1.6 л, 117 л.с., 5-ая механическая КПП</p>
            <p>1.6 л, 117 л.с., 4-ая автоматическая КПП</p>
            <p style="font-size: 24px;">Выгода:&nbsp;<mark>40 000,00&nbsp;</mark></p>
          </td>
          <td class="table__cell">
            <p><u><strong style="font-size: 22px;">Dongfeng H30 Cross</strong></u></p>
            <p>1.6 л, 117 л.с., 5-ая механическая КПП</p>
            <p>1.6 л, 117 л.с., 4-ая автоматическая КПП</p>
            <p><span style="font-size: 24px;">Выгода:&nbsp;<mark>50 000,00&nbsp;</mark></span></p>
          </td>
        </tr>
        <tr class="table__row">
          <td class="table__cell">
            <%= image_tag NewCar.find(164).colors[0].largecard.url, width:'340px',height:"176px", alt:'' %>
          </td>
          <td class="table__cell">
            <p><u><strong style="font-size: 22px;">Changan Eado</strong></u></p>
            <p>1.6 л, 113 л.с., 5-ая механическая КПП</p>
            <p>1.6 л, 113 л.с., 4-ая автоматическая КПП</p>
            <p style="font-size: 24px;">Выгода:&nbsp;<mark>30 000,00&nbsp;</mark></p>
          </td>
          <td class="table__cell">
            <p><u><strong style="font-size: 22px;">Changan Eado</strong></u></p>
            <p>1.6 л, 113 л.с., 5-ая механическая КПП</p>
            <p>1.6 л, 113 л.с., 4-ая автоматическая КПП</p>
            <p style="font-size: 24px;">Выгода:&nbsp;<mark>40 000,00&nbsp;</mark></p>
          </td>
        </tr>
        <tr class="table__row">
          <td class="table__cell">
            <%= image_tag NewCar.find(151).colors[0].largecard.url, width:'340px',height:"176px", alt:'' %>
          </td>
          <td class="table__cell">
            <p><u><strong style="font-size: 22px;">Changan CS35</strong></u></p>
            <p>1.6 л, 113 л.с., 5-ая механическая КПП</p>
            <p>1.6 л, 113 л.с., 4-ая автоматическая КПП</p>
            <p style="font-size: 24px;">Выгода:&nbsp;<mark>40 000,00&nbsp;</mark></p>
          </td>
          <td class="table__cell">
            <p><u><strong style="font-size: 22px;">Changan CS35</strong></u></p>
            <p>1.6 л, 113 л.с., 5-ая механическая КПП</p>
            <p>1.6 л, 113 л.с., 4-ая автоматическая КПП</p>
            <p style="font-size: 24px;">Выгода:&nbsp;<mark>50 000,00&nbsp;</mark></p>
          </td>
        </tr>
        <tr class="table__row">
          <td class="table__cell">
            <%= image_tag NewCar.find(161).colors[0].largecard.url, width:'340px',height:"176px", alt:'' %>
          </td>
          <td class="table__cell">
            <p><u><strong style="font-size: 22px;">Changan CS75</strong></u></p>
            <p>2.0 л, 157 л.с., 5-ая механическая КПП</p>
            <p style="font-size: 24px;">Выгода:&nbsp;<mark>30 000,00&nbsp;</mark></p>
          </td>
          <td class="table__cell">
            <p><u><strong style="font-size: 22px;">Changan CS75</strong></u></p>
            <p>2.0 л, 157 л.с., 5-ая механическая КПП</p>
            <p style="font-size: 24px;">Выгода:&nbsp;<mark>50 000,00&nbsp;</mark></p>
          </td>
        </tr>
        <tr class="table__row">
          <td class="table__cell">
            <%= image_tag NewCar.find(165).colors[0].largecard.url, width:'340px',height:"176px", alt:'' %>
          </td>
          <td class="table__cell">
            <p><u><strong style="font-size: 22px;">Changan Raeton</strong></u></p>
            <p>1.8 л, 113 л.с., 5-ая механическая КПП</p>
            <p>1.8 л, 163 л.с., 6-ая автоматическая КПП</p>
            <p style="font-size: 24px;">Выгода:&nbsp;<mark>100 000,00&nbsp;</mark></p>
          </td>
          <td class="table__cell">
            <p><u><strong style="font-size: 22px;">Changan Raeton</strong></u></p>
            <p>1.8 л, 113 л.с., 5-ая механическая КПП</p>
            <p>1.8 л, 163 л.с., 6-ая автоматическая КПП</p>
            <p style="font-size: 24px;"><span style="font-size: 24px;">Выгода:&nbsp;<mark>130 000,00&nbsp;</mark></span></p>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <p><small>*Применяется только при сделках с корпоративными клиентами (юридические лица; лица, зарегистрированные как индивидуальные предприниматели; государственные учреждения; органы государственной власти и местного самоуправления; дипломатические службы; посольства).</small></p>
    <h2 class="title">Мы готовы предложить</h2>
    <ul class="list-simple">
      <li>Специальные цены и скидки</li>
      <li>Тест-драйв</li>
      <li>Возможность приобретения автомобилей в лизинг</li>
      <li>Продажу автомобилей в личное пользование сотрудникам Вашей компании с предоставлением корпоративных скидок</li>
      <li>Обновление парка автомобилей на условиях "trade-in" (зачет стоимости подержанных автомобилей при покупке нового автомобиля)</li>
      <li>Предоставление льготных тарифов страхования в ведущих страховых компаниях</li>
      <li>Сервисное и гарантийное обслуживание с дополнительной выгодой для вашей компании</li>
    </ul>

  </div>
</section>



