<% provide :title,"Автокредит в #{@current_region.sklon3} 🚗 купить авто в кредит без первоначального взноса — автосалон «Авимоторс»" %>
<% provide :description,'Выгодные условия на покупку автомобиля в кредит под 1.9% 🚘 Купить машину в рассрочку 0% без первоначального взноса 🏦 Более 40 банков партнеров. — автосалон «Авимоторс» 8 (800) 500-03-23, ' + @current_region.sklon1 + '.' %>

<section class="main-cont">
  <section class="main-item">
    <div class="main-item-wrap">
      <div class="main-img">
        <%= image_tag "carso/png/crt.png", alt:'', class: '' %>
      </div>
      <div class="main-brand-model">
        <div class="main-model-name auto-credit">Автокредит</div>
      </div>


      <section class="main-offer">
        <section class="main-offer-container">
          <div class="main-offer-title">Заявка на покупку в кредит</div>
          <div class="main-model-item">
            <div class="main-model-item-green">1.9%</div>
            <div class="main-model-item-text">годовых на срок до 7 лет</div>
          </div>

          <div class="main-offer-text">Оставьте заявку на сайте и получите скидку 70 000₽</div>


          <%= form_for Ticket.new,url: {action:"create",controller:"tickets" },remote:true,validate:true,:html => {:class => "common-top__form-inner",:name=>"newcarreq"},:namespace => "creditpage" do |f| %>
            <%= f.hidden_field :form_name, value:'credit' %>
            <%= hidden_field_tag 'ticket[other][ttype]',1,id:'credit_ticket_other_ttype' %>
            <div class="main-offer-form">
              <%= f.text_field :name,class:"input main-offer-form_input",placeholder:"Ваше имя" %>
            </div>
            <div class="main-offer-form">
              <%= f.phone_field :phone,class:"input main-offer-form_input",data:{:role=>"phone"},placeholder:"Номер телефона"  %>
            </div>
            <%= f.button class: "button main-offer-button_item" do %><span>Получить условия</span><% end %>
          <% end %>



          <div class="main-offer-accept">ВНИМАНИЕ! К сожалению, банки не кредитуют регионы: Республика Кабардино-Балкария, Республика Чечня, Республика Дагестан, Республика Ингушетия, Республика Карачаево-Черкесия, Магадан.</div>
        </section>
      </section>
    </div>
  </section>
  <section class="main-pic-list">
    <div class="main-pic-list-cont">
      <div class="main-pic-list-item img-1 casko">
        <div class="main-pic-list-date">
          <div class="main-pic-list-date-item">Каско</div>
          <div class="main-pic-list-date-item">в подарок!</div>
        </div>
      </div>
      <div class="main-pic-list-item img-2 gos">
        <div class="main-pic-list-date">
          <div class="main-pic-list-date-item">Госпрограмма</div>
          <div class="main-pic-list-date-item">первый авто</div>
          <div class="main-pic-list-date-item">Семейный авто</div>
        </div>
      </div>
      <div class="main-pic-list-item img-3 pay_three">
        <div class="main-pic-list-date">
          <div class="main-pic-list-date-item">3</div>
          <div class="main-pic-list-date-item">Платежа</div>
          <div class="main-pic-list-date-item">за наш счёт</div>
        </div>
      </div>
    </div>
  </section>


  <div class="main-model-name-side">Простые условия</div>
  <div class="main-model-item">
    <div class="main-model-item-list">Гражданство</div>
    <div class="main-model-item-list">Россия</div>
  </div>
  <div class="main-model-item">
    <div class="main-model-item-list">Возраст</div>
    <div class="main-model-item-list">от 21 до 60 лет</div>
  </div>
  <div class="main-model-item">
    <div class="main-model-item-list">Два документа:</div>
    <div class="main-model-item-list">паспорт и права</div>
  </div>

  <section class="main-bullets">
    <div class="main-bullets-cont">
      <div class="main-bullets-item item-pay">
        <div class="main-bullets-icon">

        </div>
        <div class="main-bullets-text">
          <div class="main-bullets-text-item bullet-head">Первоначальный взнос</div>
          <div class="main-bullets-text-item bullet-side">от 0₽</div>
        </div>
      </div>
      <div class="main-bullets-item item-credit">
        <div class="main-bullets-icon">

        </div>
        <div class="main-bullets-text">
          <div class="main-bullets-text-item bullet-head">98%</div>
          <div class="main-bullets-text-item bullet-side">одобрения по кредиту</div>
        </div>
      </div>
      <div class="main-bullets-item item-max-pay">
        <div class="main-bullets-icon">

        </div>
        <div class="main-bullets-text">
          <div class="main-bullets-text-item bullet-head">3.5 млн</div>
          <div class="main-bullets-text-item bullet-side">макс. сумма кредита</div>
        </div>
      </div>
      <div class="main-bullets-item item-kasko">
        <div class="main-bullets-icon">

        </div>
        <div class="main-bullets-text">
          <div class="main-bullets-text-item bullet-head">Каско</div>
          <div class="main-bullets-text-item bullet-side">В подарок</div>
        </div>
      </div>
    </div>
  </section>
  <section class="main-brand">
    <section class="main-title-wrap">
      <div class="main-title">
        <div class="main-title-text">
          Горячие предложения
        </div>
      </div>
    </section>
    <div class="main-brand-item-cont">
      <%= render partial:'new_cars/small_new_cars', collection: @hit.limit(6).where('`new_cars`.`hide` = 0'), locals: {:show_brand => true, :credit_flag => false} %>

    </div>
  </section>
  <section class="main-banks">
    <section class="main-title-wrap">
      <div class="main-title">
        <div class="main-title-text">
          Банки-партнеры
        </div>
      </div>
    </section>
    <div class="main-banks-cont">
      <div class="main-banks-item rus-fin-bank"></div>
      <div class="main-banks-item vtb-bank"></div>
      <div class="main-banks-item gazprom-bank"></div>
      <div class="main-banks-item svyaz-bank"></div>
      <div class="main-banks-item rus-fin-bank"></div>
      <div class="main-banks-item orange-bank"></div>
      <div class="main-banks-item balt-invest-bank"></div>
      <div class="main-banks-item sberbank"></div>
      <div class="main-banks-item plus-bank"></div>
      <div class="main-banks-item loko-bank"></div>
      <div class="main-banks-item prom-svyaz-bank"></div>
      <div class="main-banks-item ros-bank"></div>
      <div class="main-banks-item prim-soc-bank"></div>
      <div class="main-banks-item rn-bank"></div>
      <div class="main-banks-item sovkom-bank"></div>
      <div class="main-banks-item yuni-credit-bank"></div>
      <div class="main-banks-item tinkoff-bank"></div>
      <div class="main-banks-item ural-sib-bank"></div>
    </div>
  </section>

</section>