<% provide :title,'Автосалон в ' + @current_region.sklon3 + ' 🚗 купить авто у официального дилера «Авиньон»' %>
<% provide :description,'❗ Продажа новых автомобилей в ' + @current_region.sklon3 + ' — Autosalon-M 🚘 34 марки авто и более 300 моделей в наличии ❗ Кредит на машину от 1,9% ️🎁 Каско бесплатно! ☎️ 8 800 500-03-23.' %>

<%
  region = false
  unless @current_region.id == 57
    region = true
  end
%>
<div class="container">
<%= render 'partials/carso/banner_form' %>
<div class="m_state">
 <div>1428 <span>новых <br>автомобилей</span></div>
 <div>1235 <span>автомобилей <br>с пробегом</span></div>
 <div>516 <span>коммерческих <br>автомобилей</span></div>
</div>
<div class="main_br">
  <ul class="nav d-flex">
  <%= render partial:'partials/carso/brand_list_main', collection: @brands %>
  </ul>
</div>
<div class="">
  <h1>Автомобильный салон «Авиньон»</h1>
</div>
<div class="card__box">
  <div>
    <h2>Хиты продаж</h2>
  </div>
  <div class="card_box_slide row justify-content-between align-items-center">
    <%= render partial:'new_cars/small_new_cars_main', collection: @hit.limit(20).where('`new_cars`.`hide` = 0').where('`new_cars`.`archive` = 0'), locals: {:show_brand => true, :credit_flag => false} %>
  </div>
</div>
<div class="hf_cell_b">
<div class="home_f_cell">
  <%= form_for Ticket.new,url: {action:'create',controller:'tickets' },remote:true,validate:true,:html => {:name=>'expresscredit home'},:namespace => 'expresscredithome' do |f| %>
    <span class="banr_t">сэкономьте время,<br> закажите</span>
    <div class="hf_call_t">Обратный звонок</div>
    <%= f.hidden_field :form_name, value:'express' %>
    <%= hidden_field_tag 'ticket[other][ttype]',1,id:'credit_ticket_other_ttype' %>
    <div class="form_input">
      <%= f.text_field :name,class:'input',placeholder:'Ваше имя' %>
    </div>
    <div class="form_input">
      <%= f.phone_field :phone,class:'phonemask modalphone input',data:{:role=>'phone'},placeholder:'Номер телефона' %>
    </div>
    <div class="form_input">
      <%= f.button do %>
        <span>Жду звонка</span>
      <% end %>
    </div>
  <% end %>
</div>
  <div class="hfc_rbg">
   <div class="hfc_rb">
    <div><%= image_tag "carso/icons/casco.svg", alt:'' %>
      <span>Бесплатное <br> КАСКО</span>
    </div>
     <div><%= image_tag "carso/icons/tire.svg", alt:'' %>
       <span>Зимняя резина в <br> подарок</span>
     </div>
    <div><%= image_tag "carso/icons/gospr.svg", alt:'' %>
      <span>Госпрограммы: <br> -10% на любое авто</span>
    </div>
    <div><%= image_tag "carso/icons/route.svg", alt:'' %>
      <span>Оплата проезда <br> до автосалона</span>
    </div>
  </div>
  </div>
</div>
<% if region %>
  <%= render partial: 'new_cars/region_form' %>
<% end %>

<div class="">
<h2>Поможет в выборе</h2>
<div class="row justify-content-between block_h_url">
  <ul>
    <li><%= link_to 'Новые автомобили',newauto_path %></li>
    <li><%= link_to 'Безопасные авто',safecars_path %></li>
    <li><%= link_to 'Надежные авто',reliablecars_path %></li>
    <li><%= link_to 'Авто для женщин',womencars_path %></li>
    <li><%= link_to 'Дешевые авто',cheap_auto_path %></li>
  </ul>
  <ul>
    <li><%= link_to 'Китайские авто',new_car_country_path('china') %></li>
    <li><%= link_to 'Японские авто',new_car_country_path('japan') %></li>
    <li><%= link_to 'Немецкие авто',new_car_country_path('germany') %></li>
    <li><%= link_to 'Корейские авто',new_car_country_path('karya') %></li>
    <li><%= link_to 'Французские авто',new_car_country_path('france') %></li>
  </ul>
  <ul>
    <li><%= link_to 'Хэтчбеки',new_car_type_path('hetchback') %></li>
    <li><%= link_to 'Седаны',new_car_type_path('sedan') %></li>
    <li><%= link_to 'Универсалы',new_car_type_path('universal') %></li>
    <li><%= link_to 'Кроссоверы',new_car_type_path('crossover') %></li>
  </ul>
  <ul>
    <li><%= link_to 'Внедорожники',new_car_type_path('vehicle') %></li>
    <li><%= link_to 'Лифтбеки',new_car_type_path('liftbeki') %></li>
    <li><%= link_to 'Минивэны',new_car_type_path('minivenyi') %></li>
    <li><%= link_to 'Фургоны',new_car_type_path('furgonyi') %></li>
  </ul>
  <ul>
    <li><%= link_to 'Первый автомобиль', first_auto_path %></li>
    <li><%= link_to 'Семейный автомобиль', family_auto_path %></li>
    <li><%= link_to 'Пикапы',new_car_type_path('pikapyi') %></li>
    <li><%= link_to 'Такси в кредит',taxi_path%></li>
  </ul>
</div>
</div>
</div>





<div class="container">

<div class="hit-menu">
  <div class="row justify-content-start">
    <h2>Популярные марки</h2>
  </div>
  <ul class="nav d-flex">
    <%= render partial:'carso/main_catalog_main', collection: @brands %>
  </ul>
</div>
</div>
