<% provide :title,'Автосалон в ' + @current_region.sklon3 + ' 🚗 купить авто у официального дилера «Дисконт Авто»' %>
<% provide :description,'❗ Продажа новых автомобилей в ' + @current_region.sklon3 + ' — Дисконт Авто 🚘 34 марки авто и более 300 моделей в наличии ❗ Кредит на машину от 1,9% ️🎁 Каско бесплатно! ☎️ 8 800 500-08-17.' %>

<%
  region = false
  unless @current_region.id == 57
    region = true
  end
%>

<div class="bnr">

  <a href="/geely" class="bnr_cnt bn_7 bn_8 bn_9">
    <div class="bnr_cnt bn_7 bn_8 bn_9">
      <div class="bnr_infn">
        <div class="bnr_4_1"><span>Распродажа</span> <span>Geely</span> в кредит</div>
        <div class="bnr_4_3"></div>
        <div class="bnr_4_4"></div>
        <div class="bnr_5_5"></div>
      </div>
    </div>
  </a>

  <a href="/lifan" class="bnr_cnt bn_6 bn_7 bn_8">
    <div class="bnr_cnt bn_6 bn_7 bn_8">
      <div class="bnr_infn">
        <div class="bnr_4_1"><span>Распродажа</span> <span>Lifan</span> в кредит</div>
        <div class="bnr_4_3"></div>
        <div class="bnr_4_4"></div>
      </div>
    </div>
  </a>

  <a href="/renault" class="bnr_cnt bn_6 bn_7">
    <div class="bnr_cnt bn_6 bn_7">
      <div class="bnr_infn">
        <div class="bnr_4_1"><span>Распродажа</span> <span>Ranault</span> в кредит</div>
        <div class="bnr_4_3"></div>
        <div class="bnr_4_4"></div>
        <div class="bnr_5_5"></div>
        <div class="bnr_5_6"></div>
        <div class="bnr_5_7"></div>
      </div>
    </div>
  </a>


  <a href="/lada" class="bnr_cnt bn_4 bn_5">
    <div class="bnr_cnt bn_4 bn_5">
      <div class="bnr_infn">
        <div class="bnr_4_1">Распродажа <br>LADA в кредит</div>
          <div class="bnr_4_3"></div>
        <div class="bnr_4_4"></div>
        <div class="bnr_5_5"></div>
        <div class="bnr_5_6"></div>
        <div class="bnr_5_7"></div>
      </div>
    </div>
  </a>


  <a href="/kia" class="bnr_cnt bn_4">
    <div class="bnr_cnt bn_4">
      <div class="bnr_infn">
        <div class="bnr_4_1">Распродажа KIA в кредит</div>
        <div class="bnr_4_23">
          <div class="bnr_4_2"></div>
          <div class="bnr_4_3"></div>
        </div>
        <div class="bnr_4_4"></div>
        <div class="bnr_4_5"></div>
        <div class="bnr_4_6"></div>
        <div class="bnr_4_7"></div>
      </div>
    </div>
  </a>

  <a href="/credit" class="bnr_cnt bn_1">
    <div class="bnr_inf">
       <div>Совместня акция <b>Дисконт Авто и ВТБ</b></div>
         <div><b>1,3% </b>процентна ставка</div>
         <div><b>99% </b>одобрение кредита</div>
    </div>
    <div class="bnr_btn"><button>Получить предложение</button></div>
  </a>
  <a href="/banks/vtb" class="abn_2">
    <div class="bnr_cnt bn_2">
     <div class="bnr_inf">
      <div>Специальное предложение<b>Дисконт Авто и ВТБ</b></div>
      <div>3 платежа за наш счет</div>
      <div>Купи сейчас-плати потом <span> <strong>&#183;</strong> Каникулы на 3 платежа по кредиту в подарок!</span></div>
     </div>
     <div class="bnr_btn"><button>Получить предложение</button></div>
    </div>
  </a>
  <a href="/credit#gospr" class="abn_2 abn_3">
    <div class="bnr_cnt bn_2 bn_3">
      <div class="bnr_inf">
        <div>Господдержка</div>
        <div>Первый авто</div>
        <div>Семейный авто</div>
        <div class="skd">Скидка до −10%</div>
        <div class="bnr_btn"><button>Получить предложение</button></div>
      </div>
    </div>
  </a>
</div>

<div class="hmbnr button sale_bn" data-show-new-ajax="car-credit-modal" data-eq_id="">
  <div class="hmbnr__1">
    <div class="hmbnr_bl"><span><b>Госпрограмма</b></span><i>Первый авто Семейный авто</i><%= image_tag "carso/banners/n/mnb3.png", alt:'' %></div>
    <div class="hmbnr_bl"><span><b>Каско <br> в подарок</b></span><%= image_tag "carso/banners/n/mnb2.png", alt:'' %></div>
  </div>
  <div class="hmbnr_bl hmbnr__2"><span><b>3 платежа</b> в подарок</span><%= image_tag "carso/banners/n/mnb1.png", alt:'' %></div>
</div>

<div class="container">
<div class="card__box">
  <div>
    <h2>Хиты продаж</h2>
  </div>
  <div class="card_box_slide row justify-content-between align-items-center">
    <%= render partial:'new_cars/small_new_cars_main', collection: @hit.limit(20).where('`new_cars`.`hide` = 0').where('`new_cars`.`archive` = 0'), locals: {:show_brand => true, :credit_flag => false} %>
  </div>
</div>
<div class="hf_cell_b">
<div class="home_f_cell">
  <%= form_for Ticket.new,url: {action:'create',controller:'tickets' },remote:true,validate:true,:html => {:name=>'expresscredit home'},:namespace => 'expresscredithome' do |f| %>
    <span class="banr_t">сэкономьте время,<br> закажите</span>
    <div class="hf_call_t">Обратный звонок</div>
    <%= f.hidden_field :form_name, value:'express' %>
    <%= hidden_field_tag 'ticket[other][ttype]',1,id:'credit_ticket_other_ttype' %>
    <div class="form_input">
      <%= f.text_field :name,class:'input',placeholder:'Ваше имя' %>
    </div>
    <div class="form_input">
      <%= f.phone_field :phone,class:'phonemask modalphone input',data:{:role=>'phone'},placeholder:'Номер телефона' %>
    </div>
    <div class="form_input">
      <%= f.button do %>
        <span>Жду звонка</span>
      <% end %>
    </div>
  <% end %>
</div>
  <div class="hfc_rbg">
   <div class="hfc_rb">
     <div><%= image_tag "carso/icons/group30.svg", alt:'' %>
       <span>Бесплатное <br> КАСКО</span>
     </div>
     <div><%= image_tag "carso/icons/group98.svg", alt:'' %>
       <span>Зимняя резина в <br> подарок</span>
     </div>
     <div><%= image_tag "carso/icons/group101.svg", alt:'' %>
       <span>Госпрограммы: <br> -10% на любое авто</span>
     </div>
     <div><%= image_tag "carso/icons/group33.svg", alt:'' %>
       <span>Оплата проезда <br> до автосалона</span>
     </div>
  </div>
  </div>
</div>



  <div class="htab__box">
    <div class="htab__box-nav">
      <div class="htab__b_n-m hact"><span>О салоне</span></div>
      <div class="htab__b_n-m"><span>Почему стоит обращаться <br> в автосалон Дисконт Авто</span></div>
      <div class="htab__b_n-m"><span>Автокредитование и Трейд-Ин <br> в автосалоне Дисконт Авто</span></div>
    </div>
    <div class="htab__box_txt">
      <div class="htab__box_txt_b">
        <div class="hbla_h hblock-active">
          <div class="hbla_t">
            <p>Покупка машины － процесс довольно сложный и серьезный. Ведь будущему
              автовладельцу необходимо подобрать модель, которая будет не только
              обладать красивой внешностью, но и достаточным функционалом. Помочь
              в выборе и покупке машины помогут сотрудники автосалона.
            </p><p>
            Наш автосалон ведет реализацию как новых, так и поддержанных авто.
            Благодаря нашему опыту, а также приятным ценам, любой из наших клиентов
            сможет получить желаемый автомобиль на наиболее выгодных условиях.
          </p><p>
            Менеджеры нашего автосалона смогут предложить отличные варианты
            как абсолютно новых автомобилей, так и поддержанных моделей.
          </p><p>
            Благодаря этому Вы можете выбирать в широком диапазоне цен, пробега,
            а также годов выпуска.
          </p><p>
            Главной нашей целью является предоставление максимально комфортных
            условий для наших клиентов, которые хотят получить качественное авто.
            Для этого мы:<br>
            1. Постоянно повышаем квалификацию наших сотрудников.<br>
            2. Стараемся подобрать индивидуальный подход к каждому клиенту, учитывая
            его потребности.<br>
            1. Ответственно относимся к каждой сделке, работая<br>
            исключительно в рамках профессиональной этики.
            Именно поэтому к нам
            обращаются многие, а после покупки советуют наш автосалон своим друзьям
            и близким
          </p>
          </div>
          <div  class="hbla_img"><%= image_tag "carso/png/h1.png", alt:'' %></div>
        </div>
        <div class="hbla_h">
          <div class="hbla_t">
            <b>Любой из наших клиентов может воспользоваться преимуществами
            обращения в автосалон Дисконт Авто:</b>
            <p>
            1. Приобретение новых и поддержанных авто на наиболее выгодных условиях. <br>
            2. Возможность выбора среди множества марок и моделей автомобилей.<br>
            3. Подбор оптимальной комплектации с учетом всех требований покупателя.<br>
            4. Участие в различных акциях.<br>
            5. Получение больших скидок.<br>
            6. Оформление страховки в солидных компаниях, по наиболее надежным
            программам.<br>
            </p>
            <p>
            Помимо этого, мы предлагаем возможность приобретения автомобилей
            в кредит или же по программе Trade-in. Таким образом Вы можете
            максимально сократить расходы при покупке машины.
            </p>
          </div>
          <div class="hbla_img"><%= image_tag "carso/png/h2.png", alt:'' %></div>
        </div>
        <div class="hbla_h">
          <div class="hbla_t">
            <p>
            Не все будущие автовладельцы могут позволить себе покупку нового
            автомобиля, но мы предоставляем такую возможность. В автосалоне
            действует программа автокредитования, благодаря которой каждый
            сможет купить машину мечты без серьезной нагрузки на собственный
            кошелек.
            </p><p>
            <b class="hnp">Автокредитование с нами － это:</b><br>
            1. Возможность выбора между предложениями от более, чем 30 банков.<br>
            2. Быстрое одобрение в 95% случаев.<br>
            3. Первоначальный взнос от 0%.<br>
            4. Сроки погашения от 6 месяцев до нескольких лет.<br>
            5. Возможность оформления без приобретения КАСКО.<br>
            6. Минимальные годовые процентные ставки.
          </p><p>
            Также, если у Вас уже имеется старый автомобиль, то <b class="hnp">Вы можете
            поучаствовать в программе Trade-In.</b> В ее рамках мы готовы
            обменять машину на денежную сумму, равную текущей стоимости
            транспорта.
          </p><p>
            Таким образом Вы получаете сразу несколько преимуществ:
            1. Внушительную скидку или первоначальный взнос при покупке
            нового авто.<br>
            2. Отсутствие необходимости в трате времени на продажу машины
            Не нужно  тратить собственных денег на предпродажную подготовку.<br>
            3. Если Вы хотите приобрести новый и поддержанный автомобиль
            на наиболее выгодных условиях, то обращение в наш автоцентр
            станет правильным решением. Не стоит терять времени, ведь
            лучшие модели от мировых производителей уже жду
            Вас в нашем автосалоне.
          </p>
          </div>
          <div class="hbla_img"><%= image_tag "carso/png/h3.png", alt:'' %></div>
        </div>
      </div>
    </div>
  </div>




<% if region %>
  <%= render partial: 'new_cars/region_form' %>
<% end %>

<div class="">
<h2>Поможет в выборе</h2>
<div class="row justify-content-between block_h_url">
  <ul>
    <li><%= link_to 'Новые автомобили',newauto_path %></li>
    <li><%= link_to 'Безопасные авто',safecars_path %></li>
    <li><%= link_to 'Надежные авто',reliablecars_path %></li>
    <li><%= link_to 'Авто для женщин',womencars_path %></li>
    <li><%= link_to 'Дешевые авто',cheap_auto_path %></li>
  </ul>
  <ul>
    <li><%= link_to 'Китайские авто',new_car_country_path('china') %></li>
    <li><%= link_to 'Японские авто',new_car_country_path('japan') %></li>
    <li><%= link_to 'Немецкие авто',new_car_country_path('germany') %></li>
    <li><%= link_to 'Корейские авто',new_car_country_path('karya') %></li>
    <li><%= link_to 'Французские авто',new_car_country_path('france') %></li>
  </ul>
  <ul>
    <li><%= link_to 'Хэтчбеки',new_car_type_path('hetchback') %></li>
    <li><%= link_to 'Седаны',new_car_type_path('sedan') %></li>
    <li><%= link_to 'Универсалы',new_car_type_path('universal') %></li>
    <li><%= link_to 'Кроссоверы',new_car_type_path('crossover') %></li>
  </ul>
  <ul>
    <li><%= link_to 'Внедорожники',new_car_type_path('vehicle') %></li>
    <li><%= link_to 'Лифтбеки',new_car_type_path('liftbeki') %></li>
    <li><%= link_to 'Минивэны',new_car_type_path('minivenyi') %></li>
    <li><%= link_to 'Фургоны',new_car_type_path('furgonyi') %></li>
  </ul>
  <ul>
    <li><%= link_to 'Первый автомобиль', first_auto_path %></li>
    <li><%= link_to 'Семейный автомобиль', family_auto_path %></li>
    <li><%= link_to 'Пикапы',new_car_type_path('pikapyi') %></li>
  </ul>
</div>
</div>
</div>



<style>
  header .header_top{
    border-bottom: medium none;
  }
  #breadcrumbs{
    display: none;
  }
</style>