<div id="main">
  <div class="main_heading">
    <div class="container">Акции</div>
  </div>
  <div class="stocks_page">
    <div class="container">
      <div class="stocks_page_item">
        <div class="stocks_page_item__content">
          <div class="stocks_page_item__content__title">Кредитные госпрограммы:</div>
          <div class="stocks_page_item__content__description">«Первый автомобиль», <br>«Семейный автомобиль» и <br>«Автомобиль медицинского работника»</div>
          <div class="stocks_page_item__content__subtitle">Скидка до 10%</div>

          <%= form_for Ticket.new,url: {action:"create",controller:"tickets" },remote:true,validate:true,:html => {:class => "stocks_page_item__content__form",:name=>"newcarreq"},:namespace => "newcarreq" do |f| %>
            <%= hidden_field_tag 'ticket[other][model]', id:'newcarreq_ticket_other_model' %>
            <%= f.hidden_field :form_name, value:"stocks_page" %>
            <div>
              <%= f.text_field :name,class:"input",placeholder:"ФИО" %>
              <%= f.phone_field :phone,class:"input",data:{:role=>"phone"},placeholder:"+7 (___) ___-__-__" %>
            </div>
            <%= f.button class: "btn btn-blue" do %><span>Участвовать в акции</span><% end %>
          <% end %>

        </div>
        <div class="stocks_page_item__image lazy" data-bg="img/stocks_image_01.png"></div>
      </div>
      <div class="stocks_page_item">
        <div class="stocks_page_item__image lazy" data-bg="img/stocks_image_02.png"></div>
        <div class="stocks_page_item__content">
          <div class="stocks_page_item__content__title">Осенний ценопад:</div>
          <div class="stocks_page_item__content__subtitle">Скидки <br>до 40%</div>

          <%= form_for Ticket.new,url: {action:"create",controller:"tickets" },remote:true,validate:true,:html => {:class => "stocks_page_item__content__form",:name=>"newcarreq"},:namespace => "newcarreq" do |f| %>
            <%= hidden_field_tag 'ticket[other][model]', id:'newcarreq_ticket_other_model' %>
            <%= f.hidden_field :form_name, value:"stocks_page" %>
            <div>
              <%= f.text_field :name,class:"input",placeholder:"ФИО" %>
              <%= f.phone_field :phone,class:"input",data:{:role=>"phone"},placeholder:"+7 (___) ___-__-__" %>
            </div>
            <%= f.button class: "btn btn-blue" do %><span>Участвовать в акции</span><% end %>
          <% end %>

        </div>
      </div>
      <div class="stocks_page_item">
        <div class="stocks_page_item__content">
          <div class="stocks_page_item__content__title">Кредитные госпрограммы:</div>
          <div class="stocks_page_item__content__description">«Первый автомобиль», <br>«Семейный автомобиль» и <br>«Автомобиль медицинского работника»</div>
          <div class="stocks_page_item__content__subtitle">Скидка до 10%</div>
          <%= form_for Ticket.new,url: {action:"create",controller:"tickets" },remote:true,validate:true,:html => {:class => "stocks_page_item__content__form",:name=>"newcarreq"},:namespace => "newcarreq" do |f| %>
            <%= hidden_field_tag 'ticket[other][model]', id:'newcarreq_ticket_other_model' %>
            <%= f.hidden_field :form_name, value:"stocks_page" %>
            <div>
              <%= f.text_field :name,class:"input",placeholder:"ФИО" %>
              <%= f.phone_field :phone,class:"input",data:{:role=>"phone"},placeholder:"+7 (___) ___-__-__" %>
            </div>
            <%= f.button class: "btn btn-blue" do %><span>Участвовать в акции</span><% end %>
          <% end %>
        </div>
        <div class="stocks_page_item__image lazy" data-bg="img/stocks_image_01.png"></div>
      </div>
      <div class="stocks_page_item">
        <div class="stocks_page_item__image lazy" data-bg="img/stocks_image_02.png"></div>
        <div class="stocks_page_item__content">
          <div class="stocks_page_item__content__title">Осенний ценопад:</div>
          <div class="stocks_page_item__content__subtitle">Скидки <br>до 40%</div>
          <%= form_for Ticket.new,url: {action:"create",controller:"tickets" },remote:true,validate:true,:html => {:class => "stocks_page_item__content__form",:name=>"newcarreq"},:namespace => "newcarreq" do |f| %>
            <%= hidden_field_tag 'ticket[other][model]', id:'newcarreq_ticket_other_model' %>
            <%= f.hidden_field :form_name, value:"stocks_page" %>
            <div>
              <%= f.text_field :name,class:"input",placeholder:"ФИО" %>
              <%= f.phone_field :phone,class:"input",data:{:role=>"phone"},placeholder:"+7 (___) ___-__-__" %>
            </div>
            <%= f.button class: "btn btn-blue" do %><span>Участвовать в акции</span><% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="main_benefit">
    <div class="main_benefit_leftbg">
      <div class="main_benefit_leftbg__image"></div>
    </div>
    <div class="main_benefit_rightbg">
      <div class="main_benefit_rightbg__image"></div>
    </div>
    <div class="main_benefit_content">
      <div class="container">
        <div class="main_benefit_content__title">Выгода</div>
        <div class="main_benefit_content__value">до <span>500 000</span> р.</div>
        <div class="main_benefit_content__subtitle">При покупке автомобиля в кредит</div>

        <%= form_for Ticket.new,url: {action:"create",controller:"tickets" },remote:true,validate:true,:html => {:class => "main_benefit_content__form",:name=>"newcarreq"},:namespace => "newcarreq" do |f| %>
          <%= hidden_field_tag 'ticket[other][model]', id:'newcarreq_ticket_other_model' %>
          <%= f.hidden_field :form_name, value:"stocks_page_benefit" %>
          <div>
            <%= f.text_field :name,class:"input",placeholder:"ФИО" %>
            <%= f.phone_field :phone,class:"input",data:{:role=>"phone"},placeholder:"+7 (___) ___-__-__" %>
          </div>
          <%= f.button class: "btn btn-white" do %><span>Получить выгоду</span><% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="main_help_find">
    <div class="container">
      <div class="main_help_find__title">Затрудняетесь с выбором автомобиля?</div>
      <div class="main_help_find__subtitle">Мы вам поможем!</div>
      <div class="main_help_find__clients" data-aos="fade-down" data-aos-duration="600" data-aos-delay="300" data-aos-once="true">Счастливых клиентов: <span>3 599</span></div>
      <%= form_for Ticket.new,url: {action:"create",controller:"tickets" },remote:true,validate:true,:html => {:class => "main_help_find__form",:name=>"newcarreq"},:namespace => "newcarreq" do |f| %>
        <%= hidden_field_tag 'ticket[other][model]', id:'newcarreq_ticket_other_model' %>
        <%= f.hidden_field :form_name, value:"stocks_page_help_find" %>
        <div>
          <%= f.text_field :name,class:"input",placeholder:"ФИО" %>
          <%= f.phone_field :phone,class:"input",data:{:role=>"phone"},placeholder:"+7 (___) ___-__-__" %>
        </div>
        <%= f.button class: "btn btn-blue" do %><span>Отправить запрос</span><% end %>
      <% end %>
    </div>
  </div>
  <div class="main_heading">
    <div class="container">Отзывы клиентов <span>VOSTOK MOTORS</span></div>
  </div>
  <div class="main_reviews">
    <div class="container">
      <div class="swiper main_reviews_slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="main_reviews_item">
              <%# <div class="main_reviews_item__photo lazy" data-bg="/img/reviews_photo.png"></div>%>
              <div class="main_reviews_item__content">
                <div class="main_reviews_item__content__title">Ксения</div>
                <div class="main_reviews_item__content__description">
                  Когда приехала в автосалон, меня встретил менеджер, с которым обсудили стоимость и марку автомобиля, учли все предпочтения, предложили автомобиль, покупкой довольна, спасибо!
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="main_reviews_item">
              <%#  <div class="main_reviews_item__photo lazy" data-bg="/img/reviews_photo.png"></div>%>
              <div class="main_reviews_item__content">
                <div class="main_reviews_item__content__title">Анастасия</div>
                <div class="main_reviews_item__content__description">
                  Выбрали ваш автосалон. Нас встретил менеджер, помог в выборе автомобиля, все рассказал про него, показал. Сделали скидку, вручили подарки. Качество автосалона и обслуживания на высшем уровне.
                  <br>
                  Взял здесь автомобиль хундай в стандартной комплектации после просмотра различных моделей. Устроила подходящая стоимость и качество замечательное. Покупка себя оправдала.
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="main_reviews_item">
              <%#  <div class="main_reviews_item__photo lazy" data-bg="/img/reviews_photo.png"></div>%>
              <div class="main_reviews_item__content">
                <div class="main_reviews_item__content__title">Эльвира Тарасова</div>
                <div class="main_reviews_item__content__description">
                  Покупала в салоне для себя первый авто Kia Rio новый. Нареканий к машине нет. Отношение сотрудников салона полностью устроило. Кредит одобрили быстро, процент по кредиту нормальный.
                  <br>
                  Отличный автосалон, выбор огромный, персонал квалифицированный и опытный. Вежливое обслуживание, проконсультировали и помогли с выбором. Уехал на новеньком CHANGAN CS75, сделали хорошую скидку, волокиты с оформлением документов не было.
                </div>
              </div>
              <span class="m_read_more">Читать полностью</span>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="main_reviews_item">
              <%# <div class="main_reviews_item__photo lazy" data-bg="/img/reviews_photo.png"></div>%>
              <div class="main_reviews_item__content">
                <div class="main_reviews_item__content__title">Светлана Викторовна</div>
                <div class="main_reviews_item__content__description">
                  Пришло время менять автомобиль и мы с мужем решили обратиться в Vostok Motors. Наши родственники недавно тоже пользовались услугами этой компании, остались довольны.
                  <br>
                  Менеджер-очень компетентный сотрудник, долго с нами возился, ответил на все интересующие вопросы. Очень много нам рассказал и помог сделать выбор.
                  <br>
                  Сразу видно что компания серьёзная и заботится о своём имени.
                </div>
              </div>
              <span class="m_read_more">Читать полностью</span>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="main_reviews_item">
              <%#  <div class="main_reviews_item__photo lazy" data-bg="/img/reviews_photo.png"></div>%>
              <div class="main_reviews_item__content">
                <div class="main_reviews_item__content__title">Даниил</div>
                <div class="main_reviews_item__content__description">
                  Нашёл в интернете привлекательный автоцентр, так как давно хотел купить автомобиль, долго выбирать не пришлось, на сайте есть отличная функция подбора машины. Приехал на место, убедился в достоверности информации от работников центра. Очень доволен работой консультантов в автоцентре, всё прошло отлично, рад покупке.
                  <br>
                  В прошлом месяце взял здесь ладу весту из-за привлекательной стоимости со скидкой плюс качество машина нормальное. Без проблем передвигаюсь на ней по городу и результат радует.
                  <br>
                  В конце лета удалось здесь приобрести по привлекательной стоимости машину шкоду. Оформление документов прошло быстро. С того момента стал на ней ездить на работу, что сэкономило время и силы.
                  <br>
                  В середине лета приобрел здесь мазду в автокредит из-за понятных и нормальных условий. Машинка оказалась послушной на дороге и от езды получаю удовольствие. Такое положение дел устраивает.
                  <br>
                  По рекомендации друзей обращался сюда дабы приобрести надежный и качественный автомобиль. Толковый менеджер выслушал запросы и помог с выбором. Оформление прошло быстро. Результат радует.
                </div>
              </div>
              <span class="m_read_more">Читать полностью</span>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="main_reviews_item">
              <%# <div class="main_reviews_item__photo lazy" data-bg="/img/reviews_photo.png"></div>%>
              <div class="main_reviews_item__content">
                <div class="main_reviews_item__content__title">Артём</div>
                <div class="main_reviews_item__content__description">
                  Давненько мечтал о покупке машины в своём городе. Наткнулся на сайт автоцентра Восток Моторс, полистал, посмотрел, о машинах предоставлена вся информация, огромный выбор. Довольно много полезных вкладок на сайте, что помогает быстро ориентироваться, есть функция Trade-In и некоторые акции, сделано всё чудесно. Особенно порадовал консультант, безупречная работа и знание своего дела. Всем советую!
                  <br>
                  Быстро без волокиты оформил авто в кредит. В автосалоне располагающая атмосфера, понравилось обслуживание. Сразу подошел менеджер, проконсультировал, ответил на все интересующие вопросы по понравившимся машинам. Предлагают широкий модельный ряд, хорошие скидки. Выбрал Mazda 3 хэтчбек. Удобные сроки погашения, я доволен. Рекомендую салон к сотрудничеству.
                  <br>
                  Много писать не буду, сразу о главном. Менеджеры вменяемые, в автомобилях и комплектациях соображают. Самое главное не навязчивые. Говоришь по факту что тебя интересует, тебе накидывают варианты. Обозначил свой ценовой потолок, при выборе авто исходили из этого, чего то заоблачно, в три раза превышающего мой бюджет не предлагали. Машины имеются в наличии, по крайней мере те, что интересовали меня. Документы оформлялись быстро. Обслуживание меня устроило.
                  <br>
                  Давно хотел сменить своего верного, но старого железного коня на нового и ретивого. И вот наконец долгожданный день настал. Выбор с автосалоном не стояло, решил в первую очередь посетить Восток моторс, так как живу не далеко. Персонал салона компетентный, менеджер рассказал о всех плюсах, а главное минусах представленных моделей. Выбор был сделан в пользу KIA Ceed. С уговорами по дополнительным опциям сильно не напрягали, бюджет у меня был ограничен. В общем по прошествии трех часов, ушедших на выбор автомобиля и подписание документов ключи от авто были у меня, а я был в автомобиле. Спасибо за компетентное обслуживание. Всем доволен.
                </div>
              </div>
              <span class="m_read_more">Читать полностью</span>
            </div>
          </div>
        </div>
      </div>
      <div class="main_reviews_slider_navigation">
        <div class="swiper-button-prev swiper-button-prev--custom">
          <svg width="30" height="52" viewBox="0 0 30 52" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M23.299 50.5227L1.02513 28.2489C-0.341707 26.882 -0.341707 24.6659 1.02513 23.2991L23.299 1.02525C24.6658 -0.341583 26.8819 -0.341583 28.2487 1.02525C29.6156 2.39208 29.6156 4.60816 28.2487 5.975L8.44975 25.774L28.2487 45.573C29.6156 46.9398 29.6156 49.1559 28.2487 50.5227C26.8819 51.8896 24.6658 51.8896 23.299 50.5227Z" fill="#9D9D9D"/>
          </svg>
        </div>
        <div class="swiper-button-next swiper-button-next--custom">
          <svg width="30" height="52" viewBox="0 0 30 52" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M5.97487 50.5227L28.2487 28.2489C29.6156 26.882 29.6156 24.6659 28.2487 23.2991L5.97487 1.02525C4.60804 -0.341583 2.39196 -0.341583 1.02513 1.02525C-0.341709 2.39208 -0.341709 4.60816 1.02513 5.975L20.8241 25.774L1.02513 45.573C-0.341709 46.9398 -0.341709 49.1559 1.02513 50.5227C2.39196 51.8896 4.60804 51.8896 5.97487 50.5227Z" fill="#9D9D9D"/>
          </svg>
        </div>
      </div>
      <div class="main_reviews_more">
        <a href="/reviews" class="btn btn-black">Все отзывы</a>
      </div>
    </div>
  </div>
</div>