<% provide :title,'Акции | Официальный дилер "Дисконт Авто" в ' + @current_region.sklon3 %>
<% provide :description,'Акции автосалона | 2 первых Ваших ежемесячных платежа по кредиту, при визите до 12,00 скидка до 20000 рублей, Комплект отличной зимней резины в подарок каждому покупателю,' %>

<h1 class="green">Акции</h1>

<div class="act_bl">
  <div class="act_img action_bn" id="modal_cookie_message"><%= image_tag 'carso/png/act_1.png',alt:'',lazy:false %></div>
  <div class="act_txt">
    <span>40 000 рублей и 3 платежа в подарок!</span>
    <p>Каждому клиенту, при визите в официальный дилерский Дисконт Авто до 12-00, обеспечена дополнительная скидка в 40 000 рублей. Если у Вас есть желание приобрести автомобиль с еще большей скидкой, то это предложение – специально для Вас!</p>
  </div>
</div>
<div class="act_bl ord">
  <div class="act_txt">
    <span>Trade in от Дисконт Авто</span>
    <p>Каждому клиенту, при визите в официальный дилерский Дисконт Авто до 12-00, обеспечена дополнительная скидка в 40 000 рублей. Если у Вас есть желание приобрести автомобиль с еще большей скидкой, то это предложение – специально для Вас!</p>
  </div>
  <div class="act_img action_bn" id="modal_cookie_message"><%= image_tag 'carso/png/act_2.png',alt:'',lazy:false %></div>
</div>
<div class="act_bl">
  <div class="act_img"><%= image_tag 'carso/png/act_3.png',alt:'',lazy:false %></div>
  <div class="act_txt">
    <span>Зимняя резина в подарок</span>
    <p>Каждому клиенту, при визите в официальный дилерский Дисконт Авто до 12-00, обеспечена дополнительная скидка в 40 000 рублей. Если у Вас есть желание приобрести автомобиль с еще большей скидкой, то это предложение – специально для Вас!</p>
  </div>
</div>
<div class="act_bl ord">
  <div class="act_txt">
    <span>Успейте купить</span>
    <p>Каждому клиенту, при визите в официальный дилерский Дисконт Авто до 12-00, обеспечена дополнительная скидка в 40 000 рублей. Если у Вас есть желание приобрести автомобиль с еще большей скидкой, то это предложение – специально для Вас!</p>
  </div>
  <div class="act_img action_bn" id="modal_cookie_message"><%= image_tag 'carso/png/act_4.png',alt:'',lazy:false %></div>
</div>

<%= render 'partials/carso/credit_form' %>