<% provide :title,'Трейд Ин авто в ' + @current_region.sklon3 + ' 🚗 обмен автомобилей с пробегом по Trade-In — автосалон «Авимоторс»' %>
<% provide :description,'Программа «Trade-In» от автосалона «Авимоторс» — это выгодный обмен Вашего подержанного автомобиля с пробегом на новый в ' + @current_region.sklon3 + ' 🚘 Сдайте старый Б/У авто по Трейд-Ин и получите скидку на покупку новой машины и выгодные условия по кредиту! — автосалон «Авимоторс»' %>


<section class="main-cont">
  <section class="main-item">
    <div class="main-item-wrap">
      <div class="main-img">
        <%= image_tag "carso/png/crt.png", alt:'', class: '' %>
      </div>
      <div class="main-brand-model">
        <div class="main-model-name auto-credit">Trade in</div>
      </div>


      <section class="main-offer">
        <section class="main-offer-container">
          <div class="main-offer-title">Заявка на Trade in</div>
          <div class="main-model-item">
          </div>


          <%= form_for Ticket.new,url: {action:"create",controller:"tickets" },remote:true,validate:true,:html => {:class => "form",:name=>"newcarreq"},:namespace => "tradeinpage" do |f| %>
            <%= f.hidden_field :form_name, value:'trade_in' %>
            <%= hidden_field_tag 'ticket[other][tradein_toggle]', '1' %>
            <div class="main-offer-form">
              <%= f.text_field :name,class:"input main-offer-form_input",placeholder:"Ваше имя" %>
            </div>
            <div class="main-offer-form">
              <%= f.phone_field :phone,class:"input main-offer-form_input",data:{:role=>"phone"},placeholder:"Номер телефона"  %>
            </div>
            <div class="main-offer-form">
              <%= f.text_field :other,class:"input main-offer-form_input",placeholder:"Марка и модель вашего авто" %>
            </div>
            <%= f.button class: "button main-offer-button_item" do %><span>Оставить заявку</span><% end %>
          <% end %>

   </section>
      </section>
    </div>
  </section>
  <section class="main-pic-list">
    <div class="main-pic-list-cont">
      <div class="main-pic-list-item img-2 gos">
        <a href="/banks/programma-pervyy-avtomobil" title="" style="color: #FFFFFF">
          <div class="main-pic-list-date">
            <div class="main-pic-list-date-item">Госпрограмма</div>
            <div class="main-pic-list-date-item">первый авто</div>
            <div class="main-pic-list-date-item">Семейный авто</div>
          </div>
        </a>
      </div>
      <div class="main-pic-list-item img-1 casko">
        <div class="main-pic-list-date">
          <div class="main-pic-list-date-item">Каско</div>
          <div class="main-pic-list-date-item">в подарок!</div>
        </div>
      </div>
      <div class="main-pic-list-item img-3 pay_three">
        <div class="main-pic-list-date">
          <div class="main-pic-list-date-item">3</div>
          <div class="main-pic-list-date-item">Платежа</div>
          <div class="main-pic-list-date-item">за наш счёт</div>
        </div>
      </div>
    </div>
  </section>
  <div class="f__block__center">
    <div class="tradein_w">Как это работает?</div>
    <div class="form__tradein-l">
      <b class="abn">1. Укажите желаемый и старый авто</b>
      <div class="row"><span>Вы выбираете понравившуюся модель в нашем салоне, мы оцениваем Ваш старый автомобиль с пробегом и предлагаем его стоимость. Эта цена будет учтена при определении стоимости новой машины. Вам достаточно будет доплатить лишь разницу.</span></div>
      <b class="abn">2. Дополнительные услуги</b>
      <div class="row"><span>Далее мы можем поставить Ваш новый автомобиль на учёт в ГИБДД, и установить необходимое дополнительное оборудование согласно Вашим пожеланиям.<strong>И всё! Вы обладатель нового желанного автомобиля!</strong></span></div>
    </div>
  </div>












<div class="tr_fh">Заявка trade in</div>
<div class="tradein_form">
  <%= form_for Ticket.new,url: {action:'create',controller:'tickets' },remote:true,validate:true,:html => {:class => 'form section-tradein__form spec_modal_new_ticket',:name=>'tradein'},:namespace => 'tradein' do |f| %>
    <%= f.hidden_field :form_name, value:'trade_in' %>
    <%= hidden_field_tag 'ticket[other][tradein_toggle]', '1' %>
    <div class="tr_flbl">
      <div class="tr_flb">
        <div class="tr_flb-1">
          <span class="tr_fins">Ваш авто с пробегом</span>
          <div class="form_input">
            <%= f.text_field :other,class:'input',placeholder:'Марка' %>
          </div>
          <div class="form_input">
            <%= f.text_field :other,class:'input',placeholder:'Модель' %>
          </div>
          <div class="form_input">
            <select class="select input--hascontent" name="ticket[other][year]">
              <option>Год выпуска</option>
              <option value="2020">2020</option>
              <option value="2019">2019</option>
              <option value="2018">2018</option>
              <option value="2017">2017</option>
              <option value="2016">2016</option>
              <option value="2015">2015</option>
              <option value="2014">2014</option>
              <option value="2013">2013</option>
              <option value="2012">2012</option>
              <option value="2011">2011</option>
              <option value="2010">2010</option>
              <option value="2009">2009</option>
              <option value="2008">2008</option>
              <option value="2007">2007</option>
              <option value="2006">2006</option>
              <option value="2005">2005</option>
              <option value="2004">2004</option>
              <option value="2003">2003</option>
              <option value="2002">2002</option>
              <option value="2001">2001</option>
              <option value="2000">2000</option>
              <option value="1999">1999</option>
              <option value="1998">1998</option>
              <option value="1997">1997</option>
              <option value="1996">1996</option>
              <option value="1995">1995</option>
              <option value="1994">1994</option>
              <option value="1993">1993</option>
              <option value="1992">1992</option>
              <option value="1991">1991</option>
              <option value="1990">1990</option>
            </select>
          </div>
        </div>
        <div class="tr_flb-2">
          <span class="tr_fins">Новый авто</span>
          <div class="form_input">
            <%= select_tag 'ticket[other][marka]', options_from_collection_for_select(@brands, 'id', 'title'), prompt: 'Выберите марку', id:'credit_ticket_other_marka', class:'select' %>
          </div>
          <div class="form_input">
            <%= select_tag 'ticket[other][model]', raw('<option>Выберите модель</option>'), id:'credit_ticket_other_model', class:'select', disabled: 'true' %>
          </div>

          <div class="form_input">
            <%= select_tag 'ticket[other][equipment]', raw('<option>Выберите комплектацию</option>'), id:'credit_ticket_other_complect', class:'select', disabled: 'true' %>
          </div>
        </div>
      </div>

      <div class="tr_frb">
        <span class="tr_fin">Контактные данные</span>
        <div class="form_input"><%= f.text_field :name,class:'input',placeholder:'Ваше Имя' %></div>
        <div class="form_input"><%= f.phone_field :phone,class:'input',data:{:role=>'phone'},placeholder:'Номер телефона *' %></div>
        <div class="form_input"><%= f.button do %><span>Оставить заявку</span><% end %></div>
      </div>

    </div>


  <% end %>
</div>



<div class="card__box">
  <div>
    <h2>Популярные модели</h2>
  </div>
  <div class="card_box_slide row justify-content-between align-items-center">
    <%= render partial:'new_cars/small_new_cars', collection: @hit.limit(10).where('`new_cars`.`hide` = 0'), locals: {:show_brand => true, :credit_flag => false} %>
  </div>
</div>

<%= render 'partials/carso/credit_form' %>

</section>