<div id="main">
  <div class="finance_page">
    <div class="finance_page_bg tradein" data-aos="fade-down" data-aos-duration="1500" data-aos-delay="1000">
      <div class="finance_page_bg__object__01 lazy rellax" data-rellax-speed="1" data-bg="img/tradein_page_bg__01.png"></div>
      <div class="finance_page_bg__object__02 lazy rellax" data-rellax-speed="3" data-bg="img/tradein_page_bg__02.png"></div>
      <div class="finance_page_bg__object__03 lazy rellax" data-rellax-speed="2" data-bg="img/tradein_page_bg__03.png"></div>
      <div class="finance_page_bg__object__04 lazy rellax" data-rellax-speed="2" data-bg="img/tradein_page_bg__04.png"></div>
      <div class="finance_page_bg__object__05 lazy rellax" data-rellax-speed="3" data-bg="img/tradein_page_bg__05.png"></div>
      <div class="finance_page_bg__object__06 lazy rellax" data-rellax-speed="3" data-bg="img/tradein_page_bg__06.png"></div>
      <div class="finance_page_bg__object__07 lazy rellax" data-rellax-speed="1" data-bg="img/tradein_page_bg__07.png"></div>
    </div>
    <div class="container">
      <div class="finance_page_title" data-aos="fade" data-aos-duration="800" data-aos-once="true">Trade-in</div>
      <div class="main_catalog_count__data" data-aos="fade-down" data-aos-duration="600" data-aos-delay="400">Счастливых клиентов: <span>3 599</span></div>
      <div class="row">
        <div class="col-6">
          <div class="credit_title tradein_title" data-aos="fade" data-aos-duration="800" data-aos-once="true">
            <div class="credit_title__01"><span>выгода</span> <br>по Trade-in</div>
            <div class="credit_title__02">до <span>150 000</span> р.</div>
          </div>
          <div class="finance_page_preview">
            <div class="parallax_down_arrow" data-pda-start="400" data-pda-delay="0"></div>
            <svg height="0" width="0">
              <defs>
                <clipPath id="parallax_down_arrow__path" clipPathUnits="userSpaceOnUse">
                  <path d="M0 131.063V0L352.257 212.415L700 0V140.103L352.257 348L0 131.063Z"/>
                </clipPath>
              </defs>
            </svg>
            <div class="finance_page_preview__car" data-aos="fade-down" data-aos-duration="700" data-aos-delay="400" data-aos-once="true">
              <img src="img/model_thumb.png">
            </div>
          </div>
        </div>
        <div class="col-6">

          <%= form_for Ticket.new,url: {action:'create',controller:'tickets' },remote:true,validate:true,:html => {:class => 'finance_page_form',:name=>'tradein'},:namespace => 'tradein' do |f| %>
            <%= f.hidden_field :form_name, value:'trade_in' %>
            <%= hidden_field_tag 'ticket[other][tradein_toggle]', '1' %>
          <form class="finance_page_form" data-aos="fade" data-aos-duration="1500" data-aos-delay="400" data-aos-once="true">
            <div class="finance_page_form__title">Выберите ваш автомобиль</div>
            <div class="row">
              <div class="col-6">
                <%= f.text_field :name,class:'input',placeholder:'Марка' %>
              </div>
              <div class="col-6">
                <%= f.text_field :name,class:'input',placeholder:'Модель' %>
              </div>
              <div class="col-6">
                <%= f.text_field :name,class:'input',placeholder:'Год выпуска' %>
              </div>
              <div class="col-6">
                <%= f.text_field :name,class:'input',placeholder:'Пробег' %>
              </div>
              <div class="col-6">
                <%= f.text_field :name,class:'input',placeholder:'КПП' %>
              </div>
              <div class="col-6">
                <div class="right_pinned_text" data-aos="fade-right" data-aos-duration="800" data-aos-once="true">
                  <div class="right_pinned_text__title">Выгода</div>
                  <div class="right_pinned_text__value">до 355 000 р.</div>
                </div>
              </div>
            </div>
            <div class="finance_page_form__title">Персональные данные</div>
            <div class="row">
              <div class="col-6">
                <%= f.text_field :name,class:'input',placeholder:'ФИО' %>
              </div>
              <div class="col-6">
                <%= f.phone_field :phone,class:"input",data:{:role=>"phone"},placeholder:"+7 (___) ___-__-__" %>
              </div>
            </div>
            <div class="finance_page_form__title">Выберите НОВЫЙ АВТОМОБИЛЬ</div>
            <div class="row">
              <div class="col-6">
                <%= select_tag 'ticket[other][marka]', options_from_collection_for_select(@brands, 'id', 'title'), prompt: 'Марка', id:'credit_ticket_other_marka', class:'select2' %>
              </div>
              <div class="col-6">
                <%= select_tag 'ticket[other][model]', raw('<option>Модель</option>'), id:'credit_ticket_other_model', class:'select2', disabled: 'true' %>
              </div>
              <div class="col-6">
                <%= select_tag 'ticket[other][equipment]', raw('<option>Комплектация</option>'), id:'credit_ticket_other_complect', class:'select2', disabled: 'true' %>
              </div>
              <div class="col-6">
                <div class="right_pinned_text" data-aos="fade-right" data-aos-duration="800" data-aos-delay="200" data-aos-once="true">
                  <div class="right_pinned_text__title">В кредит</div>
                  <div class="right_pinned_text__value">от 35 000 р./мес.</div>
                </div>
              </div>
              <div class="col-12">
                <label class="main_checkbox">
                  <span>Подтверждаю наличие паспорта РФ.</span>
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label>
                <label class="main_checkbox">
                  <span>Я понимаю, что автосалон <br>находится в Москве.</span>
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
            <%= f.button class:'btn btn-blue' do %><span>Отправить заявку</span><% end %>
          </form>
          <% end %>






        </div>
      </div>
      <div class="finance_terms">
        <div class="finance_terms_heading">
          <div class="finance_terms_heading__title">Необходимые документы</div>
        </div>
        <div class="finance_terms_list">
          <div class="finance_terms_list_item">
            <div class="finance_terms_list_item__sphere">
              <i></i>
            </div>
            <div class="finance_terms_list_item__title">Паспорт транспортного <br>средства (ПТС)</div>
          </div>
          <div class="finance_terms_list_item">
            <div class="finance_terms_list_item__sphere">
              <i></i>
            </div>
            <div class="finance_terms_list_item__title">Свидетельство <br>о регистрации автомобиля <br>(СТС)</div>
          </div>
          <div class="finance_terms_list_item">
            <div class="finance_terms_list_item__sphere">
              <i></i>
            </div>
            <div class="finance_terms_list_item__title">Генеральная доверенность <br>(если Вы не являетесь <br>собственником)</div>
          </div>
          <div class="finance_terms_list_item">
            <div class="finance_terms_list_item__sphere">
              <i></i>
            </div>
            <div class="finance_terms_list_item__title">Сервисная книжка <br>и другие документы, <br>подтверждающие <br>периодическое техническое <br>обслуживание Вашего <br>автомобиля</div>
          </div>
          <div class="finance_terms_list_item">
            <div class="finance_terms_list_item__sphere">
              <i></i>
            </div>
            <div class="finance_terms_list_item__title">Личный паспорт</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main_heading">
    <div class="container">Подарки <span>всем покупателям!</span></div>
  </div>
  <div class="main_gifts">
    <div class="container">
      <div class="main_gifts_tabs_content mgtc__01">
        <div class="main_gifts_content">
          <div class="main_gifts_content__date">Только до <%= l(SALE_DATE, format: :next_monday) %>!</div>
          <div class="main_gifts_content__title">Зимняя резина</div>
          <div class="main_gifts_content__subtitle">В подарок!</div>
          <div class="main_gifts_content__action">
            <a href="#" class="btn btn-blue gifts_popup">Участвовать в акции</a>
          </div>
        </div>
        <div class="main_gifts_images">
          <div class="main_gifts_images__backimage lazy" data-bg="img/gifts_section_back_image_01.png"></div>
          <div class="main_gifts_images__frontimage lazy" data-bg="img/gifts_section_front_image_01.png"></div>
          <div class="main_gifts_images__smallimages_left lazy" data-bg="img/gifts_section_smallfront_left_01.png"></div>
          <div class="main_gifts_images__smallimages_right lazy" data-bg="img/gifts_section_smallfront_right_01.png"></div>
        </div>
      </div>
      <div class="main_gifts_tabs_content mgtc__02">
        <div class="main_gifts_content">
          <div class="main_gifts_content__date">Только до <%= l(SALE_DATE, format: :next_monday) %>!</div>
          <div class="main_gifts_content__title">Страховка <br>КАСКО</div>
          <div class="main_gifts_content__subtitle">В подарок!</div>
          <div class="main_gifts_content__action">
            <a href="#" class="btn btn-blue gifts_popup">Участвовать в акции</a>
          </div>
        </div>
        <div class="main_gifts_images">
          <div class="main_gifts_images__backimage lazy" data-bg="img/gifts_section_back_image_02.png"></div>
          <div class="main_gifts_images__frontimage lazy" data-bg="img/gifts_section_front_image_02.png"></div>
          <div class="main_gifts_images__smallimages_left lazy" data-bg="img/gifts_section_smallfront_left_02.png"></div>
          <div class="main_gifts_images__smallimages_right lazy" data-bg="img/gifts_section_smallfront_right_02.png"></div>
          <div class="main_gifts_images__smallimages_abs lazy" data-bg="img/gifts_section_smallfront_abs_02_01.png"></div>
          <div class="main_gifts_images__smallimages_abs lazy" data-bg="img/gifts_section_smallfront_abs_02_02.png"></div>
        </div>
      </div>
      <div class="main_gifts_tabs_content mgtc__03">
        <div class="main_gifts_content">
          <div class="main_gifts_content__date">Только до <%= l(SALE_DATE, format: :next_monday) %>!</div>
          <div class="main_gifts_content__title">3 платежа <br>по кредиту</div>
          <div class="main_gifts_content__subtitle">В подарок!</div>
          <div class="main_gifts_content__action">
            <a href="#" class="btn btn-blue gifts_popup">Участвовать в акции</a>
          </div>
        </div>
        <div class="main_gifts_images">
          <div class="main_gifts_images__backimage"></div>
          <div class="main_gifts_images__frontimage lazy" data-bg="img/gifts_section_front_image_03.png"></div>
          <div class="main_gifts_images__smallimages_left lazy" data-bg="img/gifts_section_smallfront_left_03.png"></div>
          <div class="main_gifts_images__smallimages_right lazy" data-bg="img/gifts_section_smallfront_right_03.png"></div>
        </div>
      </div>
      <div class="main_gifts_tabs_content mgtc__04">
        <div class="main_gifts_content">
          <div class="main_gifts_content__date">Только до <%= l(SALE_DATE, format: :next_monday) %>!</div>
          <div class="main_gifts_content__title">200 литров топлива</div>
          <div class="main_gifts_content__subtitle">В подарок!</div>
          <div class="main_gifts_content__action">
            <a href="#" class="btn btn-blue gifts_popup">Участвовать в акции</a>
          </div>
        </div>
        <div class="main_gifts_images">
          <div class="main_gifts_images__backimage lazy" data-bg="img/gifts_section_back_image_04.png"></div>
          <div class="main_gifts_images__frontimage lazy" data-bg="img/gifts_section_front_image_04.png"></div>
          <div class="main_gifts_images__smallimages_left lazy" data-bg="img/gifts_section_smallfront_left_04.png"></div>
          <div class="main_gifts_images__smallimages_right lazy" data-bg="img/gifts_section_smallfront_right_04.png"></div>
        </div>
      </div>
      <div class="main_gifts_tabs_nav">
        <div class="main_gifts_tabs_nav__item">Зимняя резина <br><span>в подарок!</span></div>
        <div class="main_gifts_tabs_nav__item">Страховка КАСКО <br><span>в подарок!</span></div>
        <div class="main_gifts_tabs_nav__item">3 платежа по кредиту <br><span>в подарок!</span></div>
        <div class="main_gifts_tabs_nav__item">200 литров топлива <br><span>в подарок!</span></div>
      </div>
    </div>
    <svg height="0" width="0">
      <defs>
        <clipPath id="main_gifts_arrow_clip" clipPathUnits="userSpaceOnUse">
          <path d="M0 131.063V0L352.257 212.415L700 0V140.103L352.257 348L0 131.063Z"/>
        </clipPath>
      </defs>
    </svg>
  </div>
  <div class="main_benefit">
    <div class="main_benefit_leftbg">
      <div class="main_benefit_leftbg__image"></div>
    </div>
    <div class="main_benefit_rightbg">
      <div class="main_benefit_rightbg__image"></div>
    </div>
    <div class="main_benefit_content">
      <div class="container">
        <div class="main_benefit_content__title">Выгода</div>
        <div class="main_benefit_content__value">до <span>500 000</span> р.</div>
        <div class="main_benefit_content__subtitle">При покупке автомобиля в кредит</div>
        <%= form_for Ticket.new,url: {action:"create",controller:"tickets" },remote:true,validate:true,:html => {:class => "main_benefit_content__form",:name=>"newcarreq"},:namespace => "newcarreq" do |f| %>
          <%= hidden_field_tag 'ticket[other][model]', id:'newcarreq_ticket_other_model' %>
          <%= f.hidden_field :form_name, value:"benefit" %>
          <div>
            <%= f.text_field :name,class:"input",placeholder:"ФИО" %>
            <%= f.phone_field :phone,class:"input",data:{:role=>"phone"},placeholder:"+7 (___) ___-__-__" %>
          </div>
          <%= f.button class: "btn btn-white" do %><span>Получить выгоду</span><% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="main_seo_section">
    <div class="container">
      <p>Программа TRADE-IN — это наиболее удобный способ приобретения нового транспортного средства. В данном случае цена за ваш старый автомобиль учитывается в счет стоимости новой машины.</p>
      <p>Интересует вопрос, что нужно сделать, чтобы воспользоваться этой программой? В первую очередь выберите модель машины, которую желаете приобрести. Далее вам нужно отдать свое старое авто продавцу и внести недостающую сумму в стоимость нового. На заключительном этапе остается только забрать новую машину. <br>Вас заинтересовало предложение купить автомобиль по TRADE-IN? Замечательно! Компания <b>Vostok моторс</b> готова предложить машины не только для физических лиц, но и автомобили для организаций.</p>
      <p>Салон CarwinMotors разработал уникальную систему оценки автомобильного транспорта. Мы индивидуально подходим к каждому клиенту и максимально точно производим расчет стоимости по программе TRADE-IN. Наше бесспорное преимущество в том, что довольно часто клиент не производит доплату за новый автомобиль, а иногда даже получает доплату в размере разницы стоимости нового и старого авто. Знаете ли вы компании, которые предлагают такие выгодные условия? Мы уникальны! Звоните, чтобы знать больше!</p>
    </div>
  </div>
  <div class="main_heading">
    <div class="container">Бестселлеры <span>Vostok моторс</span></div>
  </div>
  <div class="main_catalog">
    <div class="container">
      <div class="row">
        <%= render partial:'new_cars/small_new_cars_main', collection: @hit.limit(20).where('`new_cars`.`hide` = 0').where('`new_cars`.`archive` = 0'), locals: {:show_brand => true, :credit_flag => false} %>
      </div>
      <div class="main_catalog_more">
        <a href="/newauto" class="btn btn-black">Перейти в каталог</a>
      </div>
    </div>
  </div>
  <div class="main_help_find">
    <div class="container">
      <div class="main_help_find__title">Затрудняетесь с выбором автомобиля?</div>
      <div class="main_help_find__subtitle">Мы вам поможем!</div>
      <div class="main_help_find__clients" data-aos="fade-down" data-aos-duration="600" data-aos-delay="300" data-aos-once="true">Счастливых клиентов: <span>3 599</span></div>
      <%= form_for Ticket.new,url: {action:"create",controller:"tickets" },remote:true,validate:true,:html => {:class => "main_help_find__form",:name=>"newcarreq"},:namespace => "newcarreq" do |f| %>
        <%= hidden_field_tag 'ticket[other][model]', id:'newcarreq_ticket_other_model' %>
        <%= f.hidden_field :form_name, value:"help_find" %>
        <div>
          <%= f.text_field :name,class:"input",placeholder:"ФИО" %>
          <%= f.phone_field :phone,class:"input",data:{:role=>"phone"},placeholder:"+7 (___) ___-__-__" %>
        </div>
        <%= f.button class: "btn btn-blue" do %><span>Отправить запрос</span><% end %>
      <% end %>
    </div>
  </div>
  <div class="main_heading">
    <div class="container">Отзывы клиентов <span>Vostok моторс</span></div>
  </div>
  <div class="main_reviews">
    <div class="container">
      <div class="swiper main_reviews_slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="main_reviews_item">
              <div class="main_reviews_item__photo lazy" data-bg="img/reviews_photo.png"></div>
              <div class="main_reviews_item__content">
                <div class="main_reviews_item__content__title">Елманова Марина Маихайловна</div>
                <div class="main_reviews_item__content__description">Приехали в автосалон, встретили менеджера Алексея, помог в выборе автомобиля, нам сделали скидку, подарили подарки. Покупкой очень довольны.</div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="main_reviews_item">
              <div class="main_reviews_item__photo lazy" data-bg="img/reviews_photo.png"></div>
              <div class="main_reviews_item__content">
                <div class="main_reviews_item__content__title">Елманова Марина Маихайловна</div>
                <div class="main_reviews_item__content__description">Приехали в автосалон, встретили менеджера Алексея, помог в выборе автомобиля, нам сделали скидку, подарили подарки. Покупкой очень довольны.</div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="main_reviews_item">
              <div class="main_reviews_item__photo lazy" data-bg="img/reviews_photo.png"></div>
              <div class="main_reviews_item__content">
                <div class="main_reviews_item__content__title">Елманова Марина Маихайловна</div>
                <div class="main_reviews_item__content__description">Приехали в автосалон, встретили менеджера Алексея, помог в выборе автомобиля, нам сделали скидку, подарили подарки. Покупкой очень довольны.</div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="main_reviews_item">
              <div class="main_reviews_item__photo lazy" data-bg="img/reviews_photo.png"></div>
              <div class="main_reviews_item__content">
                <div class="main_reviews_item__content__title">Елманова Марина Маихайловна</div>
                <div class="main_reviews_item__content__description">Приехали в автосалон, встретили менеджера Алексея, помог в выборе автомобиля, нам сделали скидку, подарили подарки. Покупкой очень довольны.</div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="main_reviews_item">
              <div class="main_reviews_item__photo lazy" data-bg="img/reviews_photo.png"></div>
              <div class="main_reviews_item__content">
                <div class="main_reviews_item__content__title">Елманова Марина Маихайловна</div>
                <div class="main_reviews_item__content__description">Приехали в автосалон, встретили менеджера Алексея, помог в выборе автомобиля, нам сделали скидку, подарили подарки. Покупкой очень довольны.</div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="main_reviews_item">
              <div class="main_reviews_item__photo lazy" data-bg="img/reviews_photo.png"></div>
              <div class="main_reviews_item__content">
                <div class="main_reviews_item__content__title">Елманова Марина Маихайловна</div>
                <div class="main_reviews_item__content__description">Приехали в автосалон, встретили менеджера Алексея, помог в выборе автомобиля, нам сделали скидку, подарили подарки. Покупкой очень довольны.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="main_reviews_slider_navigation">
        <div class="swiper-button-prev swiper-button-prev--custom">
          <svg width="30" height="52" viewBox="0 0 30 52" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M23.299 50.5227L1.02513 28.2489C-0.341707 26.882 -0.341707 24.6659 1.02513 23.2991L23.299 1.02525C24.6658 -0.341583 26.8819 -0.341583 28.2487 1.02525C29.6156 2.39208 29.6156 4.60816 28.2487 5.975L8.44975 25.774L28.2487 45.573C29.6156 46.9398 29.6156 49.1559 28.2487 50.5227C26.8819 51.8896 24.6658 51.8896 23.299 50.5227Z" fill="#9D9D9D"/>
          </svg>
        </div>
        <div class="swiper-button-next swiper-button-next--custom">
          <svg width="30" height="52" viewBox="0 0 30 52" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M5.97487 50.5227L28.2487 28.2489C29.6156 26.882 29.6156 24.6659 28.2487 23.2991L5.97487 1.02525C4.60804 -0.341583 2.39196 -0.341583 1.02513 1.02525C-0.341709 2.39208 -0.341709 4.60816 1.02513 5.975L20.8241 25.774L1.02513 45.573C-0.341709 46.9398 -0.341709 49.1559 1.02513 50.5227C2.39196 51.8896 4.60804 51.8896 5.97487 50.5227Z" fill="#9D9D9D"/>
          </svg>
        </div>
      </div>
      <div class="main_reviews_more">
        <a href="/reviews" class="btn btn-black">Все отзывы</a>
      </div>
    </div>
  </div>
</div>
<% content_for :additional_javascript do %>
<script type="text/javascript">
    var _tmr = window._tmr || (window._tmr = []);
    _tmr.push({"type":"reachGoal","id":3228203,"goal":"tradein"});
</script>
<% end %>