<% provide :title,'Трейд Ин авто в ' + @current_region.sklon3 + ' 🚗 обмен автомобилей с пробегом по Trade-In в автосалоне «Авиньон»' %>
<% provide :description,'Программа «Trade-In» от автосалона «Авиньон» — это выгодный обмен Вашего подержанного автомобиля с пробегом на новый в ' + @current_region.sklon3 + ' 🚘 Сдайте старый Б/У авто по Трейд-Ин и получите скидку на покупку новой машины и выгодные условия по кредиту!' %>
<h1 class="green">Trade in</h1>
<div class="form__tradein">
  <div class="f__block__center">
    <div class="tradein_w">Как это работает?</div>
    <div class="form__tradein-l">
      <b class="abn">Укажите желаемый и старый авто</b>
      <div class="row"><span>Вы выбираете понравившуюся модель в нашем салоне, мы оцениваем Ваш старый автомобиль с пробегом и предлагаем его стоимость. Эта цена будет учтена при определении стоимости новой машины. Вам достаточно будет доплатить лишь разницу.</span></div>
      <b class="abn">Дополнительные услуги</b>
      <div class="row"><span>Далее мы можем поставить Ваш новый автомобиль на учёт в ГИБДД, и установить необходимое дополнительное оборудование согласно Вашим пожеланиям.<strong>И всё! Вы обладатель нового желанного автомобиля!</strong></span></div>
    </div>
  </div>
  <div class="form_tr">
    <span class="form-sp">Экспресс заявка на трейд-ин</span>
    <span class="form-sp_s">Наш менеджер свяжется с вами в течение 5 минут</span>
  <div class="form_tradein">
   <div>
      <svg width="198" height="85" viewBox="0 0 198 85" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M24.4868 48.1214C27.6527 55.6045 32.5455 62.9436 32.5455 62.9436C32.5455 62.9436 26.306 62.7543 22.3282 62.368C20.9279 62.2321 19.8512 62.0801 18.7634 61.9265C17.7494 61.7833 16.7255 61.6388 15.4208 61.5046C14.0473 61.3633 12.9655 61.2937 11.8898 61.2245L11.8895 61.2245C10.7692 61.1524 9.6555 61.0807 8.22555 60.929C7.00736 60.7997 5.79013 60.6012 4.72249 60.4272L4.72198 60.4271C3.51781 60.2308 2.50391 60.0656 1.89373 60.0656C1.17421 60.0656 0.166873 60.4973 0.166873 60.4973C0.166873 60.4973 -0.197421 55.0864 0.454683 51.7191C0.614822 50.8921 0.786019 50.2296 0.957075 49.5677C1.12935 48.901 1.30149 48.2349 1.46204 47.4019C1.55438 46.9228 1.58567 46.4789 1.61585 46.0509C1.66628 45.3355 1.71358 44.6646 2.03766 43.9482C2.40622 43.1335 2.80131 42.7868 3.32936 42.3236L3.32958 42.3234C3.46518 42.2044 3.60956 42.0778 3.7645 41.9335C5.49138 40.3257 9.37681 39.1582 12.111 38.7676C12.7043 38.6829 13.1153 38.7469 13.5485 38.8145C13.8509 38.8616 14.164 38.9104 14.5574 38.9115C15.1127 38.913 15.4985 38.8017 15.8765 38.6925C16.458 38.5247 17.0213 38.3621 18.155 38.6237C19.5941 39.0161 20.8947 39.631 24.4868 48.1214ZM13.694 59.4899C17.3499 59.4899 20.3136 56.7195 20.3136 53.302C20.3136 49.8845 17.3499 47.1141 13.694 47.1141C10.038 47.1141 7.07433 49.8845 7.07433 53.302C7.07433 56.7195 10.038 59.4899 13.694 59.4899Z" fill="#D0D0D0"/>
        <path d="M10.2402 63.0908V65.2493C10.2402 65.407 10.1136 65.5351 9.95587 65.5352C9.30828 65.5356 7.69305 65.5221 6.57067 65.39C5.41579 65.2542 3.73912 64.87 3.13169 64.726C2.9973 64.6941 2.90634 64.5708 2.9136 64.4328L3.02661 62.2855C3.03614 62.1046 3.20763 61.9767 3.38384 62.0189C4.05385 62.1791 5.57546 62.5278 6.64262 62.6558C7.73618 62.7871 9.30697 62.8012 9.94955 62.801C10.1098 62.801 10.2402 62.9306 10.2402 63.0908Z" fill="#D0D0D0"/>
        <path d="M14.5575 72.2975C14.5575 72.2975 14.7571 75.5704 14.4136 77.622C14.0877 79.5682 13.8904 80.6631 12.9745 82.3708C12.9084 82.4941 12.8516 82.6061 12.7991 82.7098C12.5764 83.1489 12.4294 83.4387 11.9672 83.8099C11.2019 84.4244 9.52081 84.2416 9.52081 84.2416C9.52081 84.2416 6.29798 84.2826 4.91585 83.5221C4.1026 83.0745 3.98344 82.8181 3.77983 82.3799C3.70397 82.2167 3.61638 82.0282 3.4768 81.7952C2.54134 80.2336 2.40747 79.1725 2.20766 77.5887C2.15911 77.2038 2.10667 76.7881 2.03788 76.3268C1.58199 73.2697 1.89385 67.9803 1.89385 67.9803C1.89385 67.9803 5.72484 69.5837 8.22567 70.4267C10.7265 71.2697 14.5575 72.2975 14.5575 72.2975Z" fill="#D0D0D0"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M70.2487 48.1214C67.0827 55.6045 62.19 62.9436 62.19 62.9436C62.19 62.9436 68.4295 62.7543 72.4072 62.368C73.8076 62.2321 74.8842 62.0801 75.9721 61.9265C76.9861 61.7833 78.01 61.6388 79.3147 61.5046C80.6882 61.3633 81.77 61.2937 82.8457 61.2245L82.846 61.2245C83.9662 61.1524 85.08 61.0807 86.5099 60.929C87.7281 60.7997 88.9454 60.6012 90.013 60.4272L90.0135 60.4271C91.2177 60.2308 92.2316 60.0656 92.8417 60.0656C93.5613 60.0656 94.5686 60.4973 94.5686 60.4973C94.5686 60.4973 94.9329 55.0864 94.2808 51.7191C94.1207 50.8921 93.9495 50.2296 93.7784 49.5677C93.6061 48.901 93.434 48.2349 93.2734 47.4019C93.1811 46.9228 93.1498 46.4789 93.1196 46.0509C93.0692 45.3355 93.0219 44.6646 92.6978 43.9482C92.3293 43.1335 91.9342 42.7868 91.4061 42.3236L91.4059 42.3234C91.2703 42.2044 91.1259 42.0778 90.971 41.9335C89.2441 40.3257 85.3587 39.1582 82.6245 38.7676C82.0312 38.6829 81.6201 38.7469 81.1869 38.8145C80.8846 38.8616 80.5715 38.9104 80.1781 38.9115C79.6228 38.913 79.237 38.8017 78.859 38.6925C78.2774 38.5247 77.7142 38.3621 76.5805 38.6237C75.1414 39.0161 73.8407 39.631 70.2487 48.1214ZM81.0415 59.4899C77.3856 59.4899 74.4219 56.7195 74.4219 53.302C74.4219 49.8845 77.3856 47.1141 81.0415 47.1141C84.6974 47.1141 87.6611 49.8845 87.6611 53.302C87.6611 56.7195 84.6974 59.4899 81.0415 59.4899Z" fill="#D0D0D0"/>
        <path d="M84.4952 63.0908V65.2493C84.4952 65.407 84.6219 65.5351 84.7796 65.5352C85.4272 65.5356 87.0424 65.5221 88.1648 65.39C89.3197 65.2542 90.9964 64.87 91.6038 64.726C91.7382 64.6941 91.8291 64.5708 91.8219 64.4328L91.7089 62.2855C91.6993 62.1046 91.5278 61.9767 91.3516 62.0189C90.6816 62.1791 89.16 62.5278 88.0929 62.6558C86.9993 62.7871 85.4285 62.8012 84.7859 62.801C84.6257 62.801 84.4952 62.9306 84.4952 63.0908Z" fill="#D0D0D0"/>
        <path d="M80.178 72.2975C80.178 72.2975 79.9784 75.5704 80.3219 77.622C80.6477 79.5682 80.8451 80.6631 81.7609 82.3708C81.8271 82.4941 81.8839 82.6061 81.9364 82.7098C82.1591 83.1489 82.306 83.4387 82.7683 83.8099C83.5336 84.4244 85.2147 84.2416 85.2147 84.2416C85.2147 84.2416 88.4375 84.2826 89.8196 83.5221C90.6329 83.0745 90.752 82.8181 90.9557 82.3799C91.0315 82.2167 91.1191 82.0282 91.2587 81.7952C92.1941 80.2336 92.328 79.1725 92.5278 77.5887C92.5764 77.2038 92.6288 76.7881 92.6976 76.3268C93.1535 73.2697 92.8416 67.9803 92.8416 67.9803C92.8416 67.9803 89.0106 69.5837 86.5098 70.4267C84.009 71.2697 80.178 72.2975 80.178 72.2975Z" fill="#D0D0D0"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M21.3209 12.433C22.9039 7.68412 36.287 5.81335 47.3677 5.81335C58.4484 5.81335 71.8316 7.68412 73.4146 12.433C74.9975 17.1819 77.4439 27.543 77.4439 27.8308C77.551 28.0449 77.6278 28.026 77.7418 27.9979C77.7811 27.9882 77.8248 27.9775 77.8756 27.9747C77.9318 27.8063 77.9386 27.6723 77.9454 27.541C77.9558 27.3359 77.966 27.1372 78.1634 26.8235C78.3444 26.536 78.6827 26.3451 78.9711 26.1824C79.1987 26.054 79.3951 25.9431 79.4586 25.8162C79.5038 25.7258 79.5206 25.5686 79.5402 25.3853C79.5831 24.9846 79.6393 24.4589 80.0342 24.2332C81.0415 23.6576 85.9382 23.7542 86.2221 23.8015C87.0856 23.9454 87.0856 25.5283 87.0856 25.5283C87.0856 25.5283 87.2294 27.2552 86.7977 28.1186C86.5099 28.6943 81.0415 28.6943 81.0415 28.6943C81.0415 28.6943 80.1449 28.6291 79.7464 27.9747C79.6024 27.7384 79.7464 26.8235 79.7464 26.8235L79.0269 27.1113V28.9821L78.4513 29.126C78.4513 29.126 77.7936 28.7653 77.8756 28.9821C79.8903 34.3065 80.4659 38.4379 80.322 38.4798C78.739 38.192 77.3222 38.0255 76.0048 38.3359C74.7097 38.7676 73.8463 39.9188 73.8463 39.9188C73.8463 39.9188 72.5511 41.214 70.9682 45.5311C70.813 45.8596 70.6536 46.1974 70.4904 46.5432C67.8055 52.2345 64.1137 60.0598 61.6144 62.9436C61.0387 63.3754 47.3677 63.3754 47.3677 63.3754C47.3677 63.3754 33.6968 63.3754 33.1211 62.9436C30.6218 60.0598 26.93 52.2345 24.245 46.5432C24.0819 46.1974 23.9225 45.8596 23.7673 45.5311C22.1844 41.214 20.8892 39.9188 20.8892 39.9188C20.8892 39.9188 20.0258 38.7676 18.7306 38.3359C17.4133 38.0255 15.9964 38.192 14.4135 38.4798C14.2696 38.4379 14.8452 34.3065 16.8598 28.9821C16.9418 28.7653 16.2842 29.126 16.2842 29.126L15.7086 28.9821V27.1113L14.9891 26.8235C14.9891 26.8235 15.133 27.7384 14.9891 27.9747C14.5906 28.6291 13.6939 28.6943 13.6939 28.6943C13.6939 28.6943 8.22562 28.6943 7.93779 28.1186C7.50605 27.2552 7.64992 25.5283 7.64992 25.5283C7.64992 25.5283 7.64992 23.9454 8.51335 23.8015C8.79724 23.7542 13.6939 23.6576 14.7013 24.2332C15.0962 24.4589 15.1524 24.9846 15.1953 25.3853C15.2149 25.5686 15.2317 25.7258 15.2769 25.8162C15.3404 25.9431 15.5368 26.054 15.7644 26.1824C16.0527 26.3451 16.391 26.536 16.572 26.8235C16.7695 27.1372 16.7796 27.3359 16.7901 27.541C16.7968 27.6723 16.8037 27.8063 16.8598 27.9747C16.9107 27.9775 16.9544 27.9882 16.9936 27.9979C17.1077 28.026 17.1845 28.0449 17.2916 27.8308C17.2916 27.543 19.7379 17.1819 21.3209 12.433ZM34.3442 25.3933C39.3958 25.1151 47.3484 24.9657 47.3677 24.9654C47.387 24.9657 55.3397 25.1151 60.3913 25.3933C64.2209 25.6042 69.6347 26.0682 72.0381 26.281C72.7048 26.3401 73.2727 25.8211 73.2365 25.1528C73.0873 22.3924 72.2986 15.72 68.2054 12.4129C65.03 9.84747 47.3964 9.9878 47.3677 9.98803C47.339 9.9878 29.7054 9.84747 26.5301 12.4129C22.4369 15.72 21.6481 22.3924 21.4989 25.1528C21.4628 25.8211 22.0307 26.3401 22.6974 26.281C25.1008 26.0682 30.5146 25.6042 34.3442 25.3933ZM45.497 57.0435C45.6978 56.3405 46.2395 37.5097 46.4337 30.5382C46.4733 29.1172 45.3621 27.9343 43.9412 27.8906C41.1803 27.8057 36.7706 27.6869 33.6968 27.6869C29.342 27.6869 24.8447 28.4709 22.5623 28.9354C22.0371 29.0423 21.8615 29.884 22.2577 30.2449C22.5196 30.4837 22.8293 30.7782 23.1917 31.1406C24.6363 32.981 26.4295 36.1903 27.5088 38.192C29.4912 41.8685 31.826 47.9775 31.826 47.9775C31.826 47.9775 34.6044 54.557 37.5822 57.907C38.7334 59.2021 40.789 60.8071 42.9067 60.0655C44.3699 59.5532 45.07 58.5381 45.497 57.0435ZM49.2385 57.0435C49.0376 56.3405 48.496 37.5097 48.3017 30.5382C48.2621 29.1172 49.3733 27.9343 50.7942 27.8906C53.5552 27.8057 57.9649 27.6869 61.0387 27.6869C65.3935 27.6869 69.8908 28.4709 72.1732 28.9354C72.6984 29.0423 72.8739 29.884 72.4778 30.2449C72.2158 30.4837 71.9062 30.7782 71.5438 31.1406C70.0992 32.981 68.3059 36.1903 67.2266 38.192C65.2443 41.8685 62.9095 47.9775 62.9095 47.9775C62.9095 47.9775 60.1311 54.557 57.1533 57.907C56.002 59.2021 53.9464 60.8071 51.8288 60.0655C50.3656 59.5532 49.6655 58.5381 49.2385 57.0435Z" fill="#D0D0D0"/>
        <path d="M3.47671 66.3974C8.65729 67.8364 47.3677 69.8511 47.3677 69.8511C47.3677 69.8511 86.0782 67.8364 91.2588 66.3974C92.4947 66.054 93.5612 64.9583 93.5612 64.9583L93.7052 66.2535C93.7052 66.2535 86.2221 69.8511 78.3073 71.7218C71.9755 73.4806 49.6702 75.7512 47.3677 75.7512C45.0653 75.7512 22.76 73.4806 16.4282 71.7218C8.51338 69.8511 1.03032 66.2535 1.03032 66.2535L1.17423 64.9583C1.17423 64.9583 2.24075 66.054 3.47671 66.3974Z" fill="#D0D0D0"/>
        <path d="M99.1651 84.0825C96.0194 84.9103 87.2446 84.3526 86.4168 83.9169C83.2709 82.2613 83.1056 59.248 83.9332 56.4334C84.2645 61.0692 86.4168 72.0438 88.4033 73.652C91.1603 75.8839 96.9381 75.7943 99.9439 75.7476C100.952 75.732 101.648 75.7212 101.814 75.8043C101.814 75.951 101.819 76.141 101.825 76.3651C101.877 78.418 102.001 83.3362 99.1651 84.0825Z" fill="#1260B0"/>
        <path d="M182.278 84.0825C185.424 84.9103 194.199 84.3526 195.026 83.9169C198.172 82.2613 198.338 59.248 197.51 56.4334C197.179 61.0692 195.026 72.0438 193.04 73.652C190.283 75.8839 184.505 75.7943 181.499 75.7476C180.492 75.732 179.795 75.7212 179.629 75.8043C179.629 75.951 179.624 76.141 179.619 76.3651C179.567 78.418 179.442 83.3362 182.278 84.0825Z" fill="#1260B0"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M164.232 1.13524C168.04 1.63193 170.211 2.31572 171.516 3.78425C174 8.08889 182.444 25.4731 182.444 25.4731L183.271 25.6386L184.099 24.1486C184.099 24.1486 183.106 19.8704 187.41 19.1816C191.55 18.5194 193.702 21.1684 193.702 21.1684C193.702 21.1684 195.523 22.9896 194.364 24.6452C192.212 26.9631 190.06 27.2943 186.748 26.9631C186.748 27.1287 186.748 27.2943 186.086 28.1221C189.894 29.281 193.536 34.9102 193.536 34.9102C197.179 39.7661 197.841 43.5195 197.344 50.9698C197.14 52.3998 196.908 53.7458 196.682 55.0538L196.682 55.0545L196.682 55.0552C196.359 56.927 196.049 58.7211 195.854 60.5725L195.832 60.7792L195.82 60.9017L195.82 60.9028C195.455 64.3873 195.074 68.0151 192.874 72.1619C192.372 72.951 191.274 73.8847 189.232 74.3143C186.796 74.8265 183.362 74.8176 181.21 74.812H181.205H181.204H181.203C180.997 74.8115 180.803 74.8109 180.622 74.8109C179.896 74.8109 174.062 74.9689 167.046 75.1589L167.044 75.159L167.043 75.159C149.429 75.6359 132.015 75.6359 114.401 75.159L114.4 75.159L114.397 75.1589C107.382 74.9689 101.547 74.8109 100.821 74.8109C100.64 74.8109 100.445 74.8115 100.238 74.812H100.233C98.0809 74.8176 94.6473 74.8265 92.2115 74.3143C90.1688 73.8847 89.0713 72.951 88.5692 72.1619C86.3688 68.0151 85.9887 64.3873 85.6237 60.9028L85.6236 60.9017C85.6121 60.7918 85.6006 60.6821 85.589 60.5725C85.3942 58.7211 85.0845 56.927 84.7615 55.0552C84.5356 53.7468 84.3033 52.4003 84.0989 50.9698C83.6021 43.5195 84.2645 39.7661 87.9069 34.9102C87.9069 34.9102 91.5493 29.281 95.3573 28.1221C94.695 27.2943 94.695 27.1287 94.695 26.9631C91.3837 27.2943 89.2314 26.9631 87.0791 24.6452C85.9201 22.9896 87.7413 21.1684 87.7413 21.1684C87.7413 21.1684 89.8937 18.5194 94.0327 19.1816C98.3374 19.8704 97.344 24.1486 97.344 24.1486L98.1718 25.6386L98.9996 25.4731C98.9996 25.4731 107.443 8.08889 109.927 3.78425C111.232 2.31572 113.404 1.63193 117.212 1.13524C132.043 0.009884 149.449 0.0167448 164.232 1.13524ZM114.397 69.844C114.381 69.8405 114.362 69.8363 114.34 69.8315C113.95 69.747 112.674 69.4707 112.079 68.8507C110.424 66.6983 106.362 60.0758 111.914 60.0758L140.722 60.2414L169.53 60.0758C175.081 60.0758 171.02 66.6983 169.364 68.8507C168.769 69.4707 167.493 69.747 167.104 69.8315C167.082 69.8363 167.062 69.8405 167.046 69.844C152.534 71.4134 128.909 71.4134 114.397 69.844ZM140.722 51.1037C140.402 51.1037 139.902 51.104 139.254 51.1044L139.225 51.1044C133.038 51.108 113.511 51.1194 106.781 50.9698C104.895 50.6554 104.736 50.1493 104.643 49.8559L104.638 49.8394L104.634 49.8264L104.629 49.8109C103.801 47.3274 109.927 40.3738 117.874 39.3804C123.006 38.7388 140.722 38.7181 140.722 38.7181C140.722 38.7181 158.437 38.7388 163.569 39.3804C171.516 40.3738 177.642 47.3274 176.814 49.8109L176.809 49.8264L176.805 49.8394L176.8 49.8559C176.708 50.1493 176.549 50.6554 174.662 50.9698C167.933 51.1194 148.405 51.108 142.218 51.1044L142.189 51.1044C141.541 51.104 141.041 51.1037 140.722 51.1037ZM140.722 33.5857H128.801C128.47 33.5857 126.152 32.2612 127.311 31.1022C127.715 30.6987 140.722 30.9366 140.722 30.9366C140.722 30.9366 153.729 30.6987 154.132 31.1022C155.291 32.2612 152.973 33.5857 152.642 33.5857H140.722ZM140.722 23.8433C140.722 23.8433 126.814 23.8433 100.655 25.3075C101.643 23.4427 102.738 21.2311 103.952 18.7797C105.94 14.7646 108.247 10.1058 110.92 5.27432C111.119 4.94319 111.748 4.48789 113.404 4.28094C130.089 3.51981 151.35 3.51929 168.04 4.28094C169.695 4.48789 170.324 4.94319 170.523 5.27432C173.196 10.1056 175.503 14.7642 177.491 18.7792L177.491 18.7797C178.705 21.2311 179.801 23.4427 180.788 25.3075C154.629 23.8433 140.722 23.8433 140.722 23.8433ZM93.0296 45.409C96.3159 47.0702 100.596 45.2204 102.589 41.2773C104.582 37.3342 103.534 32.7911 100.247 31.1299C96.961 29.4687 92.6812 31.3186 90.688 35.2616C88.6949 39.2047 89.7432 43.7479 93.0296 45.409ZM100.324 61.897C100.324 63.7258 98.8416 65.2083 97.0129 65.2083C95.1841 65.2083 93.7016 63.7258 93.7016 61.897C93.7016 60.0682 95.1841 58.5857 97.0129 58.5857C98.8416 58.5857 100.324 60.0682 100.324 61.897ZM188.414 45.409C185.127 47.0702 180.847 45.2204 178.854 41.2773C176.861 37.3342 177.91 32.7911 181.196 31.1299C184.482 29.4687 188.762 31.3186 190.755 35.2616C192.748 39.2047 191.7 43.7479 188.414 45.409ZM181.119 61.897C181.119 63.7258 182.602 65.2083 184.43 65.2083C186.259 65.2083 187.742 63.7258 187.742 61.897C187.742 60.0682 186.259 58.5857 184.43 58.5857C182.602 58.5857 181.119 60.0682 181.119 61.897Z" fill="#1260B0"/>
        <path d="M108.768 49.8109L140.722 49.8109L172.675 49.8109C173.062 49.6453 173.834 49.248 173.834 48.9831C173.834 48.9705 173.835 48.9567 173.835 48.9416L173.835 48.9171C173.846 48.5132 173.875 47.3491 171.848 45.0095C169.695 42.5261 169.364 42.3605 166.218 41.2016C163.304 39.8771 140.722 39.7115 140.722 39.7115C140.722 39.7115 118.139 39.8771 115.225 41.2016C112.079 42.3605 111.748 42.5261 109.596 45.0095C107.568 47.3491 107.598 48.5132 107.608 48.9171L107.608 48.9416C107.609 48.9567 107.609 48.9705 107.609 48.9831C107.609 49.248 108.382 49.6453 108.768 49.8109Z" fill="#1260B0"/>
      </svg>
      <span class="date-tr">До <%= l(SALE_DATE, format: :next_monday) %> скидка</span>
      <b class="sale-tr">150 000 руб </b>
    </div>
   <div>
     <div class="form-sale-info">
          <div class="nf_i">Контактные данные</div>
        </div>
     <%= form_for Ticket.new,url: {action:"create",controller:"tickets" },remote:true,validate:true,:html => {:class => "form",:name=>"newcarreq"},:namespace => "tradeinpage" do |f| %>
    <%= f.hidden_field :form_name, value:'trade_in' %>
    <%= hidden_field_tag 'ticket[other][tradein_toggle]', '1' %>
        <div class="form_input">
          <%= f.text_field :name,class:"input",placeholder:"Ваше имя" %>
        </div>
        <div class="form_input">
          <%= f.phone_field :phone,class:"input",data:{:role=>"phone"},placeholder:"Номер телефона"  %>
        </div>
        <div class="form_input">
          <%= f.text_field :other,class:"input",placeholder:"Марка и модель вашего авто" %>
        </div>
        <%= f.button do %>
        <span>Оставить заявку</span>
        <% end %>
       <div class="secur_f">мы гарантируем конфиденциальность и защиту введённых данных</div>
        <% end %>
   </div>
  </div>
  </div>
 </div>

<div class="pr_slog_b">
  <div><%= image_tag "carso/icons/casco.svg", alt:'' %>
    <span>Бесплатное <br> КАСКО</span>
  </div>
  <div><%= image_tag "carso/icons/tire.svg", alt:'' %>
    <span>Зимняя резина в <br> подарок</span>
  </div>
  <div><%= image_tag "carso/icons/gospr.svg", alt:'' %>
    <span>Госпрограммы: <br> -10% на любое авто</span>
  </div>
  <div><%= image_tag "carso/icons/route.svg", alt:'' %>
    <span>Оплата проезда <br> до автосалона</span>
  </div>
</div>
<div class="tradein_btt">
<span class="tradein_tt">Подробнее, как это работает?</span>
<div class="row credit_bp_txt">
  <span class="col"></span>
  <div class="col"><p>Для того чтобы принять участие в программе Трейд-Ин, Вам достаточно выполнить наиболее простые условия:</p>
    <p>1. Привезти старый Б/У автомобиль нашим специалистам.</p>
    <p>2. Подготовить документы на машину.</p>
    <p>3. Взять с собой паспорт и водительское удостоверение.</p>
    <p>Приехав в наш автосалон, Вы просто выбираете понравившийся автомобиль, после чего профессионалы осмотрят Ваше авто с пробегом. На основании проведенной оценки будет озвучена цена машины, которая может быть включена в стоимость новой модели.</p>
    <p>Во время осмотра наши специалисты отслеживают текущие стоимости похожих автомобилей на рынке. Таким образом мы формируем цену, которая станет наиболее выгодной для Вас при покупке новой машины.</p></div>
</div>
</div>
<div class="tradein_btt">
<span class="tradein_tt on">Как купить новую машину по Трейд-Ин?</span>
<div class="row credit_bp_txt on">
  <span class="col"><%= image_tag "carso/png/traidin_1.png", alt:'' %></span>
  <div class="col"><p>В рамках системы, действующей в автосалоне Авиньон, Вы можете сразу купить новый автомобиль, или же оплатить стоимостью старой машины с пробегом первоначальный взнос для оформления автокредита.</p>
    <p>Во время продажи мы можем заранее установить дополнительное оборудование, необходимое именно Вам. При необходимости, мы также поможем Вам в постановке нового автомобиля на учет в ГИБДД.</p>
    <p>Система Трейд-Ин, действующая в автосалоне Авиньон, позволяет любому автовладельцу сдать свою подержанную машину, а взамен получить новую модель на наиболее выгодных условиях. Таким образом Вам не нужно тратить время и силы на продажу автомобиля, ведь все это мы берем на себя.</p>
    <p>Данной услугой пользуются все больше и больше людей, и Вы можете оказаться в числе таких счастливчиков. Ведь Трейд-Ин позволяет в любое удобное время получить новенький автомобиль в необходимой комплектации и с максимальной финансовой выгодой.</div>
</div>
</div>

<div class="tradein_form">
  <%= form_for Ticket.new,url: {action:'create',controller:'tickets' },remote:true,validate:true,:html => {:class => 'form section-tradein__form spec_modal_new_ticket',:name=>'tradein'},:namespace => 'tradein' do |f| %>
    <%= f.hidden_field :form_name, value:'trade_in' %>
    <%= hidden_field_tag 'ticket[other][tradein_toggle]', '1' %>
    <div class="tr_flbl">
      <div class="tr_fh">Заявка trade in</div>
      <div class="tr_flb">
        <div>
          <span class="tr_fins">Ваш авто с пробегом</span>
          <div class="form_input">
            <%= f.text_field :other,class:'input',placeholder:'Марка' %>
          </div>
          <div class="form_input">
            <%= f.text_field :other,class:'input',placeholder:'Модель' %>
          </div>
          <div class="form_input">
            <select class="select input--hascontent" name="ticket[other][year]">
              <option>Год выпуска</option>
              <option value="2020">2020</option>
              <option value="2019">2019</option>
              <option value="2018">2018</option>
              <option value="2017">2017</option>
              <option value="2016">2016</option>
              <option value="2015">2015</option>
              <option value="2014">2014</option>
              <option value="2013">2013</option>
              <option value="2012">2012</option>
              <option value="2011">2011</option>
              <option value="2010">2010</option>
              <option value="2009">2009</option>
              <option value="2008">2008</option>
              <option value="2007">2007</option>
              <option value="2006">2006</option>
              <option value="2005">2005</option>
              <option value="2004">2004</option>
              <option value="2003">2003</option>
              <option value="2002">2002</option>
              <option value="2001">2001</option>
              <option value="2000">2000</option>
              <option value="1999">1999</option>
              <option value="1998">1998</option>
              <option value="1997">1997</option>
              <option value="1996">1996</option>
              <option value="1995">1995</option>
              <option value="1994">1994</option>
              <option value="1993">1993</option>
              <option value="1992">1992</option>
              <option value="1991">1991</option>
              <option value="1990">1990</option>
            </select>
          </div>
        </div>
        <div>
          <span class="tr_fins">Новый авто</span>
          <div class="form_input">
            <%= select_tag 'ticket[other][marka]', options_from_collection_for_select(@brands, 'id', 'title'), prompt: 'Выберите марку', id:'credit_ticket_other_marka', class:'select' %>
          </div>
          <div class="form_input">
            <%= select_tag 'ticket[other][model]', raw('<option>Выберите модель</option>'), id:'credit_ticket_other_model', class:'select', disabled: 'true' %>
          </div>

          <div class="form_input">
            <%= select_tag 'ticket[other][equipment]', raw('<option>Выберите комплектацию</option>'), id:'credit_ticket_other_complect', class:'select', disabled: 'true' %>
          </div>
        </div>
      </div>
    </div>
    <div class="tr_frb">
      <span class="tr_fin">Контактные данные</span>
      <div class="form_input"><%= f.text_field :name,class:'input',placeholder:'Ваше Имя' %></div>
      <div class="form_input"><%= f.phone_field :phone,class:'input',data:{:role=>'phone'},placeholder:'Номер телефона *' %></div>
      <div class="form_input"><%= f.button do %><span>Оставить заявку</span><% end %><div class="secur_f">мы гарантируем конфиденциальность и защиту введённых данных</div></div>
    </div>

  <% end %>
</div>


<div class="bank_block">
  <h2>Банки партнеры</h2>
  <div class="banks__main">
    <%= render partial:'partials/carso/bank', collection: Bank.all %>
  </div>
  <div class="bank_an">Внимание!</div>
  <div class="bank_an_if">К сожалению, банки не кредитуют регионы: Республика Кабардино-Балкария, Республика Чечня, Республика Дагестан, Республика Ингушетия, Республика Карачаево-Черкесия, Магадан.</div>
</div>

<div class="card__box">
  <div>
    <h2>Популярные модели</h2>
  </div>
  <div class="card_box_slide row justify-content-between align-items-center">
    <%= render partial:'new_cars/small_new_cars', collection: @hit.limit(10).where('`new_cars`.`hide` = 0'), locals: {:show_brand => true, :credit_flag => false} %>
  </div>
</div>

<%= render 'partials/carso/credit_form' %>