<li class="partners__item">
  <div class="partners__link">
    <%= image_tag 'centr/banks/bank27.jpg',alt:'Росбанк',class:'partners__img', lazy:true %>
  </div>
</li>
<li class="partners__item">
  <div class="partners__link">
    <%= image_tag 'centr/banks/bank28.jpg',alt:'КредитЕвропаБанк',class:'partners__img', lazy:true %>
  </div>
</li>
<li class="partners__item">
  <div class="partners__link">
    <%= image_tag 'centr/banks/bank29.jpg',alt:'Райффайзен банк',class:'partners__img', lazy:true %>
  </div>
</li>
<li class="partners__item">
  <div class="partners__link">
    <%= image_tag 'centr/banks/bank30.jpg',alt:'Отпбанк',class:'partners__img', lazy:true %>
  </div>
</li>
<li class="partners__item">
  <div class="partners__link">
    <%= image_tag 'centr/banks/bank31.png',alt:'Home credit bank',class:'partners__img', lazy:true %>
  </div>
</li>
<li class="partners__item">
  <div class="partners__link">
    <%= image_tag 'centr/banks/bank32.png',alt:'Московский Кредитный Банк',class:'partners__img', lazy:true %>
  </div>
</li>
<li class="partners__item">
  <div class="partners__link">
    <%= image_tag 'centr/banks/bank33.jpg',alt:'БыстроБанк',class:'partners__img', lazy:true %>
  </div>
</li>
<li class="partners__item">
  <div class="partners__link">
    <%= image_tag 'centr/banks/bank34.jpg',alt:'Ренессанс Кредит',class:'partners__img', lazy:true %>
  </div>
</li>
<li class="partners__item">
  <div class="partners__link">
    <%= image_tag 'centr/banks/bank35.jpg',alt:'Банк Центр-инвест',class:'partners__img', lazy:true %>
  </div>
</li>
<li class="partners__item">
  <div class="partners__link">
    <%= image_tag 'centr/banks/bank36.jpg',alt:'Банк Открытие',class:'partners__img', lazy:true %>
  </div>
</li>
<li class="partners__item">
  <div class="partners__link">
    <%= image_tag 'centr/banks/bank37.png',alt:'Банк Возрождение',class:'partners__img', lazy:true %>
  </div>
</li>
<li class="partners__item">
  <div class="partners__link">
    <%= image_tag 'centr/banks/bank38.jpg',alt:'Банк АК БАРС',class:'partners__img', lazy:true %>
  </div>
</li>
<li class="partners__item">
  <div class="partners__link">
    <%= image_tag 'centr/banks/bank39.jpg',alt:'Банк Авангард',class:'partners__img', lazy:true %>
  </div>
</li>
<li class="partners__item">
  <div class="partners__link">
    <%= image_tag 'centr/banks/bank40.jpg',alt:'Банк Восточный экспресс',class:'partners__img', lazy:true %>
  </div>
</li>
<li class="partners__item">
  <div class="partners__link">
    <%= image_tag 'centr/banks/bank41.jpg',alt:'Альфа Банк',class:'partners__img', lazy:true %>
  </div>
</li>
<li class="partners__item">
  <div class="partners__link">
    <%= image_tag 'centr/banks/bank42.png',alt:'Банк Абсолют',class:'partners__img', lazy:true %>
  </div>
</li>
<li class="partners__item">
  <div class="partners__link">
    <%= image_tag 'centr/banks/bank43.png',alt:'БинБанк',class:'partners__img', lazy:true %>
  </div>
</li>
<li class="partners__item">
  <div class="partners__link">
    <%= image_tag 'centr/banks/bank44.png',alt:'ПочтаБанк',class:'partners__img', lazy:true %>
  </div>
</li>
<li class="partners__item">
  <div class="partners__link">
    <%= image_tag 'centr/banks/bank45.png',alt:'Citibank',class:'partners__img', lazy:true %>
  </div>
</li>
<li class="partners__item">
  <div class="partners__link">
    <%= image_tag 'centr/banks/bank46.png',alt:'Банк Русский Стандарт',class:'partners__img', lazy:true %>
  </div>
</li>
<li class="partners__item">
  <div class="partners__link">
    <%= image_tag 'centr/banks/bank47.png',alt:'РосЕвроБанк',class:'partners__img', lazy:true %>
  </div>
</li>