<div id="footer">
  <div class="footer_top">
    <div class="container">
      <div class="footer_top__arrow"></div>
      <div class="footer_top__geo">
        <i class="icon icon__geo"></i>
        <span>Москва, ул. Привольная 70 к.1</span>
      </div>
      <div class="footer_top__worktime">Без выходных, <br>с 9:00 до 21:00</div>
      <div class="footer_top__callback">
        <a href="#" class="feed_b">Заказать обратный звонок</a>
      </div>
      <div class="footer_top__phone">
        <i class="icon icon__phone"></i>
        <a href="tel:+74954778400">+7 (495) 477-84-00</a>
      </div>
    </div>
  </div>
  <div class="footer_main">
    <div class="container">
      <div class="footer_main__nav">
        <a href="/">Главная</a>
        <%= link_to 'Автомобили',newauto_path, class:'nav__link',title:'Автомобили', itemprop:'url' %>
        <%= link_to 'Автокредит',credit_path, class:'nav__link',title:'Автокредит'%>
        <%= link_to 'Trade-in',tradein_path, class:'nav__link',title:'Trade-in'%>
        <%= link_to 'Акции',stock_path, class:'nav__link',title:'Акции'%>
        <%= link_to 'Отзывы',reviews_path, class:'nav__link',title:'Отзывы', rel:'nofollow' %>
        <%= link_to 'Контакты',contacts_path, class:'nav__link',title:'Контакты', rel:'nofollow'%>
      </div>
    </div>
  </div>
  <div class="footer_copyright">
    <div class="container">
      <p>Стоимость подарка не зависит от стоимости купленного а/м, покупатель может выбрать любой подарок из перечисленных при покупке а/м. Обращаем Ваше внимание на то, что данный сайт носит исключительно информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями статьи 437 Гражданского кодекса Российской Федерации.</p>
      <p>Для получения более подробной информации об указанных акциях, а также о стоимости автомобилей обращайтесь к менеджерам по продажам.</p>
      <p>Отправляя персональные данные вы соглашаетесь с условиями обработки и использования персональных данных.</p>
    </div>
  </div>
</div>
<script>window.lazyLoadOptions={threshold:0};</script>