<div id="header" data-aos="fade-down" data-aos-delay="700" data-aos-duration="500" data-aos-easing="ease-in-out-cubic" data-aos-once="true">
  <div class="header_top">
    <div class="container">
      <div class="header_top__arrow"></div>
      <div class="header_top__geo">
        <i class="icon icon__geo"></i>
        <span>Москва, ул. Привольная 70 к.1</span>
      </div>
      <div class="header_top__worktime">Без выходных, <br>с 9:00 до 21:00</div>
      <div class="header_top__callback">
        <a href="#" class="feed_b">Заказать обратный звонок</a>
      </div>
      <div class="header_top__phone">
        <i class="icon icon__phone"></i>
        <a href="tel:+74951168738">+7 (495) 116-87-38</a>
      </div>
    </div>
  </div>
  <div class="header_main">
    <div class="container">
      <div class="header_main__logo">
        <div class="head-logo">
        <div class="head-logo-main">
          <a href="/"><span class="head-logo-main_a">Ави</span>моторс</a>
        </div>
        </div>
      </div>
      <div class="header_main__nav">
        <a href="/">Главная</a>
        <%= link_to 'Автомобили',newauto_path, class:'nav__link',title:'Автомобили', itemprop:'url' %>
        <%= link_to 'Автокредит',credit_path, class:'nav__link',title:'Автокредит'%>
        <%= link_to 'Trade-in',tradein_path, class:'nav__link',title:'Trade-in'%>
        <%= link_to 'Акции',stock_path, class:'nav__link',title:'Акции'%>
        <%= link_to 'Отзывы',reviews_path, class:'nav__link',title:'Отзывы', rel:'nofollow' %>
        <%= link_to 'Контакты',contacts_path, class:'nav__link',title:'Контакты', rel:'nofollow'%>
      </div>
    </div>
  </div>
  <div class="mobile-header">
    <div class="mobile-header__container">
      <div class="mobile-header__logo">
        <div class="head-logo">
          <div class="head-logo-main">
            <a href="/"><span class="head-logo-main_a" style="color: #dcb862">Ави</span>моторс</a>
          </div>
        </div>
      </div>
      <div class="mobile-header__menubtn">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>

  <div class="mobile-menu">
    <div class="mobile-menu__nav">
      <nav>
        <a href="/">Главная</a>
        <%= link_to 'Автомобили',newauto_path, class:'nav__link',title:'Автомобили', itemprop:'url' %>
        <%= link_to 'Автокредит',credit_path, class:'nav__link',title:'Автокредит'%>
        <%= link_to 'Trade-in',tradein_path, class:'nav__link',title:'Trade-in'%>
        <%= link_to 'Акции',stock_path, class:'nav__link',title:'Акции'%>
        <%= link_to 'Отзывы',reviews_path, class:'nav__link',title:'Отзывы', rel:'nofollow' %>
        <%= link_to 'Контакты',contacts_path, class:'nav__link',title:'Контакты', rel:'nofollow'%>
      </nav>
    </div>
    <div class="mobile-menu__geo">
      <i class="icon icon__geo"></i>
      <span>Москва, ул. Привольная 70 к.1</span>
    </div>
    <div class="mobile-menu__phone">
      <i class="icon icon__phone"></i>
      <a href="tel:+74951168738">+7 (495) 116-87-38</a>
    </div>
    <div class="mobile-menu__worktime">Без выходных, <br>с 9:00 до 21:00</div>
  </div>
</div>

    <% if main_page? %><% else %>
  <div class="main_breadcrumbs">
    <div class="container">
      <% crumb_position = 1 %>
      <% breadcrumb_trail do |crumb| %>

        <% unless crumb.current? %>
          <%= link_to "#{crumb.name}".html_safe, crumb.url,itemprop:'item' %>
          <i></i>
        <% else %>
          <%= link_to "<span itemprop='name'>#{crumb.name}</span>".html_safe, crumb.url,itemprop:'item',class:'active' %>

        <% end %>

        <% crumb_position = crumb_position + 1 %>
      <% end %>
    </div>
  </div>
    <% end %>
