<div class="top-menu-home" data-role="top-menu-home-open">
  <nav class="nav">
    <ul class="row">
      <li class="" itemprop="name">
        <%= link_to 'Каталог авто',newauto_path, class:'nav__link',title:'Каталог авто', itemprop:'url' %>
      </li>
      <li class="">
        <%= link_to 'Автокредит',credit_path, class:'nav__link',title:'Автокредит'%>
      </li>
      <li class="">
        <%= link_to 'Трейд-ин',tradein_path, class:'nav__link',title:'Трейд-ин'%>
      </li>
      <li class="">
        <%= link_to 'Акции',stock_path, class:'nav__link',title:'Акции'%>
      </li>
      <li class="">
        <%= link_to 'Выкуп авто',sell_path, class:'nav__link',title:'Выкуп авто'%>
      </li>
      <li class="">
        <%= link_to 'Сервис',service_path, class:'nav__link',title:'Сервис'%>
      </li>
      <%#= <li class="">%>
      <%#= link_to 'Утилизация',utilizaciya_path, class:'nav__link',title:'Утилизация'%>
      <%#= </li>%>
      <%#= <li class="">%>
      <%#= link_to 'Услуги и акции',stock_path, class:'nav__link',title:'Услуги',rel:"nofollow"%>
      <%#=</li>%>
      <li class="">
        <%= link_to 'Отзывы',reviews_path, class:'nav__link',title:'Отзывы', rel:'nofollow' %>
      </li>
      <li class="">
        <%= link_to 'Контакты',contacts_path, class:'nav__link',title:'Контакты', rel:'nofollow'%>
      </li>
    </ul>
  </nav>
</div>
<header class="header">
  <div class="container">
    <div class="top-menu" data-role="top-menu-open" itemscope="" itemtype="http://www.schema.org/SiteNavigationElement">
        <ul class="nav d-flex">
          <%= render partial:'partials/carso/brand_list', collection: @brands %>
        </ul>
      <div class="top_top_mob" data-action="top_top_mob"><span class="close-btn" data-action="close-tbtn">×</span></div>
    </div>
  </div>
  <div class="row justify-content-between header_bottom">
    <nav class="container nav" itemscope="" itemtype="http://www.schema.org/SiteNavigationElement">
      <ul class="row">
        <li><div class="menu_catalog" data-action="top-menu">Каталог автомобилей</div></li>
        <li class="" itemprop="name">
          <%= link_to 'Автокредит',credit_path, class:'nav__link',title:'Автокредит', itemprop:'url' %>
        </li>
        <li class="" itemprop="name">
          <%= link_to 'Трейд-ин',tradein_path, class:'nav__link',title:'Трейд-ин', itemprop:'url' %>
        </li>
        <%#= <li class="">%>
        <%#= link_to 'Утилизация',utilizaciya_path, class:'nav__link',title:'Утилизация'%>
        <%#= </li>%>
        <%#= <li class="">%>
        <%#= link_to 'Услуги и акции',stock_path, class:'nav__link',title:'Услуги',rel:"nofollow"%>
        <%#=</li>%>
        <li class="">
          <%= link_to 'Акции',stock_path, class:'nav__link',title:'Акции'%>
        </li>
        <li class="">
          <%= link_to 'Выкуп авто',sell_path, class:'nav__link',title:'Выкуп авто'%>
        </li>
        <li class="">
          <%= link_to 'Сервис',service_path, class:'nav__link',title:'Сервис'%>
        </li>
        <li class="" itemprop="name">
          <%= link_to 'Отзывы',reviews_path, class:'nav__link',title:'Отзывы', rel:'nofollow', itemprop:'url' %>
        </li>
        <li class="" itemprop="name">
          <%= link_to 'Контакты',contacts_path, class:'nav__link',title:'Контакты', rel:'nofollow', itemprop:'url' %>
        </li>
      </ul>
    </nav>
    <div class="main_top_mob" data-action="top-menu-home"><%= image_tag "carso/icons/menu_mobile.svg", alt:'' %><span class="close-btn" data-action="close-tbtn">×</span></div>
  </div>
  <div class="container header_top">
    <div class="header_phone">
      <div class="home_location">Москва, ул. Привольная, 70к1. Метро Котельники</div>
      <div class="row h_tel">
        <a href="tel:+74954778400" rel="nofollow" class="row"><span itemprop="telephone">+7 495 477-84-00</span></a>
        <a href="tel:88005000323" rel="nofollow" class="row"><span itemprop="telephone">8 800 500-03-23</span></a>
       </div>
      </div>
  </div>
  <ul id="breadcrumbs" class="container row breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
    <% if main_page? %><% else %>
      <% crumb_position = 1 %>
      <% breadcrumb_trail do |crumb| %>
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <% unless crumb.current? %>
            <%= link_to "<span itemprop='name'>#{crumb.name}</span>".html_safe, crumb.url,itemprop:'item' %>
          <% else %>
            <%= link_to "<span itemprop='name'>#{crumb.name}</span>".html_safe, crumb.url,itemprop:'item',class:'active' %>
          <% end %>
          <meta itemprop="position"  content="<%= crumb_position %>" />
        </li>
        <% crumb_position = crumb_position + 1 %>
      <% end %>
    <% end %>
  </ul>
</header>
