<div class="top-menu-home" data-role="top-menu-home-open">
  <nav class="nav">
    <ul class="row">
      <li class="" itemprop="name">
        <div class="nav__link ctma" data-action="top-menu"><b>Каталог автомобилей</b></div></li>
        <%#= link_to 'Каталог авто',newauto_path, class:'nav__link menu_catalog', data:{:action=>'top-menu'}, title:'Каталог авто', itemprop:'url' %>
      </li>
      <li class="">
        <%= link_to 'Автокредит',credit_path, class:'nav__link',title:'Автокредит'%>
      </li>
      <li class="">
        <%= link_to 'Трейд-ин',tradein_path, class:'nav__link',title:'Трейд-ин'%>
      </li>
      <%#= <li class="">%>
      <%#= link_to 'Утилизация',utilizaciya_path, class:'nav__link',title:'Утилизация'%>
      <%#= </li>%>
      <%#= <li class="">%>
      <%#= link_to 'Услуги и акции',stock_path, class:'nav__link',title:'Услуги',rel:"nofollow"%>
      <%#=</li>%>
      <li class="">
        <%= link_to 'Контакты',contacts_path, class:'nav__link',title:'Контакты', rel:'nofollow'%>
      </li>
    </ul>
    <div class="mmb_cell">
      <span>Москва, ул. Привольная, 70. Метро Котельники</span>
      <a href="tel:88005052566" rel="nofollow" class="row"><span itemprop="telephone">8 800 500-03-23</span></a>
      <a href="#" class="button sale_bn" data-show-new-ajax="car-credit-modal" data-eq_id="" rel="nofollow">Заказать обратный звонок</a>
    </div>
  </nav>
</div>
<section class="head clearfix">
  <div class="head-logo">
    <div class="head-logo-main">
      <a href="/"><span class="head-logo-main_a">Ави</span>моторс</a>
    </div>
    <div class="head-logo-side">
      Официальный дилерский центр
    </div>
  </div>
  <div class="burger-menu">
    <a href="" class="burger-menu__button">
      <span class="burger-menu__lines"></span>
    </a>
    <nav class="burger-menu__nav">
      <a href="cart-auto.html" class="burger-menu__link">Автомобили</a>
      <a href="credit.html" class="burger-menu__link">Автокредит</a>
      <a href="gos-program.html" class="burger-menu__link">Рассрочка</a>
      <a href="brand.html" class="burger-menu__link">О компании</a>
      <a href="brand.html" class="burger-menu__link">Контакты</a>
      <div class="burger-menu__bar">
        <div class="burger-menu__bar-item">+7 495 221 34 56</div>
        <div class="burger-menu__bar-item">Москва, ул. Туполева, 16</div>
      </div>
    </nav>
    <div class="burger-menu__overlay"></div>
  </div>
  <div class="main-menu-wrap">
    <ul class="main-menu">
      <li class="main-menu-item active"><a href="cart-auto.html" class="b-link">Автомобили</a></li>
      <li class="main-menu-item"><a href="credit" class="b-link">Автокредит</a></li>
      <li class="main-menu-item"><a href="gos-program.html" class="b-link">Рассрочка</a></li>
      <li class="main-menu-item"><a href="brand.html" class="b-link">Сервис</a></li>
      <li class="main-menu-item"><a href="cart-auto" class="b-link">О компании</a></li>
      <li class="main-menu-item"><a href="contacts" class="b-link">Контакты</a></li>
    </ul>
    <div class="main-adress-wrap">
      <div class="main-adress-phone">+7 495 221 34 56</div>
      <div class="main-adress-item">Москва, ул. Туполева 16</div>
    </div>
  </div>
</section>
<section class="catalog">
  <div class="catalog_item">Каталог авто</div>
  <div class="catalog-auto">
    <div class="catalog-auto-wrap">
      <div class="catalog-auto-item">LADA<span>[3]</span></div>
      <div class="catalog-auto-item">Geely<span>[5]</span></div>
      <div class="catalog-auto-item">GAC<span>[1]</span></div>
      <div class="catalog-auto-item">Kia<span>[7]</span></div>
      <div class="catalog-auto-item">Hyundai<span>[8]</span></div>
      <div class="catalog-auto-item">Mitsubishi<span>[6]</span></div>
      <div class="catalog-auto-item">Renault<span>[7]</span></div>
      <div class="catalog-auto-item">Chery<span>[2]</span></div>
      <div class="catalog-auto-item">Mazda<span>[7]</span></div>
      <div class="catalog-auto-item">Toyota<span>[5]</span></div>
      <div class="catalog-auto-item">Nissan<span>[2]</span></div>
      <div class="catalog-auto-item">Haval<span>[6]</span></div>
      <div class="catalog-auto-item">FAW<span>[7]</span></div>
      <div class="catalog-auto-item">Skoda<span>[8]</span></div>
      <div class="catalog-auto-item">Changan<span>[6]</span></div>
      <div class="catalog-auto-item">Datsun<span>[9]</span></div>
      <div class="catalog-auto-item">Honda<span>[1]</span></div>
      <div class="catalog-auto-item">Dongfeng<span>[6]</span></div>
      <div class="catalog-auto-item">Citroen<span>[7]</span></div>
      <div class="catalog-auto-item">Peugeot<span>[8]</span></div>
    </div>
  </div>
</section>
<ul id="breadcrumbs" class="container row breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
  <% if main_page? %><% else %>
    <% crumb_position = 1 %>
    <% breadcrumb_trail do |crumb| %>
      <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <% unless crumb.current? %>
          <%= link_to "<span itemprop='name'>#{crumb.name}</span>".html_safe, crumb.url,itemprop:'item' %>
        <% else %>
          <%= link_to "<span itemprop='name'>#{crumb.name}</span>".html_safe, crumb.url,itemprop:'item',class:'active' %>
        <% end %>
        <meta itemprop="position"  content="<%= crumb_position %>" />
      </li>
      <% crumb_position = crumb_position + 1 %>
    <% end %>
  <% end %>
</ul>