<title><%= yield(:title) %></title>
<meta name="description" content='<%= yield(:description) %>'>
<meta itemprop="name" content='<%= yield(:title) %>'>
<meta itemprop="description" content='<%= yield(:description) %>'>
<%= yield(:og_tags) %>
<%= csrf_meta_tags %>
<%= csp_meta_tag %>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="yandex-verification" content="345c78deb5e14ec2" />
<link rel="canonical" href="<%= url_for(:only_path => false) %>" />

<link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon/favicon-32x32.png">
<link rel="manifest" href="/manifest.json">
<meta name="theme-color" content="#c9242f"/>

<!--[if lte IE 9]>
<script src='/static/js/html5shiv.min.js'></script>
<![endif]-->

<%#= preload_link_tag font_url('Roboto-Regulak4kDowbW84NofNvoAKJu
r.woff2') %>
<%#= preload_link_tag font_url('Roboto-Bold.woff2') %>
<%#= preload_link_tag font_url('Roboto-Black.woff2') %>
<%#= preload_link_tag font_url('Roboto-Medium.woff2') %>
<%#= preload_link_tag font_url('Roboto-Light.woff2') %>
<%#= preload_link_tag font_url('Roboto-Thin.woff2') %>

<%= stylesheet_link_tag 'carso/main', media: 'all' %>
<%= stylesheet_link_tag 'carso/' + params[:controller]+'_'+params[:action], :media => "all"  if stylesheet_exists?('carso/' + params[:controller]+'_'+params[:action]) %>
<%= stylesheet_link_tag 'carso/' + params[:controller], :media => "all" if stylesheet_exists?('carso/' + params[:controller]) %>



<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(85464109, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
    });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/85464109" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->