

<div id="callback">
  <h2>Успейте купить <span><%= @car.menutitle %></span></h2>
  <p>В кредит на специальных условиях!</p>
  <%= form_for Ticket.new,url: {action:'create',controller:'tickets' },remote:true,validate:true,:html => {:class => 'main_callback_form',:name=>'new_credit_modal'},:namespace => 'new_credit_modal' do |f| %>
    <%# f.invisible_captcha :ticket_text %>
    <%= f.hidden_field :form_name, value:'pack' %>

    <%= hidden_field_tag 'ticket[other][model]',@car.id, id:'new_credit_modal_ticket_other_model' %>
    <%= hidden_field_tag 'ticket[other][equipment]',@equip.id, id:'new_credit_modal_ticket_other_equipment' %>

    <%= hidden_field_tag 'ticket[other][ttype]',1,id:'credit_ticket_other_ttype' %>
    <div class="form__component">
    <%= f.text_field :name,class:'input', placeholder:'ФИО' %>
    </div>
    <div class="form__component">
      <%= f.phone_field :phone,class:'input',data:{:role=>'phone'}, placeholder:'+7 (___) ___-__-__' %>
    </div>
    <%= f.button 'Отправить заявку', class: "btn btn-blue" %>
  <% end %>
</div>