
<div id="callback">
  <h2>Получите спецпредложение по <br>обмену на <span><%= @car.menutitle %></span></h2>
  <p>Trade-in с выгодой до 150 000 рублей!</p>
  <%= form_for Ticket.new,url: {action:'create',controller:'tickets' },remote:true,validate:true,:html => {:class => 'main_callback_form',:name=>'new_details_modal'},:namespace => 'new_details_modal' do |f| %>
    <%= f.hidden_field :form_name, value:'trade_in_new' %>
    <%= hidden_field_tag 'ticket[other][model]',@car.id, id:'new_details_modal_ticket_other_model' %>
    <%= hidden_field_tag 'ticket[other][equipment]',@equip.id, id:'new_details_modal_ticket_other_equipment' %>
    <div class="form__component">
      <%= f.text_field :name,class:'input', placeholder:'ФИО' %>
    </div>
    <div class="form__component">
      <%= f.phone_field :phone,class:'input',data:{:role=>'phone'}, placeholder:'+7 (___) ___-__-__' %>
    </div>
    <%= f.button 'Получить предложение', class: "btn btn-blue" %>
  <% end %>
</div>

