<%
  max_price_e = new_cars_brand.equipments.where(hide:0).order(price: :desc).first
  if (new_cars_brand.discount_count + @region_discount) < max_price_e.price*4/10
    max_discount_e = new_cars_brand.discount_count + @region_discount
  else
    max_discount_e = max_price_e.price*4/10
  end


  min_price = new_cars_brand.equipments.where(hide:false).minimum(:price) - max_discount_e
%>

<% if credit_page?
  # m = 60
  # p = 25
  credit = true
 end %>
<% if tradein_page?
  # m = 60
  # p = 25
  tradein = true
 end %>

<% if new_cars_brand.special_options.present? and (new_cars_brand.special_options.include? 'Хит-продаж')
     class_topsale = "card--topsale"
   else
     class_topsale = ""
   end %>

<%
  if (new_cars_brand.discount_count + @region_discount) < new_cars_brand.equipments.where(hide:0).minimum(:price)*4/10
    snc_price = new_cars_brand.equipments.where(hide:0).minimum(:price) - new_cars_brand.discount_count - @region_discount
  else
    #snc_price = new_cars_brand.equipments.where(hide:0).minimum(:price)*6/10
    snc_price = new_cars_brand.equipments.where(hide:0).minimum(:price) - new_cars_brand.discount_count
  end
%>
<div class="col-3">
  <div class="main_catalog_item without_logo">
    <%= link_to  ( new_car_path(new_cars_brand.brand.url,new_cars_brand.url) ), class: 'main_catalog_item__baselink' do %>
      <div class="main_catalog_item__name"><%= new_cars_brand.name %></div>
      <%#=<div class="main_catalog_item__count">Осталось в наличиии: <span>13 авто</span></div>%>
      <div class="main_catalog_item__preview">
        <% if new_cars_brand.colors[0].present? %>
          <%= image_tag new_cars_brand.colors[0].card.url, alt: '', class:'lazy', data:{:src=>new_cars_brand.colors[0].card.url} %>
        <% end %>
      </div>
      <div class="main_catalog_item__price">от <b><span><%= credit ? "data-price=#{snc_price}" : '' %><%= number_with_delimiter((credit ? count_price(snc_price,PERCENT,MONTH):snc_price  ), delimiter: " ") %></span> руб.</b></div>
      <div class="main_catalog_item__discountprice">Цена без скидки: <span><%= number_with_delimiter(new_cars_brand.equipments.where(hide:0).minimum(:price), delimiter: " ") %> руб.</span></div>
      <div class="main_catalog_item__mouthprice">от <b><span>
        <% snc_price = min_price %><%= number_with_delimiter(count_price(snc_price,PERCENT,MONTH), delimiter: " ") %>
        <%#= number_with_delimiter(count_price(snc_price,PERCENT,MONTH)) %></span> руб.</b> в месяц</div>
    <% end %>
    <div class="main_catalog_item__action">
      <%= link_to ( new_car_path(new_cars_brand.brand.url,new_cars_brand.url) ), class:'btn btn-blue' do %>Подробнее<% end %>
    </div>
  </div>
</div>