<% if credit_page?
     # m = 60
     # p = 25
     credit = true
   end %>
<% if tradein_page?
     # m = 60
     # p = 25
     tradein = true
   end %>
<% if taxi_page?
     # m = 60
     # p = 25
     taxi = true
   end %>

<% if small_new_cars.special_options.present? and (small_new_cars.special_options.include? 'Хит-продаж')
     class_topsale = "card--topsale"
   else
     class_topsale = ""
 end %>

<%
  if (small_new_cars.discount_count + @region_discount) < small_new_cars.equipments.where(hide:0).minimum(:price)*4/10
    snc_price = small_new_cars.equipments.where(hide:0).minimum(:price) - small_new_cars.discount_count - @region_discount
  else
   # snc_price = small_new_cars.equipments.where(hide:0).minimum(:price)*6/10
    snc_price = small_new_cars.equipments.where(hide:0).minimum(:price) - small_new_cars.discount_count
  end
%>








<div class="main-brand-item">
  <%= link_to (taxi ? new_car_taxi_path("#{small_new_cars.brand.url}-#{ small_new_cars.url}") : new_car_path(small_new_cars.brand.url,small_new_cars.url)  ) do %>
    <div class="main-brand-img-wrap">
      <div class="main-brand-img">
        <% if small_new_cars.colors[0].present? %>
          <%= image_tag "/static/images/blank.png", alt: '',data:{:lazy=>small_new_cars.colors[0].card.url,:original=>small_new_cars.colors[0].card.url} %>
        <% end %>
      </div>
    </div>
    <div class="main-brand-price-text">
      <div class="main-brand-model"><%= small_new_cars.brand.title %> <%= small_new_cars.name %></div>
      <div class="main-brand-price-cont">
        <div class="main-brand-price">
          <div class="main-price-month">
            <span class="main-price-month_green"><%= credit ? "data-price=#{snc_price}" : '' %> <%= number_with_delimiter((credit ? count_price(snc_price,PERCENT,MONTH):snc_price  ), delimiter: " ") %> ₽</span>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

