<% if credit_page?
     # m = 60
     # p = 25
     credit = true
   end %>
<% if tradein_page?
     # m = 60
     # p = 25
     tradein = true
   end %>
<% if taxi_page?
     # m = 60
     # p = 25
     taxi = true
   end %>

<% if small_new_cars_type.special_options.present? and (small_new_cars_type.special_options.include? 'Хит-продаж')
     class_topsale = "card--topsale"
   else
     class_topsale = ""
 end %>

<%
  if (small_new_cars_type.discount_count + @region_discount) < small_new_cars_type.equipments.where(hide:0).minimum(:price)*4/10
    snc_price = small_new_cars_type.equipments.where(hide:0).minimum(:price) - small_new_cars_type.discount_count - @region_discount
  else
   # snc_price = small_new_cars_type.equipments.where(hide:0).minimum(:price)*6/10
    snc_price = small_new_cars_type.equipments.where(hide:0).minimum(:price) - small_new_cars_type.discount_count
  end
%>

<div class="card-box">
  <%#= link_to new_car_path(small_new_cars_type.brand,small_new_cars_type),class:'',title:small_new_cars_type.name do %>
  <%= link_to (taxi ? new_car_taxi_path("#{small_new_cars_type.brand.url}-#{ small_new_cars_type.url}") : new_car_path(small_new_cars_type.brand.url,small_new_cars_type.url)  ) do %>
  <div class="card-media">
      <% if small_new_cars_type.colors[0].present? %>
      <%= image_tag "/static/images/blank.png", alt: '',data:{:lazy=>small_new_cars_type.colors[0].card.url,:original=>small_new_cars_type.colors[0].card.url} %>
      <% end %>
    </div>
    <div class="card-main">
        <div class="card-title"><%= small_new_cars_type.brand.title %> <%= small_new_cars_type.name %></div>
        <div class="card-price">
          <span <%= credit ? "data-price=#{snc_price}" : '' %>><%= number_with_delimiter((credit ? count_price(snc_price,PERCENT,MONTH):snc_price  ), delimiter: " ") %></span> ₽<% if credit %><span>/мес</span><% end %>
        </div>
      <button class="bt_hrk">Посмотреть</button>
    </div>
  <% end %>
</div>