<%
  max_price_e = @car.equipments.where(hide:0).order(price: :desc).first
  if (@car.discount_count + @region_discount) < max_price_e.price*4/10
    max_discount_e = @car.discount_count + @region_discount
  else
    max_discount_e = max_price_e.price*4/10
  end

  if (@car.discount_count + @region_discount) < @car.equipments.where(hide:0).minimum(:price)*4/10
    min_discount_e = @car.discount_count + @region_discount
  else
    min_discount_e = @car.equipments.where(hide:0).minimum(:price)*4/10
  end
  min_price = @car.equipments.where(hide:false).minimum(:price) - max_discount_e
%>
<%
  if @car.colors.length > 2
    colors_swaped = @car.colors.swap(0,1)
    color_options_swaped =  @car.color_options.swap(0,1)
  else
    colors_swaped = @car.colors
    color_options_swaped = @car.color_options
  end
%>
<div id="main">
  <div class="model_page">
    <div class="container">
      <div class="row">
        <div class="col-3 mbl_nf" data-aos="fade" data-aos-duration="700" data-aos-once="true">
          <div class="model_page_finance">
            <%# <img class="lazy" data-src="/img/finance_icon.png" alt="Hyundai Finance" src="/img/lazy_placeholder.png">%>
          </div>
          <div class="model_page_special">
            <div class="model_page_special__title">Спецпредложение</div>
            <div class="model_page_special__value">от <span>0%</span></div>
            <div class="model_page_special__subtitle">при покупке в кредит</div>
          </div>
          <%= form_for Ticket.new,url: {action:"create",controller:"tickets" },remote:true,validate:true,:html => {:class => "model_page_form",:name=>"newcarreq"},:namespace => "newcarreq" do |f| %>
            <%= hidden_field_tag 'ticket[other][model]',@car.id, id:'newcarreq_ticket_other_model' %>
            <%= f.hidden_field :form_name, value:"express" %>
            <div class="form_input">
              <%= f.text_field :name,class:"input",placeholder:"ФИО" %>
            </div>
            <div class="form_input">
              <%= f.phone_field :phone,class:"input",data:{:role=>"phone"},placeholder:"+7 (___) ___-__-__" %>
            </div>
            <%= f.button class: "btn btn-blue" do %><span>Отправить запрос</span><% end %>
            <%# end %>
          <% end %>
        </div>
        <div class="col-6">
          <div class="model_page_title" data-aos="fade" data-aos-duration="700">
            <div class="model_page_title__icon">
              <%# <img class="lazy" data-src="/img/catalog_mark_icon.png" alt="Lada Granta" src="/img/lazy_placeholder.png">%>
            </div>
            <div class="model_page_title__data"><%= @car.brand.title %> <span><%= @car.name %></span></div>
          </div>
          <div class="model_page_count">
            <% car_count_arr = [] %>
            <% equipments = @equipments.limit(10).shuffle %>
            <% equipments.each do |e| %>
              <% car_count = e.id % 3 %>
              <% car_count = 2 if car_count < 2 %>
              <% car_count_arr.push(car_count) %>
            <% end %>
            <div class="main_catalog_count__data" data-aos="fade-down" data-aos-duration="600" data-aos-delay="400">Осталось в наличии: <span><%= car_count_arr.sum %> авто</span></div>
          </div>
          <div class="model_page_preview">
            <svg height="0" width="0">
              <defs>
                <clipPath id="parallax_down_arrow__path" clipPathUnits="userSpaceOnUse">
                  <path d="M0 131.063V0L352.257 212.415L700 0V140.103L352.257 348L0 131.063Z"/>
                </clipPath>
              </defs>
            </svg>

            <div class="img-comp-container" data-content="car-colors-list">
              <% colors_swaped[0..1].each_with_index do |c,index| %>
                <div class="img-comp-img">
                  <%= image_tag c.largecard.url, class:'', alt:'', data:{:image_index=>index} %>
                </div>
              <% end %>
              <% if colors_swaped[2..-1].present? %>
                <% colors_swaped[2..-1].each_with_index do |c,index| %>
                  <% index = index + 2 %>
                  <div class="img-comp-img">
                    <%#= image_tag 'blank.png',class:'', alt:'', data:{:altsrc=>"#{c.largecard.url}",:image_index=>index} %>
                    <%= image_tag c.largecard.url, class:'', alt:'', data:{:image_index=>index} %>
                  </div>
                <% end %>
              <% end %>
            </div>
            <div class="singlecar__colors-wrapper" data-content="choose-right-color">
              <div class="singlecar__colors">
                <ul class="colors-list">
                  <% color_options_swaped.each_with_index do |c,index| %>
                    <li class="color <% if index == 1 %>color--choosed<% end %>" data-action="show-color" style="background-color: <%= c['color'] %>; background: <%= c['color2'] if c['color2'].present? %>;"
                        data-disable-hover="false" title="<%= c['colorname'] %>" data-color_index="<%= index %>">
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>



          </div>
        </div>


        <div class="col-3">
          <div class="model_page_pricing__section">
            <div class="model_page_price" data-aos="fade-right" data-aos-duration="700" data-aos-once="true">
              <div class="model_page_price__title">Цена в кредит</div>
              <div class="model_page_price__price">от <%= number_with_delimiter(@car.count_min_price, delimiter: " ") %> р.</div>
            </div>
            <div class="model_page_discountprice" data-aos="fade-right" data-aos-duration="700" data-aos-once="true">
              <div class="model_page_discountprice__title">Цена без скидки</div>
              <div class="model_page_discountprice__value">от <%= number_with_delimiter(@car.count_min_price_no_sale, delimiter: " ") %> р.</div>
            </div>
          </div>
          <div class="model_page_pricing__actions">
            <div class="model_page_tradein" data-aos="fade" data-aos-duration="700" data-aos-delay="300" data-aos-once="true">
              <div class="model_page_tradein__title">Скидка по <span>Trade-in</span></div>
              <div class="model_page_tradein__value">до 150 000<%#= number_with_delimiter(max_discount_e,delimeter:' ') %> р.</div>
              <div class="model_page_tradein__action">
                <a href="#" class="btn btn-black" data-show-new-ajax="car-details-modal" data-eq_id="<%= @car.id %>">Trade-in</a>
              </div>
            </div>
            <div class="model_page_creditprice" data-aos="fade" data-aos-duration="700" data-aos-delay="300" data-aos-once="true">
              <div class="model_page_creditprice__title">В кредит</div>
              <div class="model_page_creditprice__value">от <% snc_price = min_price %><%= number_with_delimiter(count_price(snc_price,PERCENT,MONTH), delimiter: " ") %> р./мес.</div>
              <div class="model_page_creditprice__action">
                <a href="#" class="btn btn-blue" data-show-new-ajax="car-credit-modal" data-eq_id="<%= @car.id %>">Купить в кредит</a>
              </div>
            </div>
          </div>
        </div>




      </div>
    </div>
  </div>
  <div class="model_gallery" data-aos="fade-up" data-aos-duration="700" data-aos-once="true">
    <div class="container">

      <% if @car.images_available.count >= 3 %>
            <% @car.images_available.each do |image|%>
              <%= link_to image.url,class:'model_gallery__item', data:{:fancybox => 'images'} do %>
                <div class="lazy" data-bg="<%= image.thumb.url %>">
                  <%#= image_tag image.thumb.url, alt: '' %>
                </div>
              <% end %>
            <% end %>
      <% else %>
        <% if @car.images.present? %>
              <% @car.images[1..-1].each do |image| %>
                <%= link_to image.large.url ,class:'model_gallery__item',data:{:fancybox => 'images'} do %>
                  <div class="lazy" data-bg="<%= image.thumb.url %>">
                    <%#= image_tag image.thumb.url,alt: "#{@car.brand.title} #{@car.name}", class:'photo' %>
                  </div>
                <% end %>
              <% end %>
         <% end %>
      <% end %>


    </div>
  </div>
  <div class="main_heading">
    <div class="container">Подарки <span>всем покупателям!</span></div>
  </div>
  <div class="main_gifts">
    <div class="container">
      <div class="main_gifts_tabs_content mgtc__01">
        <div class="main_gifts_content">
          <div class="main_gifts_content__date">Только до <%= l(SALE_DATE, format: :next_monday) %>!</div>
          <div class="main_gifts_content__title">Зимняя резина</div>
          <div class="main_gifts_content__subtitle">В подарок!</div>
          <div class="main_gifts_content__action">
            <a href="#" class="btn btn-blue gifts_popup">Участвовать в акции</a>
          </div>
        </div>
        <div class="main_gifts_images">
          <div class="main_gifts_images__backimage lazy" data-bg="/img/gifts_section_back_image_01.png"></div>
          <div class="main_gifts_images__frontimage lazy" data-bg="/img/gifts_section_front_image_01.png"></div>
          <div class="main_gifts_images__smallimages_left lazy" data-bg="/img/gifts_section_smallfront_left_01.png"></div>
          <div class="main_gifts_images__smallimages_right lazy" data-bg="/img/gifts_section_smallfront_right_01.png"></div>
        </div>
      </div>
      <div class="main_gifts_tabs_content mgtc__02">
        <div class="main_gifts_content">
          <div class="main_gifts_content__date">Только до <%= l(SALE_DATE, format: :next_monday) %>!</div>
          <div class="main_gifts_content__title">Страховка <br>КАСКО</div>
          <div class="main_gifts_content__subtitle">В подарок!</div>
          <div class="main_gifts_content__action">
            <a href="#" class="btn btn-blue gifts_popup">Участвовать в акции</a>
          </div>
        </div>
        <div class="main_gifts_images">
          <div class="main_gifts_images__backimage lazy" data-bg="/img/gifts_section_back_image_02.png"></div>
          <div class="main_gifts_images__frontimage lazy" data-bg="/img/gifts_section_front_image_02.png"></div>
          <div class="main_gifts_images__smallimages_left lazy" data-bg="/img/gifts_section_smallfront_left_02.png"></div>
          <div class="main_gifts_images__smallimages_right lazy" data-bg="/img/gifts_section_smallfront_right_02.png"></div>
          <div class="main_gifts_images__smallimages_abs lazy" data-bg="/img/gifts_section_smallfront_abs_02_01.png"></div>
          <div class="main_gifts_images__smallimages_abs lazy" data-bg="/img/gifts_section_smallfront_abs_02_02.png"></div>
        </div>
      </div>
      <div class="main_gifts_tabs_content mgtc__03">
        <div class="main_gifts_content">
          <div class="main_gifts_content__date">Только до <%= l(SALE_DATE, format: :next_monday) %>!</div>
          <div class="main_gifts_content__title">3 платежа <br>по кредиту</div>
          <div class="main_gifts_content__subtitle">В подарок!</div>
          <div class="main_gifts_content__action">
            <a href="#" class="btn btn-blue gifts_popup">Участвовать в акции</a>
          </div>
        </div>
        <div class="main_gifts_images">
          <div class="main_gifts_images__backimage"></div>
          <div class="main_gifts_images__frontimage lazy" data-bg="/img/gifts_section_front_image_03.png"></div>
          <div class="main_gifts_images__smallimages_left lazy" data-bg="/img/gifts_section_smallfront_left_03.png"></div>
          <div class="main_gifts_images__smallimages_right lazy" data-bg="/img/gifts_section_smallfront_right_03.png"></div>
        </div>
      </div>
      <div class="main_gifts_tabs_content mgtc__04">
        <div class="main_gifts_content">
          <div class="main_gifts_content__date">Только до <%= l(SALE_DATE, format: :next_monday) %>!</div>
          <div class="main_gifts_content__title">200 литров топлива</div>
          <div class="main_gifts_content__subtitle">В подарок!</div>
          <div class="main_gifts_content__action">
            <a href="#" class="btn btn-blue gifts_popup">Участвовать в акции</a>
          </div>
        </div>
        <div class="main_gifts_images">
          <div class="main_gifts_images__backimage lazy" data-bg="/img/gifts_section_back_image_04.png"></div>
          <div class="main_gifts_images__frontimage lazy" data-bg="/img/gifts_section_front_image_04.png"></div>
          <div class="main_gifts_images__smallimages_left lazy" data-bg="/img/gifts_section_smallfront_left_04.png"></div>
          <div class="main_gifts_images__smallimages_right lazy" data-bg="/img/gifts_section_smallfront_right_04.png"></div>
        </div>
      </div>
      <div class="main_gifts_tabs_nav">
        <div class="main_gifts_tabs_nav__item">Зимняя резина <br><span>в подарок!</span></div>
        <div class="main_gifts_tabs_nav__item">Страховка КАСКО <br><span>в подарок!</span></div>
        <div class="main_gifts_tabs_nav__item">3 платежа по кредиту <br><span>в подарок!</span></div>
        <div class="main_gifts_tabs_nav__item">200 литров топлива <br><span>в подарок!</span></div>
      </div>
    </div>
    <svg height="0" width="0">
      <defs>
        <clipPath id="main_gifts_arrow_clip" clipPathUnits="userSpaceOnUse">
          <path d="M0 131.063V0L352.257 212.415L700 0V140.103L352.257 348L0 131.063Z"/>
        </clipPath>
      </defs>
    </svg>
  </div>
  <div class="model_page_tabs">
    <div class="container">
      <div class="model_page_tabs_nav"></div>
    </div>






    <div class="model_page_tabs_content" data-link-title="Комплектации и цены">
      <form class="model_page_options_form">
        <% spec = Specification.select('specifications.*,MIN(equipment.price) AS min_price')
            .joins(:equipment)
            .where('`specifications`.`new_car_id` = ?', @car.id).where('`equipment`.`hide` = 0').group('specifications.id').order('min_price') %>

        <% spec.each_with_index do |cs,index_spec| %>

          <div class="model_page_options">
            <div class="container">
              <div class="model_page_options_heading">
                <div class="model_page_options_row">
                  <div class="model_page_options_col"><% if cs.volume.present? %><%= "#{(cs.volume / 1000.to_f).round(1)}"%> <% end %> <% "#{cs.shorttransmission}" %> <% if cs.power.present? %>(<%= cs.power %> л.с.)<% end %> <%= cs.drive == 'Полный' ? '4WD' : '2WD' %></div>
                  <div class="model_page_options_col">КПП</div>
                  <div class="model_page_options_col">Цена без скидки</div>
                  <div class="model_page_options_col">Цена со скидкой</div>
                  <div class="model_page_options_col">Кредит в месяц</div>
                  <div class="model_page_options_col"></div>
                  <div class="model_page_options_col"></div>
                </div>
              </div>

            <% cs.equipment.where('`equipment`.`hide` = 0').order(:price).each_with_index do |e,index| %>
              <%
                real_discount = @car.discount_count + @region_discount
                if (@car.discount_count + @region_discount) < e.price*4/10
                  max_discount = @car.discount_count + @region_discount
                else
                  max_discount = e.price*4/10
                end
                price_with_disount = e.price - max_discount
              %>

            <div class="model_page_options_item">

              <div class="model_page_options_row">
                <div class="model_page_options_col mpoc_name">
                  <%#<label class="main_checkbox">
                    <input type="checkbox">
                    <span class="checkmark"></span>
                  </label>%>
                  <div class="mpoc_name__data" data-show="mpohc_description"><%= e.equipment_description.name %> <%= e.suffix %></div>
                </div>
                <div class="model_page_options_col mpoc_specs">
                  <div class="mpoc_specs__data"><%= e.specification.transmission.gsub('Механическая','Механика').gsub('5-ступенчатая механическая','Механика').gsub('5MT','').gsub('6МТ','').gsub('Автоматическая','Автомат').gsub('5-ступенчатая автоматическая','Автомат').gsub('4AT','') %> (<%= e.specification.shorttransmission %>)</div>
                </div>
                <div class="model_page_options_col mpoc_price">
                  <div class="mpoc_price__data">от <%= number_with_delimiter(e.price,delimiter: ' ') %> руб.</div>
                </div>
                <div class="model_page_options_col mpoc_discountprice">
                  <div class="mpoc_discountprice__data" data-show="mpohc_price" data-role="discount_price" data-real-price="<%= (e.price - real_discount) %>">от <%= number_with_delimiter(e.price - real_discount,delimiter: ' ') %> руб.</div>
                </div>
                <div class="model_page_options_col mpoc_credit">
                  <div class="mpoc_credit__data" data-role="credit_price" data-price="<%= price_with_disount %>">от <%= number_with_delimiter(count_price(price_with_disount,PERCENT,MONTH)) %> руб.</div>
                </div>
                <div class="model_page_options_col mpoc_actions">
                  <a href="#" class="btn btn-blue" data-show-new-ajax="car-credit-modal" data-eq_id="<%= e.id %>">Купить в кредит</a>
                  <a href="#" class="btn btn-black" data-show-new-ajax="car-details-modal" data-eq_id="<%= e.id %>">Trade-in</a>
                </div>
                <div class="model_page_options_col mpoc_subactions">
                  <% e_name = e.equipment_description.name.parameterize %>
                  <%= link_to print_new_car_equipment_id_path(@brand.url,@car.url,e_name,e.id), class:'btn btn-print', title:'Распечатать комплектацию', target: '_blank', rel:'nofollow' do %>Распечатать комплектацию<% end %>
                  <%= link_to print_new_car_equipment_id_path(@brand.url,@car.url,e_name,e.id), class:'btn btn-download', title:'Скачать комплектацию', target: '_blank', rel:'nofollow' do %>Скачать комплектацию<% end %>
                </div>
              </div>

              <div class="model_page_options_hidden_content mpohc_description" id='equipment_<%= e.id %>_description'>
                <% @equipment = e %>
                <%= render partial:'carso/new_cars/compl_description_content' %>
              </div>
            </div>
            <% end %>
          </div>
        </div>





        <% end %>



        <%#<div class="model_page_options_compare">
          <div class="container">
            <button type="submit" class="btn btn-blue">Сравнить комплектации</button>
          </div>
        </div>%>
      </form>
    </div>






    <div class="model_page_tabs_content" data-link-title="Характеристики">
      <div class="container">

        <% car_spec = @car.specifications %>
        <div class="table-wrapper">
        <table class="table table--features table--compare">
          <thead>

          <tr class="table__header t_mb">
            <th class="table__header-title t_m"><div>Параметры</div><span></span></th>
            <th class="table__col-title"></th>
            <% car_spec.each do |s| %>
              <th class="table__col-title"></th>
            <% end %>
          </tr>

          <tr class="table__header">
            <th class="table__header-title"><span>Параметры</span></th>
            <% car_spec.each do |s| %>
              <th class="table__col-title"><%= s.name %></th>
            <% end %>
          </tr>
          </thead>
          <tbody>
          <tr class="table__row">
            <th class="table__row-title">Тип двигателя:</th>
            <% car_spec.each do |s| %>
              <td class="table__cell"><%= s.enginetype %></td>
            <% end %>
          </tr>
          <tr class="table__row">
            <th class="table__row-title">Объём двигателя:</th>
            <% car_spec.each do |s| %>
              <td class="table__cell"><%= s.volume %></td>
            <% end %>
          </tr>
          <tr class="table__row">
            <th class="table__row-title">Мощность:</th>
            <% car_spec.each do |s| %>
              <td class="table__cell"><%= s.power %> л.с</td>
            <% end %>
          </tr>
          <tr class="table__row">
            <th class="table__row-title">Разгон до 100км/час:</th>
            <% car_spec.each do |s| %>
              <td class="table__cell"><%= s.acceleration %> с</td>
            <% end %>
          </tr>
          <tr class="table__row">
            <th class="table__row-title">Максимальная скорость:</th>
            <% car_spec.each do |s| %>
              <td class="table__cell"><%= s.topspeed %> км/ч</td>
            <% end %>
          </tr>

          <tr class="table__row">
            <th class="table__row-title">Расход в городском цикле:</th>
            <% car_spec.each do |s| %>
              <td class="table__cell"><%= s.fuelcity %>/100км</td>
            <% end %>
          </tr>
          <tr class="table__row">
            <th class="table__row-title">Расход в загородном цикле:</th>
            <% car_spec.each do |s| %>
              <td class="table__cell"><%= s.fuelhigh %>/100км</td>
            <% end %>
          </tr>
          <tr class="table__row">
            <th class="table__row-title">Расход в смешанном цикле:</th>
            <% car_spec.each do |s| %>
              <td class="table__cell"><%= s.fuelmix %>/100км</td>
            <% end %>
          </tr>
          <tr class="table__row">
            <th class="table__row-title">Объем топливного бака:</th>
            <% car_spec.each do |s| %>
              <td class="table__cell"><%= s.tank %> л</td>
            <% end %>
          </tr>

          <tr class="table__row">
            <th class="table__row-title">Длина:</th>
            <% car_spec.each do |s| %>
              <td class="table__cell"><%= s.length %> мм</td>
            <% end %>
          </tr>
          <tr class="table__row">
            <th class="table__row-title">Ширина:</th>
            <% car_spec.each do |s| %>
              <td class="table__cell"><%= s.width %> мм</td>
            <% end %>
          </tr>
          <tr class="table__row">
            <th class="table__row-title">Высота:</th>
            <% car_spec.each do |s| %>
              <td class="table__cell"><%= s.height %> мм</td>
            <% end %>
          </tr>
          <tr class="table__row">
            <th class="table__row-title">Колёсная база:</th>
            <% car_spec.each do |s| %>
              <td class="table__cell"><%= s.wheelbase %> мм</td>
            <% end %>
          </tr>
          <tr class="table__row">
            <th class="table__row-title">Клиренс:</th>
            <% car_spec.each do |s| %>
              <td class="table__cell"><%= s.clearance %> мм</td>
            <% end %>
          </tr>
          <tr class="table__row">
            <th class="table__row-title">Масса:</th>
            <% car_spec.each do |s| %>
              <td class="table__cell"><%= s.mass %> кг</td>
            <% end %>
          </tr>
          <tr class="table__row">
            <th class="table__row-title">Объём багажника:</th>
            <% car_spec.each do |s| %>
              <td class="table__cell"><%= s.trunk %> л</td>
            <% end %>
          </tr>

          <tr class="table__row">
            <th class="table__row-title">Трансмиссия:</th>
            <% car_spec.each do |s| %>
              <td class="table__cell"><%= s.transmission %></td>
            <% end %>
          </tr>
          <tr class="table__row">
            <th class="table__row-title">Привод:</th>
            <% car_spec.each do |s| %>
              <td class="table__cell"><%= s.drive %></td>
            <% end %>
          </tr>
          <tr class="table__row">
            <th class="table__row-title">Передняя подвеска:</th>
            <% car_spec.each do |s| %>
              <td class="table__cell"><%= s.frontsusp %></td>
            <% end %>
          </tr>
          <tr class="table__row">
            <th class="table__row-title">Задняя подвеска:</th>
            <% car_spec.each do |s| %>
              <td class="table__cell"><%= s.rearsusp %></td>
            <% end %>
          </tr>
          <tr class="table__row">
            <th class="table__row-title">Передние тормоза:</th>
            <% car_spec.each do |s| %>
              <td class="table__cell"><%= s.frontbrakes %></td>
            <% end %>
          </tr>
          <tr class="table__row">
            <th class="table__row-title">Задние тормоза:</th>
            <% car_spec.each do |s| %>
              <td class="table__cell"><%= s.rearbrakes %></td>
            <% end %>
          </tr>
          </tbody>
        </table>
        </div>

      </div>
    </div>
  </div>
  <div class="main_benefit">
    <div class="main_benefit_leftbg">
      <div class="main_benefit_leftbg__image"></div>
    </div>
    <div class="main_benefit_rightbg">
      <div class="main_benefit_rightbg__image"></div>
    </div>
    <div class="main_benefit_content">
      <div class="container">
        <div class="main_benefit_content__title">Выгода</div>
        <div class="main_benefit_content__value">до <span><%= number_with_delimiter(max_discount_e,delimeter:' ') %></span> р.</div>
        <div class="main_benefit_content__subtitle">При покупке автомобиля в кредит</div>

        <%= form_for Ticket.new,url: {action:"create",controller:"tickets" },remote:true,validate:true,:html => {:class => "main_benefit_content__form",:name=>"newcarreq"},:namespace => "newcarreq" do |f| %>
          <%= hidden_field_tag 'ticket[other][model]',@car.id, id:'newcarreq_ticket_other_model' %>
          <%= f.hidden_field :form_name, value:"benefit" %>
          <div>
            <%= f.text_field :name,class:"input",placeholder:"ФИО" %>
            <%= f.phone_field :phone,class:"input",data:{:role=>"phone"},placeholder:"+7 (___) ___-__-__" %>
          </div>
          <%= f.button class: "btn btn-white" do %><span>Получить выгоду</span><% end %>
        <% end %>


      </div>
    </div>
  </div>



  <div class="main_help_find">
    <div class="container">
      <div class="main_help_find__title">Затрудняетесь с выбором автомобиля?</div>
      <div class="main_help_find__subtitle">Мы вам поможем!</div>
      <div class="main_help_find__clients" data-aos="fade-down" data-aos-duration="600" data-aos-delay="300" data-aos-once="true">Счастливых клиентов: <span>3 599</span></div>

      <%= form_for Ticket.new,url: {action:"create",controller:"tickets" },remote:true,validate:true,:html => {:class => "main_help_find__form",:name=>"newcarreq"},:namespace => "newcarreq" do |f| %>
        <%= hidden_field_tag 'ticket[other][model]',@car.id, id:'newcarreq_ticket_other_model' %>
        <%= f.hidden_field :form_name, value:"help_find" %>
        <div>
          <%= f.text_field :name,class:"input",placeholder:"ФИО" %>
          <%= f.phone_field :phone,class:"input",data:{:role=>"phone"},placeholder:"+7 (___) ___-__-__" %>
        </div>
        <%= f.button class: "btn btn-blue" do %><span>Отправить запрос</span><% end %>
      <% end %>

    </div>
  </div>
  
</div>


<% content_for :rails_to_js_variables do %>
  <script>
      var COMPL_GROUPS = <%= @compl_groups %>;
      //  var COLOR_GROUPS = <%= @color_groups %>;
  </script>
<% end %>
<% content_for :additional_javascript do %>

  <script>
      carid = '<%= @car.id %>';
      car_url = '<%= @car.url %>';
      car_brand = '<%= @car.brand.url %>';
  </script>


  <script type="text/javascript">
      var _tmr = _tmr || [];
      _tmr.push({
          type: 'itemView',
          productid: '<%= @car.id %>',
          pagetype: 'product',
          list: '2'
      });
  </script>

<% end %>