<%
  max_price_e = @car.equipments.where(hide:0).order(price: :desc).first
  if (@car.discount_count(max_price_e) + @region_discount) < max_price_e.price*4/10
    max_discount_e = @car.discount_count(max_price_e) + @region_discount
  else
    max_discount_e = max_price_e.price*4/10
  end

  if (@car.discount_count + @region_discount) < @car.equipments.where(hide:0).minimum(:price)*4/10
    min_discount_e = @car.discount_count + @region_discount
  else
    min_discount_e = @car.equipments.where(hide:0).minimum(:price)*4/10
  end
  min_price = @car.equipments.where(hide:false).minimum(:price) - max_discount_e
%>
<%
  region = false
  unless @current_region.id == 57
    region = true
  end

  t_mos = "Купить #{@car.russian_name} #{@car.old ? (Time.current - 2.year).year.to_s : (Time.current - 1.year).year.to_s}-#{@car.old ? (Time.current - 1.year).year.to_s : Time.current.year.to_s} у официального дилера в #{@current_region.sklon3} 🚗  новый #{@car.menutitle}"
  t_reg = "Купить #{@car.russian_name} в #{@current_region.sklon3} 🚗 цена на #{'новый' unless @car.old} #{@car.menutitle} #{@car.old ? (Time.current - 1.year).year.to_s : Time.current.year.to_s} у официального дилера"

  d_mos = "❗ Грандиозная распродажа новых автомобилей #{@car.menutitle} #{@car.old ? (Time.current - 2.year).year.to_s : (Time.current - 1.year).year.to_s} - #{@car.old ? (Time.current - 1.year).year.to_s : Time.current.year.to_s} года в #{@current_region.sklon3}! 🚘 Все комплектации в наличии у официального дилера! ❗ Скидка на #{@car.russian_name} до #{number_with_delimiter(max_discount_e,delimeter:' ')} руб. ✅ Кредит от 1,9%! 🎁 Каско бесплатно! — Autosalon-M ☎️ 8 800 500-08-17."
  d_reg = "❗️Грандиозная распродажа новых автомобилей #{@car.menutitle} #{@car.old ? (Time.current - 2.year).year.to_s : (Time.current - 1.year).year.to_s} - #{@car.old ? (Time.current - 1.year).year.to_s : Time.current.year.to_s} года! 🚘 Все комплектации в наличии у официального дилера в #{@current_region.sklon3}!❗️ Скидка на #{@car.russian_name} до #{number_with_delimiter(max_discount_e,delimeter:' ')} руб. ✅ Кредит от 1,9%! 🎁 Каско бесплатно! — Autosalon-M ☎️ 8 800 500-08-17."

  o_mos = "Купить #{'новый' unless @car.old} #{@car.russian_name} в #{@current_region.sklon3}. Скидка до #{number_with_delimiter(max_discount_e,delimeter:' ')} рублей! Экспресс кредит от 1.9%, Рассрочка 0%, Trade-in. Продажа #{@car.menutitle} #{@car.old ? (Time.current - 2.year).year.to_s : (Time.current - 1.year).year.to_s + '-' + Time.current.year.to_s} года, все комплектации в наличии у официального дилера."
  o_reg = "Продажа #{@car.russian_name} в #{@current_region.sklon3}. Скидка до #{number_with_delimiter(max_discount_e,delimeter:' ')} рублей! Экспресс кредит 1,9%, Рассрочка 0%, trade-in. #{'Новый ' unless @car.old}#{@car.menutitle} #{@car.old ? (Time.current - 2.year).year.to_s : (Time.current - 1.year).year.to_s + '-' + Time.current.year.to_s} всех комплектаций у официального дилера."

  if !region
    provide :title,t_mos
    provide :description,d_mos
    ogdesc = o_mos
  else
    provide :title,t_reg
    provide :description,d_reg
    ogdesc = o_reg
  end

  if @car.colors[0].present?
    pimage = @car.colors[0].url
  end

  provide :og_tags,"<meta property='og:type' content='article'>
  <meta property='og:site_name' content='Autosalon-M'>
  <meta property='og:url' content='#{request.original_url}'>
  <meta property='og:title' content='#{@car.name}'>
  <meta property='og:description' content='#{ogdesc}'>
  <meta property='og:locale' content='ru_RU'>
  <meta property='og:image' content='#{pimage}'>".html_safe

%>

<%
  if @car.colors.length > 2
    colors_swaped = @car.colors.swap(0,1)
    color_options_swaped =  @car.color_options.swap(0,1)
  else
    colors_swaped = @car.colors
    color_options_swaped = @car.color_options
  end
%>

<% if @car.archive
     if @car.url.include? '-old'
       model = @car.url[0...-4]
     else
       model = @car.url
     end

     if UsedCar.used_cars.where(brand_id: @car.brand_id, url: model).present?
       name = @car.menutitle
     else
       name = @car.brand.title
     end
   end
%>
<div class="h_block">
  <div>
   <h1 itemprop="name">Новый <%= @car.brand.title %> <%= @car.name %></h1>
   <div class="h_slog"><span>(<%= @car.russian_name %>)</span><span> По специальной цене до <%= l(SALE_DATE, format: :next_monday) %> 2021</span></div>
  </div>
  <div class="sale_h_pr"><div><span>Получи скидку</span> <i><%= number_with_delimiter(max_discount_e,delimeter:' ') %> ₽ </i></div>
    <a href="#" class="button sale_bn" data-show-new-ajax="car-credit-modal" data-eq_id="" rel="nofollow">Получить</a>
  </div>
</div>
<div class="sale-from" itemprop="offers" itemscope="" itemtype="https://schema.org/Offer"><span>от <%= number_with_delimiter(@car.count_min_price(@region_discount), delimiter: " ") %> ₽</span>
  <meta itemprop="price" content="<%= number_with_delimiter(@car.count_min_price(@region_discount), delimiter: " ") %>">
  <meta itemprop="priceCurrency" content="RUB">
  <meta itemprop="priceValidUntil" content="<%= Date.today %>">
  <link itemprop="availability" href="https://schema.org/InStock">
</div>
<div class="stb-n" itemscope="" itemtype="https://schema.org/Product">

  <div class="sale_ftxt">
    <div class="sf_ul">
      <ul>
        <span>Каждому покупателю</span>
        <li>Бесплатное КАСКО</li>
        <li>Зимняя резина в подарок</li>
        <li>Оплата проезда до автосалона</li>
      </ul>
    </div>
  </div>
  <div class="img_col_block">
    <meta itemprop="description" content="❗ Грандиозная распродажа новых автомобилей <%= @car.menutitle %> <%= @car.old ? (Time.current - 2.year).year.to_s : (Time.current - 1.year).year.to_s %> - <%= @car.old ? (Time.current - 1.year).year.to_s : Time.current.year.to_s %> года в <%= @current_region.sklon3 %>! 🚘 Все комплектации в наличии у официального дилера! ❗ Скидка на <%= @car.russian_name %> до <%= number_with_delimiter(max_discount_e,delimeter:' ') %> руб. ✅ Кредит от 1,9%! 🎁 Каско бесплатно! — Autosalon-M ☎️ 8 800 500-08-17.">
    <meta itemprop="brand" content="<%= @car.brand.title %>">
    <div class="img-comp-container" data-content="car-colors-list">
      <% colors_swaped[0..1].each_with_index do |c,index| %>
        <div class="img-comp-img">
          <%= image_tag "#{c.largecard.url}",class:'', alt:'', itemprop:'image', data:{:altsrc=>"#{c.largecard.url}",:image_index=>index} %>
        </div>
      <% end %>
      <% if colors_swaped[2..-1].present? %>
      <% colors_swaped[2..-1].each_with_index do |c,index| %>
        <% index = index + 2 %>
        <div class="img-comp-img">
          <%#= image_tag 'blank.png',class:'', alt:'', data:{:altsrc=>"#{c.largecard.url}",:image_index=>index} %>
          <%= image_tag c.largecard.url, class:'', alt:'', data:{:altsrc=>"#{c.largecard.url}",:image_index=>index} %>
        </div>
      <% end %>
      <% end %>
    </div>
    <div class="singlecar__colors-wrapper" data-content="choose-right-color">
      <div class="singlecar__colors">
        <ul class="colors-list">
          <% color_options_swaped.each_with_index do |c,index| %>
            <li class="color <% if index == 1 %>color--choosed<% end %>" data-action="show-color" style="background-color: <%= c['color'] %>; background: <%= c['color2'] if c['color2'].present? %>;"
                data-disable-hover="false" title="<%= c['colorname'] %>" data-color_index="<%= index %>">
            </li>
          <% end %>
        </ul>
      </div>
      <div class="mrr_bl row justify-content-start">
        <div class="sbc-item">
          <span class="sbc-i-text"><%= @car.specifications.joins(:equipment).where('`equipment`.`hide` = 0').maximum(:power) %> л.с.</span>
          <span class="sbc-i-title">Мощность</span>
        </div>
        <% min_acc = @car.specifications.joins(:equipment).where('`equipment`.`hide` = 0').minimum(:acceleration) %>
        <% if min_acc.present? %>
          <div class="sbc-item">
            <span class="sbc-i-text"><%= @car.specifications.joins(:equipment).where('`equipment`.`hide` = 0').minimum(:acceleration).round(1) %> с</span>
            <span class="sbc-i-title">Разгон до 100 км/ч</span>
          </div>
        <% end %>
        <%
          min_fh = @car.specifications.joins(:equipment).where('`equipment`.`hide` = 0').minimum(:fuelhigh)
          min_fc = @car.specifications.joins(:equipment).where('`equipment`.`hide` = 0').minimum(:fuelcity)
          min_fm = @car.specifications.joins(:equipment).where('`equipment`.`hide` = 0').minimum(:fuelmix)
          unless min_fc.nil? || min_fh.nil? || min_fm.nil?

            if (min_fc.nil? || min_fh.nil?) && min_fm.present?
              fuel = min_fm.round(1)
            else
              fuel = "#{min_fh.round(1)}"
            end
        %>
          <div class="sbc-item">
            <span class="sbc-i-text"><%= fuel %> л</span>
            <span class="sbc-i-title">Расход на 100 км</span>
          </div>
        <% end %>
      </div>

    </div>

  </div>
  <div class="sbcf">
    <div class="form_block-right row">
      <div class="form_block">
        <div class="form-sale-info">
          <% if @car.archive %><div class="t_archive">Снят с производства</div><% end %>
          <div class="form-credit-info">Выгодный кредит <span><i>от </i><% snc_price = min_price %><%= number_with_delimiter(count_price(snc_price,PERCENT,MONTH), delimiter: " ") %> ₽</span></div>
          <span class="car_online">
             <%= image_tag "carso/icons/group2873.png", alt: '' %>

            <% car_count_arr = [] %>
            <% equipments = @equipments.limit(10).shuffle %>
            <% equipments.each do |e| %>
              <% car_count = e.id % 5 %>
              <% car_count = 2 if car_count < 2 %>
              <% car_count_arr.push(car_count) %>
            <% end %>
            В наличии автомобилей: <%= car_count_arr.sum %></span>
        </div>
        <%= form_for Ticket.new,url: {action:"create",controller:"tickets" },remote:true,validate:true,:html => {:class => "form",:name=>"newcarreq"},:namespace => "newcarreq" do |f| %>
          <%= hidden_field_tag 'ticket[other][model]',@car.id, id:'newcarreq_ticket_other_model' %>
          <%= f.hidden_field :form_name, value:"express" %>
          <div class="form_input nn">
            <%= f.text_field :name,class:"input",placeholder:"Ваше имя" %>
          </div>
          <div class="form_input ph">
            <%= f.phone_field :phone,class:"input",data:{:role=>"phone"},placeholder:"Номер телефона"  %>
          </div>
          <%= f.button class: "button add__form-btn" do %><span>Получить условия</span><% end %>
          <%= f.button class: "button" do %><span>Зарезервировать авто</span><% end %>
        <% end %>
        <%#<button class="but_url" data-show-new-ajax="car-credit-modal">Купить в кредит</button>%>
      </div>
    </div>
  </div>

</div>



<div class="pr_slog_b">
  <div><%= image_tag "carso/icons/group30.svg", alt:'' %>
    <span>Бесплатное <br> КАСКО</span>
  </div>
  <div><%= image_tag "carso/icons/group101.svg", alt:'' %>
    <span>Зимняя резина в <br> подарок</span>
  </div>
  <div><%= image_tag "carso/icons/group98.svg", alt:'' %>
    <span>Госпрограммы: <br> -10% на любое авто</span>
  </div>
  <div><%= image_tag "carso/icons/group33.svg", alt:'' %>
    <span>Оплата проезда <br> до автосалона</span>
  </div>
</div>

<% if region %>
<%= render partial: 'new_cars/region_form' %>
<% end %>

<% unless !@car.available %>
  <%# unless @car.archive %>
  <div class="complectation">

    <div class="row" id="compl_t">
      <h2 class="title">Комплектации и цены <%= @car.russian_name %></h2>
    </div>
    <div class="table-main">
      <% spec = Specification.select('specifications.*,MIN(equipment.price) AS min_price')
          .joins(:equipment)
          .where('`specifications`.`new_car_id` = ?', @car.id).where('`equipment`.`hide` = 0').group('specifications.id').order('min_price') %>
      <table class="table">
        <thead>
        <tr class="t-header">
          <th>Комплектация</th>
          <th class="mn">КПП</th>
          <th class="mn">Объём л</th>
          <th class="mn">Мощность л.с</th>
          <th class="mn">Цена </th>
          <th class="s_price">Цена со скидкой</th>
          <th class="mn_n"></th>
          <th class="mn_n"></th>
          <th class="mn_n"></th>
        </tr>
        </thead>
        <tbody>
        <% spec.each_with_index do |cs,index_spec| %>
          <tr class="compl_gr_title"><td><% if cs.volume.present? %><%= "#{(cs.volume / 1000.to_f).round(1)} л. #{cs.drive == 'Полный' ? '4WD' : '2WD'} "%> <% end %> <% "#{cs.shorttransmission}" %></td></tr>
          <% cs.equipment.where('`equipment`.`hide` = 0').order(:price).each_with_index do |e,index| %>
            <%
              real_discount = @car.discount_count(e) + @region_discount
              if (@car.discount_count(e) + @region_discount) < e.price*4/10
                max_discount = @car.discount_count(e) + @region_discount
              else
                max_discount = e.price*4/10
              end
            %>

            <tr class="tr" data-action="show-table-row-description" data-url="<%= row_description_path(@brand.url,@car.url,e.id) %>">
              <th class="">
                <span><%= e.equipment_description.name %> <%= e.suffix %></span>
                <span class="mn_s"><%= e.specification.power %> л.с, <%= e.specification.shorttransmission %></span>
                <i></i>
              </th>
              <td class="mn kpp"><%= e.specification.transmission.gsub('Механическая','Механика').gsub('5-ступенчатая механическая','Механика').gsub('5MT','').gsub('6МТ','').gsub('Автоматическая','Автомат').gsub('5-ступенчатая автоматическая','Автомат').gsub('4AT','') %> (<%= e.specification.shorttransmission %>)</td>
              <td class="mn"><% if e.specification.volume.present? %><%= (e.specification.volume / 1000.to_f).round(1) %><% end %></td>
              <td class="mn"><% if e.specification.power.present? %><%= e.specification.power %><% end %></td>
              <td class="mn compl-price">
                <span class="tablepricesale" data-role="base_price"><%= number_with_delimiter(e.price,delimiter: ' ') %></span> ₽
              </td>
              <td style="display: none">
                <span class="tablepricediscount" data-role="discount_sale" data-real-discount="<%=real_discount %>"><%= number_with_delimiter(max_discount,delimiter: ' ') %></span>
              </td>
              <td class="compl-price-discount">
                <span data-role="discount_price" class="tableprice" data-real-price="<%= (e.price - real_discount) %>"><%#= number_with_delimiter(e.price - max_discount,delimiter: ' ') %><%#= (e.price - real_discount) %><%= number_with_delimiter(e.price - real_discount,delimiter: ' ') %></span> ₽
              </td>
              <td class=""><a href="#" class="but_traid-in" data-show-new-ajax="car-details-modal" data-eq_id="<%= e.id %>" rel="nofollow">Trade-in</a></td>
              <td class="cr_ord"><a href="#" class="table__button  table__button--red creditcompl but_credit" data-show-new-ajax="car-credit-modal" data-eq_id="<%= e.id %>" rel="nofollow">В кредит</a></td>
              <%
                e_name = e.equipment_description.name.parameterize
              %>
              <td class="mn_b">
                <%= link_to print_new_car_equipment_id_path(@brand.url,@car.url,e_name,e.id), class:'print', title:'Распечатать', target: '_blank' do %>
                <%= image_tag "carso/icons/print_a.png", alt:'', lazy:true %>
                <% end %>
              </td>
            </tr>
            <%= '<!-- noindex -->'.html_safe if region %>
            <tr class="compl-description" data-role="table-row-description">
              <td colspan="12">
                <div class="compl-description-content" id='equipment_<%= e.id %>_description'>
                  <%# if index == 0 && index_spec == 0%>
                  <% @equipment = e %>
                  <%= render partial:'carso/new_cars/compl_description_content'  %>
                  <%# end %>
                </div>
              </td>
            </tr>
            <tr class="tbm"><td></td></tr>
            <%= '<!--/ noindex -->'.html_safe if region %>
          <% end %>
        <% end %>
        </tbody>
      </table>

    </div>
  </div>
  <%# end %>
<% end %>
<%#= render 'partials/carso/tradein_form' %>


<% cards = EquipmentDescription
  .joins(:equipments)
  .select('MIN(price) AS price,`equipment_descriptions`.`name`,`equipment_descriptions`.`description`, `equipment_descriptions`.`id`,`equipment_descriptions`.`new_car_id`, MIN(`equipment`.`id`) AS eq_id,`equipment_descriptions`.`compare`,`equipment_descriptions`.`comparedesc`')
  .where('`equipment_descriptions`.`new_car_id` = ?', @car.id).where('`equipment`.`hide` = 0')
  .group('`equipment`.`equipment_description_id`')
  .order('price ASC')
%>

<div class="discount__block">
  <span class="sale-calc-t">Выберите подходящие Вам варианты и получите максимальную выгоду!</span>
  <div class="row justify-content-between discount_block_lab">
    <div class="disc_bl_lab_main">
      <label id="spec_txt" class="row on" for="spec">
        <div class="saleprice-check on">
                   <span class="saleprice--lab">
                    <input id="spec" class="checkbox" type="checkbox" value="<%=@car.discount %>" checked="checked">
                   </span>
        </div>
        <div class="disc_bl_lab_ch">
          <span class="lab_ch-title">Спецпредложение</span>
          <span class="lab_ch-price" ><%= number_with_delimiter(@car.discount) %> ₽</span>
          <span class="lab_ch-text">Специальное предложение от автосалона на <%= @car.menutitle %></span>
        </div>
      </label>
    </div>
    <div class="disc_bl_lab_main">
      <label id="credit_txt" class="row on" for="credit">
        <div class="saleprice-check on">
                   <span class="saleprice--lab">
                    <input id="credit" class="checkbox" type="checkbox" value="<%= @car.discount_credit %>" checked="checked">
                   </span>
        </div>
        <div class="disc_bl_lab_ch">
          <span class="lab_ch-title">В кредит</span>
          <span class="lab_ch-price" ><%= number_with_delimiter(@car.discount_credit) %> &#8381;</span>
          <span class="lab_ch-text">Дополнительная скидка на автомобиль при оформлении в кредит</span>
        </div>
      </label>
    </div>
    <div class="disc_bl_lab_main">
      <label id="ten_perc_txt" class="row on" for="ten_perc">
        <div class="saleprice-check on">
                   <span class="saleprice--lab">
                    <input id="ten_perc" class="checkbox" data-check-status=""  type="checkbox" value="40000" checked="checked">
                   </span>
        </div>
        <div class="disc_bl_lab_ch">
          <span class="lab_ch-title">Программа лояльности</span>
          <span class="lab_ch-price">40 000 ₽</span>
          <span class="lab_ch-text">Дополнительная скидка при прохождении ТО в нашем сервис-центре</span>
        </div>
      </label>
    </div>

    <div class="disc_bl_lab_main">
      <label id="trade_in_3y_txt" class="row on" for="trade_in_3y">
        <div class="saleprice-check on">
                   <span class="saleprice--lab">
                    <input id="trade_in_3y" class="checkbox" type="checkbox" value="<%=@car.discount_tradein %>" checked="checked">
                  </span>
        </div>
        <div class="disc_bl_lab_ch">
          <span class="lab_ch-title">Trade-in</span>
          <span class="lab_ch-price"><%= number_with_delimiter(@car.discount_tradein) %> ₽</span>
          <span class="lab_ch-text">Дополнительная скидка при приеме вашего старого авто в счет покупки</span>
        </div>
      </label>
    </div>
  </div>

  <div class="row justify-content-between total__discount__bl">
    <div class="row align-items-start">
      <div class="total__discount">
        <span>Сумма скидки:</span>
        <div class="row discount-pr-w">
          <div id="discount-counted" data-real-discount="<%=@car.discount_count(max_price_e) + @region_discount %>" class="redtext"><%= "#{number_with_delimiter(max_discount_e,delimeter:' ')}" %></div>
          <div class="discount-r">&nbsp;₽</div>
        </div>
      </div>
    </div>

    <div class="row align-items-end disc_bl_lab_main">
      <label class="row on">
        <div class="saleprice-check on">
                   <span class="saleprice--lab">
                    <input class="checkbox" type="checkbox" checked="checked">
                  </span>
        </div>
        <div class="disc_bl_lab_ch">
          <span class="lab_ch-title">КАСКО в подарок</span>
          <span class="lab_ch-text">на 1 год при покупке<br> до <%= l(SALE_DATE, format: :next_monday) %> 2021 года</span>
        </div>
      </label>
    </div>

    <button name="button" data-show-new-ajax="car-details-modal" data-eq_id="<%= @car.id %>"><span>Узнать подробнее</span></button>
  </div>

</div>

<% if region %>
  <%#= render partial:'new_cars/region_reasons' %>
<% end %>




<% if @car.car_type.present? %>
  <div class="card__box">
    <div>
      <h2>Другие автомобили в кузове <%= @car.car_type.partition(" ").first.pluralize(:ru) %></h2>
    </div>
    <div class="card_box_slide row justify-content-between align-items-center">
      <%= render partial:'new_cars/small_new_cars_type', collection: NewCar.where('car_type LIKE ?','%' + @car.car_type.partition(" ").first + '%')
          .where('`new_cars`.`id` != ?', @car.id).where(hide: 0)
          .limit(60), :locals => {:show_brand => true,:credit_flag => false} %>
    </div>

    <div class="row justify-content-center cr_tr_url">
      <div class="cr_tr_hr">
        <%= link_to 'Все ' + @car.car_type.partition(" ").first.pluralize(:ru), new_car_type_path(t(@car.car_type.partition(" ").first,scope: :car_types)),class:'btn-link' %>
      </div>
    </div>


  </div>
<% end %>


<% content_for :rails_to_js_variables do %>
  <script>
      var COMPL_GROUPS = <%= @compl_groups %>;
      //  var COLOR_GROUPS = <%= @color_groups %>;
  </script>
<% end %>
<% content_for :additional_javascript do %>

  <script>
      carid = '<%= @car.id %>';
      car_url = '<%= @car.url %>';
      car_brand = '<%= @car.brand.url %>';
  </script>

  <script type="text/javascript">
      var _tmr = _tmr || [];
      _tmr.push({
          type: 'itemView',
          productid: '<%= @car.id %>',
          pagetype: 'product',
          list: '2'
      });
  </script>

<% end %>