<%
  max_price_e = @car.equipments.where(hide:0).order(price: :desc).first
  if (@car.discount_count(max_price_e) + @region_discount) < max_price_e.price*4/10
    max_discount_e = @car.discount_count(max_price_e) + @region_discount
  else
    max_discount_e = max_price_e.price*4/10
  end

  if (@car.discount_count + @region_discount) < @car.equipments.where(hide:0).minimum(:price)*4/10
    min_discount_e = @car.discount_count + @region_discount
  else
    min_discount_e = @car.equipments.where(hide:0).minimum(:price)*4/10
  end
  min_price = @car.equipments.where(hide:false).minimum(:price) - max_discount_e
%>
<%
  region = false
  unless @current_region.id == 57
    region = true
  end

  t_mos = "Купить #{@car.russian_name} #{@car.old ? (Time.current - 2.year).year.to_s : (Time.current - 1.year).year.to_s}-#{@car.old ? (Time.current - 1.year).year.to_s : Time.current.year.to_s} у официального дилера в #{@current_region.sklon3} 🚗  новый #{@car.menutitle} — автосалон «Авимоторс»"
  t_reg = "Купить #{@car.russian_name} в #{@current_region.sklon3} 🚗 цена на #{'новый' unless @car.old} #{@car.menutitle} #{@car.old ? (Time.current - 1.year).year.to_s : Time.current.year.to_s} у официального дилера — автосалон «Авимоторс»"

  d_mos = "❗ Грандиозная распродажа новых автомобилей #{@car.menutitle} #{@car.old ? (Time.current - 2.year).year.to_s : (Time.current - 1.year).year.to_s} - #{@car.old ? (Time.current - 1.year).year.to_s : Time.current.year.to_s} года в #{@current_region.sklon3}! 🚘 Все комплектации в наличии у официального дилера! ❗ Скидка на #{@car.russian_name} до #{number_with_delimiter(max_discount_e,delimeter:' ')} руб. ✅ Кредит от 1,9%! 🎁 — автосалон «Авимоторс» ☎️ 8 (800) 707-53-51."
  d_reg = "❗️Грандиозная распродажа новых автомобилей #{@car.menutitle} #{@car.old ? (Time.current - 2.year).year.to_s : (Time.current - 1.year).year.to_s} - #{@car.old ? (Time.current - 1.year).year.to_s : Time.current.year.to_s} года! 🚘 Все комплектации в наличии у официального дилера в #{@current_region.sklon3}!❗️ Скидка на #{@car.russian_name} до #{number_with_delimiter(max_discount_e,delimeter:' ')} руб. ✅ Кредит от 1,9%! 🎁 — автосалон «Авимоторс» ☎️ 8 (800) 707-53-51."

  o_mos = "Купить #{'новый' unless @car.old} #{@car.russian_name} в #{@current_region.sklon3}. Скидка до #{number_with_delimiter(max_discount_e,delimeter:' ')} рублей! Экспресс кредит от 1.9%, Рассрочка 0%, Trade-in. Продажа #{@car.menutitle} #{@car.old ? (Time.current - 2.year).year.to_s : (Time.current - 1.year).year.to_s + '-' + Time.current.year.to_s} года, все комплектации в наличии у официального дилера — автосалон «Авимоторс»"
  o_reg = "Продажа #{@car.russian_name} в #{@current_region.sklon3}. Скидка до #{number_with_delimiter(max_discount_e,delimeter:' ')} рублей! Экспресс кредит 1,9%, Рассрочка 0%, trade-in. #{'Новый ' unless @car.old}#{@car.menutitle} #{@car.old ? (Time.current - 2.year).year.to_s : (Time.current - 1.year).year.to_s + '-' + Time.current.year.to_s} всех комплектаций у официального дилера — автосалон «Авимоторс»"

  if !region
    provide :title,t_mos
    provide :description,d_mos
    ogdesc = o_mos
  else
    provide :title,t_reg
    provide :description,d_reg
    ogdesc = o_reg
  end

  if @car.colors[0].present?
    pimage = @car.colors[0].url
  end

  provide :og_tags,"<meta property='og:type' content='article'>
  <meta property='og:site_name' content='Авимоторс'>
  <meta property='og:url' content='#{request.original_url}'>
  <meta property='og:title' content='#{@car.name}'>
  <meta property='og:description' content='#{ogdesc}'>
  <meta property='og:locale' content='ru_RU'>
  <meta property='og:image' content='#{pimage}'>".html_safe

%>

<%
  if @car.colors.length > 2
    colors_swaped = @car.colors.swap(0,1)
    color_options_swaped =  @car.color_options.swap(0,1)
  else
    colors_swaped = @car.colors
    color_options_swaped = @car.color_options
  end
%>

<% if @car.archive
     if @car.url.include? '-old'
       model = @car.url[0...-4]
     else
       model = @car.url
     end

     if UsedCar.used_cars.where(brand_id: @car.brand_id, url: model).present?
       name = @car.menutitle
     else
       name = @car.brand.title
     end
   end
%>






<section class="main-item">
  <div class="main-item-wrap">
    <div class="avt_nc">
      <% car_count_arr = [] %>
      <% equipments = @equipments.limit(10).shuffle %>
      <% equipments.each do |e| %>
        <% car_count = e.id % 3 %>
        <% car_count = 2 if car_count < 2 %>
        <% car_count_arr.push(car_count) %>
      <% end %>
      В наличии:&nbsp;<b><%= car_count_arr.sum %></b>
    </div>
    <div class="main-item-color">
      <div class="singlecar__colors">
        <ul class="colors-list">
          <% color_options_swaped.each_with_index do |c,index| %>
            <li class="color <% if index == 1 %>color--choosed<% end %>" data-action="show-color" style="background-color: <%= c['color'] %>; background: <%= c['color2'] if c['color2'].present? %>;"
                data-disable-hover="false" title="<%= c['colorname'] %>" data-color_index="<%= index %>">
            </li>
          <% end %>
        </ul>
      </div>
    </div>
      <div class="main-img img-comp-container" data-content="car-colors-list">
      <% colors_swaped[0..1].each_with_index do |c,index| %>
        <div class="img-comp-img">
          <%= image_tag "#{c.largecard.url}",class:'', alt:'', itemprop:'image', data:{:image_index=>index} %>
        </div>
      <% end %>
      <% if colors_swaped[2..-1].present? %>
        <% colors_swaped[2..-1].each_with_index do |c,index| %>
          <% index = index + 2 %>
          <div class="img-comp-img">
            <%#= image_tag 'blank.png',class:'', alt:'', data:{:altsrc=>"#{c.largecard.url}",:image_index=>index} %>
            <%= image_tag c.largecard.url, class:'', alt:'', data:{:image_index=>index} %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="main-brand-model">
      <div class="vk_mp"></div>
      <div class="vk_mp_mn">
        <% unless !@car.available %>
        <a href="#compl_t" rel="nofollow" data-role="page-navigation-link" class="main-model-menu-item">Комплектации и цены</a><% end %>
        <a href="#car-features" rel="nofollow" data-role="page-navigation-link" class="main-model-menu-item">Технические характеристики</a>
        <% unless !@car.available %><a href="#filter_list" rel="nofollow" data-role="page-navigation-link" class="main-model-menu-item">Автомобили в наличии</a><% end %>
        <% if @car.description.present? && @car.description['text_lower'].present? %>
        <% end %>
        <% if @car.images.present? %>
        <a href="#photo_car" rel="nofollow" class="main-model-menu-item">Фото и видео</a><% end %>
      </div>
      <div class="main-brand-name"><%= @car.brand.title %></div>
      <div class="main-model-name"><%= @car.name %></div>
      <div class="main-price">
        <div class="main-price-item">



          <div class="main-price-discount"><%= number_with_delimiter(@car.count_min_price(@region_discount), delimiter: " ") %> ₽</div>
          <div class="main-price-month"><span class="main-price-month_green"><% snc_price = min_price %><%= number_with_delimiter(count_price(snc_price,PERCENT,MONTH), delimiter: " ") %> ₽</span>/мес
          </div>
        </div>
        <div class="main-price-item">
          <div class="main-price-benefit">
            <div class="main-price-benefit_title">Выгода в кредит</div>
            <div class="main-price-benefit_cost"><%= number_with_delimiter(max_discount_e,delimeter:' ') %> ₽</div>
          </div>
        </div>
      </div>
      <div class="main-spec">
        <div class="main-spec-item">
          <div class="main-spec-img engine"></div>
          <div class="main-spec-wrap">
            <div class="main-spec-title"><%= @car.specifications.joins(:equipment).where('`equipment`.`hide` = 0').maximum(:power) %> л/c</div>
            <div class="main-spec-text">Мощность двигателя</div>
          </div>
        </div>
        <% min_acc = @car.specifications.joins(:equipment).where('`equipment`.`hide` = 0').minimum(:acceleration) %>
        <% if min_acc.present? %>
          <div class="main-spec-item">
            <div class="main-spec-img speed"></div>
            <div class="main-spec-wrap">
              <div class="main-spec-title"><%= @car.specifications.joins(:equipment).where('`equipment`.`hide` = 0').minimum(:acceleration).round(1) %> с</div>
              <div class="main-spec-text">Разгон до 100 км/ч</div>
            </div>
          </div>
        <% end %>
        <%
          min_fh = @car.specifications.joins(:equipment).where('`equipment`.`hide` = 0').minimum(:fuelhigh)
          min_fc = @car.specifications.joins(:equipment).where('`equipment`.`hide` = 0').minimum(:fuelcity)
          min_fm = @car.specifications.joins(:equipment).where('`equipment`.`hide` = 0').minimum(:fuelmix)
          unless min_fc.nil? || min_fh.nil? || min_fm.nil?

            if (min_fc.nil? || min_fh.nil?) && min_fm.present?
              fuel = min_fm.round(1)
            else
              fuel = "#{min_fh.round(1)}"
            end
        %>
            <div class="main-spec-item">
              <div class="main-spec-img fuel"></div>
              <div class="main-spec-wrap">
                <div class="main-spec-title"><%= fuel %> л</div>
                <div class="main-spec-text">Расход на 100км</div>
              </div>
          <% end %>
      </div>
    </div>
    </div>













    <section class="main-offer">
      <section class="main-offer-container">
        <div class="main-offer-title">Персональное предложение на покупку в кредит</div>
        <div class="main-offer-text">скидка до <%= number_with_delimiter(max_discount_e,delimeter:' ') %> ₽ / Каско в подарок рассрочка 0%  /  кредит: 1.9% </div>


        <%= form_for Ticket.new,url: {action:"create",controller:"tickets" },remote:true,validate:true,:html => {:class => "form",:name=>"newcarreq"},:namespace => "newcarreq" do |f| %>
          <%= hidden_field_tag 'ticket[other][model]',@car.id, id:'newcarreq_ticket_other_model' %>
          <%= f.hidden_field :form_name, value:"express" %>
          <div class="main-offer-form">
            <%= f.text_field :name,class:"input main-offer-form_input",placeholder:"Ваше имя" %>
          </div>
          <div class="main-offer-form">
            <%= f.phone_field :phone,class:"input main-offer-form_input",data:{:role=>"phone"},placeholder:"Номер телефона"  %>
          </div>
          <%= f.button class: "button main-offer-button_item" do %><span>Получить условия</span><% end %>
        <% end %>
        <div class="main-offer-action">Акция до <%= l(SALE_DATE, format: :next_monday) %></div>
        <div class="main-offer-accept">Нажимая на кнопку “Получить условия” Вы даете согласие на обработку своих персональных данных</div>
      </section>
    </section>



  </div>
</section>
<section class="main-model-menu">


  <div class="main-model-menu-list">
    <% unless !@car.available %>
      <a href="#compl_t" rel="nofollow" data-role="page-navigation-link" class="main-model-menu-item">Комплектации и цены</a><% end %>
    <a href="#car-features" rel="nofollow" data-role="page-navigation-link" class="main-model-menu-item">Технические характеристики</a>
    <% unless !@car.available %><a href="#filter_list" rel="nofollow" data-role="page-navigation-link" class="main-model-menu-item">Автомобили в наличии</a><% end %>
    <% if @car.description.present? && @car.description['text_lower'].present? %>
    <% end %>
    <% if @car.images.present? %>
      <a href="#photo_car" rel="nofollow" class="main-model-menu-item">Фото и видео</a><% end %>
  </div>

</section>
<section class="main-gifts">
  <section class="main-gifts-cont">
    <div class="main-gifts-item">
      <div class="main-gifts-img umbrella">

      </div>
      <div class="main-gifts-title snowflake">
        Каско
      </div>
      <div class="main-gifts-text train">
        покупателю в подарок
      </div>
    </div>
    <div class="main-gifts-item">
      <div class="main-gifts-img snowflake">

      </div>
      <div class="main-gifts-title">
        Зимняя резина
      </div>
      <div class="main-gifts-text">
        в подарок с автомобилем
      </div>
    </div>
    <div class="main-gifts-item">
      <div class="main-gifts-img train">

      </div>
      <div class="main-gifts-title">
        Оплата проезда
      </div>
      <div class="main-gifts-text">
        покупателя до автосалона
      </div>
    </div>
  </section>
</section>

<section class="main-salon">
  <section class="main-title-wrap">
    <div class="main-title">
      <div class="main-title-text">В салоне</div>
    </div>
  </section>

  <div class="main-salon-gallery">
      <% @car.images_available.each do |image|%>
        <%= link_to image.url,class:'photo-link', data:{:fancybox => 'car-exterior'} do %>
        <div class="main-salon-gallery-wrap">
            <%= image_tag image.thumb.url, alt: '' %>
      </div>
        <% end %>
      <% end %>
   </div>












</section>




<section class="main-equip">
<% unless !@car.available %>
  <%# unless @car.archive %>
  <div class="complectation">

    <div class="main-title" id="compl_t">
      <div class="main-title-text">Комплектации и цены</div>
    </div>


    <div class="table-main">
      <% spec = Specification.select('specifications.*,MIN(equipment.price) AS min_price')
          .joins(:equipment)
          .where('`specifications`.`new_car_id` = ?', @car.id).where('`equipment`.`hide` = 0').group('specifications.id').order('min_price') %>
      <table class="table">
        <tbody>
        <% spec.each_with_index do |cs,index_spec| %>
          <tr class="compl_gr_title"><td><div><% if cs.volume.present? %><%= "#{(cs.volume / 1000.to_f).round(1)} л. #{cs.drive == 'Полный' ? '4WD' : '2WD'} "%> <% end %> <% "#{cs.shorttransmission}" %></div></td></tr>
          <% cs.equipment.where('`equipment`.`hide` = 0').order(:price).each_with_index do |e,index| %>
            <%
              real_discount = @car.discount_count(e) + @region_discount
              if (@car.discount_count(e) + @region_discount) < e.price*4/10
                max_discount = @car.discount_count(e) + @region_discount
              else
                max_discount = e.price*4/10
              end
            %>

            <tr class="tr" data-action="show-table-row-description" data-url="<%= row_description_path(@brand.url,@car.url,e.id) %>">
              <th class="">
                <div>
                 <span><%= e.equipment_description.name %> <%= e.suffix %></span>
                 <span class="mn_s">
                     <b data-role="discount_price" class="tableprice" data-real-price="<%= (e.price - real_discount) %>"><%#= number_with_delimiter(e.price - max_discount,delimiter: ' ') %><%#= (e.price - real_discount) %><%= number_with_delimiter(e.price - real_discount,delimiter: ' ') %> ₽</b>
                     <%= e.specification.power %> л.с, <%= e.specification.shorttransmission %></span><i></i>
                </div>
                <div class="vgdm_dv">
                  <span class="vgdm_p">Выгода в кредит <b><%= number_with_delimiter(max_discount_e,delimeter:' ') %> ₽</b></span>
                  <a href="#" class="main-equip-button_item" data-show-new-ajax="car-credit-modal" data-eq_id="<%= e.id %>" rel="nofollow">Купить в кредит</a>
                </div>
              </th>
              <td class="mn kpp"><%= e.specification.transmission.gsub('Механическая','Механика').gsub('5-ступенчатая механическая','Механика').gsub('5MT','').gsub('6МТ','').gsub('Автоматическая','Автомат').gsub('5-ступенчатая автоматическая','Автомат').gsub('4AT','') %> (<%= e.specification.shorttransmission %>)</td>
              <td class="mn"><% if e.specification.volume.present? %><%= (e.specification.volume / 1000.to_f).round(1) %><% end %></td>
              <td class="mn"><% if e.specification.power.present? %><%= e.specification.power %><% end %></td>
              <td class="mn compl-price">
                <span class="tablepricesale" data-role="base_price"><%= number_with_delimiter(e.price,delimiter: ' ') %></span> ₽
              </td>
              <td style="display: none">
                <span class="tablepricediscount" data-role="discount_sale" data-real-discount="<%=real_discount %>"><%= number_with_delimiter(max_discount,delimiter: ' ') %></span>
              </td>
              <td class="compl-price-discount">
                <span data-role="discount_price" class="tableprice" data-real-price="<%= (e.price - real_discount) %>"><%#= number_with_delimiter(e.price - max_discount,delimiter: ' ') %><%#= (e.price - real_discount) %><%= number_with_delimiter(e.price - real_discount,delimiter: ' ') %></span> ₽
              </td>
              <td class=""><a href="#" class="but_traid-in" data-show-new-ajax="car-details-modal" data-eq_id="<%= e.id %>" rel="nofollow">Trade-in</a></td>
              <td class="cr_ord">
                <a href="#" class="main-equip-button_item" data-show-new-ajax="car-credit-modal" data-eq_id="<%= e.id %>" rel="nofollow">Купить в кредит</a></td>
              <%
                e_name = e.equipment_description.name.parameterize
              %>
            </tr>
            <%= '<!-- noindex -->'.html_safe if region %>
            <tr class="compl-description" data-role="table-row-description">
              <td colspan="12">
                <div class="main-equip-pop show" id='equipment_<%= e.id %>_description'>
                  <%# if index == 0 && index_spec == 0%>
                  <% @equipment = e %>
                  <%= render partial:'carso/new_cars/compl_description_content' %>
                  <%# end %>
                </div>
              </td>
            </tr>
            <tr class="tbm"><td></td></tr>
            <%= '<!--/ noindex -->'.html_safe if region %>
          <% end %>
        <% end %>
        </tbody>
      </table>

    </div>
  </div>
  <%# end %>
<% end %>
<%#= render 'partials/carso/tradein_form' %>
</section>

<% cards = EquipmentDescription
    .joins(:equipments)
    .select('MIN(price) AS price,`equipment_descriptions`.`name`,`equipment_descriptions`.`description`, `equipment_descriptions`.`id`,`equipment_descriptions`.`new_car_id`, MIN(`equipment`.`id`) AS eq_id,`equipment_descriptions`.`compare`,`equipment_descriptions`.`comparedesc`')
    .where('`equipment_descriptions`.`new_car_id` = ?', @car.id).where('`equipment`.`hide` = 0')
    .group('`equipment`.`equipment_description_id`')
    .order('price ASC')
%>



<section class="main-compare">
  <% prev_compl = '' %>
  <% prev_compl_params = [] %>


  <% cards.each_with_index do |e, index| %>
    <% compl_params = [] %>
    <% doc = Nokogiri::HTML(e.description) %>
    <% doc.css('li').each do |tag| %>
      <% compl_params.push(tag.content) %>
    <% end %>
  <div class="main-compare-cont">
    <div class="main-compare-item">
      <div class="main-compare-wrap">
        <div class="main-compare-img">
          <% c = e.new_car.colors.swap(0,1) %>
          <% if index < c.length
               ind = index
             else
               ind = 0
             end
          %>
          <% if e.comparedesc %>
              <img src="<%= e.compare[0].large.url %>" alt="<%= e.comparedesc[0] %>">
          <% end %>
        </div>
        <div class="main-compare-adittion-wrap">
          <div class="main-compare-addition">
            <%= prev_compl == '' ? 'Базовая комплектация' : 'В дополнение к ' + prev_compl %>
          </div>
          <div class="main-compare-title"><%= e.name %></div>
          <div class="main-compare-price-credit">В кредит</div>
          <div class="main-compare-price">
            <div class="main-compare-price-wrap">
              <div class="main-compare-price-title"><% snc_price = e.equipments.where(hide: 0).minimum(:price) - max_discount_e %><%= number_with_delimiter(count_price(snc_price,PERCENT,MONTH), delimiter: " ") %> ₽/мес</div>
              <button class="main-button"></button>
            </div>
          </div>
        </div>
      </div>
      <div class="main-compare-scroll scroll">
        <div class="main-scroll-bg"></div>


        <% (compl_params - prev_compl_params).each do |p| %>
          <div class="main-compare-scroll_item"><%= p %></div>
        <% end %>

      </div>
    </div>
  </div>
    <% prev_compl_params = compl_params %>
    <% prev_compl = e.name %>
  <% end %>
</section>


<% if @car.images.present? %>
<section class="main-gallery">
  <div class="main-title-wrap">
    <div class="main-title">
      <div class="main-title-text">Фотогалерея</div>
    </div>
  </div>

  <div class="mg_fr-f">
    <% @car.images[1..-1].each do |image|%>
      <div class="main-gallery-item">
        <%= link_to image.large.url, itemprop:'url' ,class:'photo-link',data:{:fancybox => 'car-exterior'} do %>
          <%= image_tag image.thumb.url,alt: "#{@car.brand.title} #{@car.name}", class:'photo' %>
        <% end %>
      </div>
    <% end %>
  </div>
</section>
<% end %>



<section class="main-brand">
  <section class="main-title-wrap">
    <div class="main-title">
      <div class="main-title-text">
        Другие модели <%= @brand.title %>
      </div>
    </div>
  </section>
  <div class="main-brand-item-cont">
    <%= render partial:'new_cars/small_new_cars_model', collection: @brand.new_cars.where(hide: 0).where(archive: 0).where.not(id: @car.id).min_price_ordered.limit(6), :locals => {:show_brand => false,:credit_flag => true} %>

  </div>
</section>











<% content_for :rails_to_js_variables do %>
  <script>
      var COMPL_GROUPS = <%= @compl_groups %>;
      //  var COLOR_GROUPS = <%= @color_groups %>;
  </script>
<% end %>
<% content_for :additional_javascript do %>

  <script>
      carid = '<%= @car.id %>';
      car_url = '<%= @car.url %>';
      car_brand = '<%= @car.brand.url %>';
  </script>

  <script type="text/javascript">
      var _tmr = _tmr || [];
      _tmr.push({
          type: 'itemView',
          productid: '<%= @car.id %>',
          pagetype: 'product',
          list: '2',
          totalvalue: '<%= number_with_delimiter(@car.count_min_price(@region_discount), delimiter: "") %>'
      });
  </script>

<% end %>