<% max_price_e = @car.equipments.where(hide:0).order(price: :desc).first
  if (@car.discount_count(max_price_e) + @region_discount) < max_price_e.price*4/10
    max_discount_e = @car.discount_count(max_price_e) + @region_discount
  else
    max_discount_e = max_price_e.price*4/10
  end

  if (@car.discount_count + @region_discount) < @car.equipments.where(hide:0).minimum(:price)*4/10
    min_discount_e = @car.discount_count + @region_discount
  else
    min_discount_e = @car.equipments.where(hide:0).minimum(:price)*4/10
  end
%>

<%

  # m = 48
  # p = 20

  region = false
  unless @current_region.id == 57
    region = true
  end

  t_mos = "#{@car.russian_name} в трейд-ин #{@car.old ? 'купить' : 'купить новый'} #{@car.menutitle} #{@car.old ? (Time.current - 2.year).year.to_s + '-' + (Time.current - 1.year).year.to_s : (Time.current - 1.year).year.to_s + '-' + Time.current.year.to_s} в рассрочку в автосалоне, #{@current_region.sklon1}"
  t_reg = "Трейд-ин на #{@car.menutitle} #{@car.old ? 'купить' : 'купить новый'} #{@car.russian_name} #{@car.old ? (Time.current - 2.year).year.to_s + '-' + (Time.current - 1.year).year.to_s : (Time.current - 1.year).year.to_s + '-' + Time.current.year.to_s} в рассрочку в #{@current_region.sklon3} (автосалон)"

  d_mos = "Выгодные условия на покупку #{@car.menutitle} в трейд-ин в автосалоне Дисконт Авто #{@car.old ? 'купить' : 'купить новый'} #{@car.russian_name} в рассрочку под 0% у официального дилера в #{@current_region.sklon3}."
  d_reg = "#{@car.old ? 'Купить' : 'Купить новый'} #{@car.russian_name} в рассрочку под 0% у официального дилера в #{@current_region.sklon3}. Выгодные условия на покупку #{@car.menutitle} в трейд-ин в автосалоне Дисконт Авто."

  o_mos = "#{@car.russian_name} по цене от #{number_with_delimiter(@car.equipments.minimum(:price)  - min_discount_e,delimeter: ' ') } ₽. Все комплектации в наличии! Купить новый автомобиль #{@car.menutitle} #{@car.old ? (Time.current - 2.year).year.to_s : (Time.current - 1.year).year.to_s + '-' + Time.current.year.to_s} годов! Скидка до #{number_with_delimiter(max_discount_e,delimeter:' ')} ₽лей у официального дилера в #{@current_region.sklon3}. Бонусы и Подарки!"
  o_reg = "Продажа #{@car.russian_name} в #{@current_region.sklon3}. Скидка до #{number_with_delimiter(max_discount_e,delimeter:' ')} ₽лей! Экспресс кредит 1,9%, Рассрочка 0%, trade-in. Новый #{@car.menutitle} #{@car.old ? (Time.current - 2.year).year.to_s : (Time.current - 1.year).year.to_s + '-' + Time.current.year.to_s} всех комплектаций у официального дилера."

  if !region
    provide :title,t_mos
    provide :description,d_mos
    ogdesc = o_mos
  else
    provide :title,t_reg
    provide :description,d_reg
    ogdesc = o_reg
  end

  provide :og_tags,
"<meta property='og:type' content='article'>
<meta property='og:site_name' content='Autosalon-M'>
<meta property='og:url' content='#{request.original_url}'>
<meta property='og:title' content='#{@car.name}'>
<meta property='og:description' content='#{ogdesc}'>
<meta property='og:locale' content='ru_RU'>
<meta property='og:image' content='#{@car.colors[0].url}'>".html_safe

 %>

  <% colors_swaped = @car.colors.swap(0,1)
     color_options_swaped =  @car.color_options.swap(0,1)
  %>

<%
  if @car.archive
    if @car.url.include? '-old'
      model = @car.url[0...-4]
    else
      model = @car.url
    end

    if UsedCar.used_cars.where(brand_id: @car.brand_id, url: model).present?
      name = @car.menutitle
    else
      name = @car.brand.title
    end
  end

%>

<div class="h_block">
  <div>
    <h1 itemprop="name">Новый <%= @car.brand.title %> <%= @car.name %><span class="h_slog"> в трейд-ин</span></h1>
  </div>
  <div class="sale_h"><span>Акция в <%= @current_region.sklon3 %>!</span> <i>скидки на все комплектации <%= @car.brand.title %> <%= @car.name %><br> (кредит 1,9%, trade-in, рассрочка, подарки)</i></div>
  <div class="sale_h_pr"><div><span>Получи скидку</span> <i><%= number_with_delimiter(max_discount_e,delimeter:' ') %> ₽ </i></div>
    <a href="#" class="button sale_bn" data-show-new-ajax="car-credit-modal" data-eq_id="" rel="nofollow">Получить</a>
  </div>
</div>
<div class="url_ank">
  <% unless !@car.available %>
    <a href="#compl_t" rel="nofollow" data-role="page-navigation-link"><svg width="5" height="8" viewBox="0 0 5 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.200012 0.5L4.20001 4.00001L0.200024 7.5L0.200012 0.5Z" fill="#6AD1A6"/></svg>Комплектации и цены</a><% end %>
  <a href="#car-features" rel="nofollow" data-role="page-navigation-link">  <svg width="5" height="8" viewBox="0 0 5 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.200012 0.5L4.20001 4.00001L0.200024 7.5L0.200012 0.5Z" fill="#6AD1A6"/></svg>Технические характеристики</a>
  <% unless !@car.available %><a href="#filter_list" rel="nofollow" data-role="page-navigation-link">  <svg width="5" height="8" viewBox="0 0 5 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.200012 0.5L4.20001 4.00001L0.200024 7.5L0.200012 0.5Z" fill="#6AD1A6"/></svg>Автомобили в наличии</a><% end %>
  <% if @car.description.present? && @car.description['text_lower'].present? %>
    <a href="#car_seo" rel="nofollow" data-role="page-navigation-link">  <svg width="5" height="8" viewBox="0 0 5 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.200012 0.5L4.20001 4.00001L0.200024 7.5L0.200012 0.5Z" fill="#6AD1A6"/></svg>Описание <%= @car.brand.title %> <%= @car.name %></a><% end %>
  <% if @car.images.present? %>
    <a href="#photo_car" rel="nofollow"><svg width="5" height="8" viewBox="0 0 5 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.200012 0.5L4.20001 4.00001L0.200024 7.5L0.200012 0.5Z" fill="#6AD1A6"/></svg>Фото и видео</a><% end %>

</div>

<div class="row str_credit stb-n justify-content-between">

  <div class="img_col_block">
    <div class="grlp">Гарантия лучшей цены</div>
    <div class="img-comp-container" data-content="car-colors-list">
      <% colors_swaped[0..1].each_with_index do |c,index| %>
        <div class="img-comp-img">
          <%= image_tag "#{c.largecard.url}",class:'', alt:'', data:{:altsrc=>"#{c.largecard.url}",:image_index=>index} %>
        </div>
      <% end %>
      <% colors_swaped[2..-1].each_with_index do |c,index| %>
        <% index = index + 2 %>
        <div class="img-comp-img">
          <%#= image_tag 'blank.png',class:'', alt:'', data:{:altsrc=>"#{c.largecard.url}",:image_index=>index} %>
          <%= image_tag c.largecard.url, class:'', alt:'', data:{:altsrc=>"#{c.largecard.url}",:image_index=>index} %>
        </div>
      <% end %>
    </div>
    <div class="singlecar__colors-wrapper" data-content="choose-right-color">
      <div class="singlecar__colors">
        <ul class="colors-list">
          <% color_options_swaped.each_with_index do |c,index| %>
            <li class="color <% if index == 1 %>color--choosed<% end %>" data-action="show-color" style="background-color: <%= c['color'] %>; background: <%= c['color2'] if c['color2'].present? %>;" data-disable-hover="false" title="<%= c['colorname'] %>" data-color_index="<%= index %>"></li>
          <% end %>
        </ul>
      </div>

      <div class="row justify-content-between">
        <div class="sbc-item">
          <span class="sbc-i-text"><%= @car.specifications.joins(:equipment).where('`equipment`.`hide` = 0').maximum(:power) %> л.с.</span>
          <span class="sbc-i-title">Мощность</span>
        </div>
        <% min_acc = @car.specifications.joins(:equipment).where('`equipment`.`hide` = 0').minimum(:acceleration) %>
        <% if min_acc.present? %>
          <div class="sbc-item">
            <span class="sbc-i-text"><%= @car.specifications.joins(:equipment).where('`equipment`.`hide` = 0').minimum(:acceleration).round(1) %> с</span>
            <span class="sbc-i-title">Разгон до 100 км/ч</span>
          </div>
        <% end %>
        <%
          min_fh = @car.specifications.joins(:equipment).where('`equipment`.`hide` = 0').minimum(:fuelhigh)
          min_fc = @car.specifications.joins(:equipment).where('`equipment`.`hide` = 0').minimum(:fuelcity)
          min_fm = @car.specifications.joins(:equipment).where('`equipment`.`hide` = 0').minimum(:fuelmix)
          unless min_fc.nil? || min_fh.nil? || min_fm.nil?

            if (min_fc.nil? || min_fh.nil?) && min_fm.present?
              fuel = min_fm.round(1)
            else
              fuel = "#{min_fh.round(1)}"
            end
        %>
          <div class="sbc-item">
            <span class="sbc-i-text"><%= fuel %> л</span>
            <span class="sbc-i-title">Расход на 100 км</span>
          </div>
        <% end %>
      </div>

    </div>

  </div>
  <div class="form_block-right row justify-content-between">

    <div class="s__block__center">
      <span class="tr_sale-date">до <%= l(SALE_DATE, format: :next_monday) %> скидка</span>
      <div class="tr_sale-price"><%= "#{number_with_delimiter(max_discount_e,delimeter:' ')}" %> ₽ </div>
      <div class="sale-from_w">Как это работает?</div>
      <div class="opif_cr traid-in-op">
        <div class="row"><i>Укажите старый авто</i><span>Вы выбираете понравившуюся модель в нашем салоне, мы оцениваем Ваш старый автомобиль и предлагаем его стоимость. Эта цена будет учтена при определении стоимости новой машины. Вам достаточно будет доплатить лишь разницу.</span></div>
        <div class="row"><i>Дополнительные услуги</i><span>Далее мы можем поставить Ваш новый автомобиль на учёт в ГИБДД, и установить необходимое дополнительное оборудование согласно Вашим пожеланиям.<strong>И всё! Вы обладатель нового желанного автомобиля!</strong></span></div>
      </div>

    </div>

    <div class="form_block credit">
      <span class="fprm_gos_pa">Госпрограмма -10%</span>
      <% unless @car.available %>
        <span class="singlecar__form-discount" id="discount" data-real-discount="<%=@car.discount_count(max_price_e) + @region_discount %>">
          Скоро в продаже
        </span>
      <% else %>
        <% unless @car.archive %>
          <div class="form-sale-info">
            <div class="form-traid-info">Оставьте заявку на Трейд-ин</div>
            <span class="form-traid-sp">Менеджер свяжется с Вами в течении 5 минут</span>
          </div>
          <% end %>
          <% end %>

          <%= form_for Ticket.new,url: {action:"create",controller:"tickets" },remote:true,validate:true,:html => {:class => "form",:name=>"newcarreq"},:namespace => "newcarreq" do |f| %>
          <%= hidden_field_tag 'ticket[other][model]',@car.id, id:'newcarreq_ticket_other_model' %>
          <%= f.hidden_field :form_name, value:"express" %>
          <div class="form_input">
            <%= f.text_field :name,class:"input",placeholder:"Ваше имя" %>
          </div>
          <div class="form_input">
            <%= f.phone_field :phone,class:"input",data:{:role=>"phone"},placeholder:"Номер телефона"  %>
          </div>
          <div class="form_input">
            <%= f.text_field :other,class:"input",placeholder:"Марка и модель вашего авто" %>
          </div>
          <%= f.button do %>
          <%#= svg_tag 'carso/icons.svg','svg-phone',14,14,class:'' %>
          <% unless @car.available %>
          <span>Предзаказ</span>
          <% else %>
          <span>Отправить и получить скидку</span>
          <% end %>
          <% end %>
        <div class="secur_f">мы гарантируем конфиденциальность и защиту введённых данных</div>
          <% end %>
          </div>
          </div>
          </div>


<div class="tradein_btt">
  <span class="tradein_tt">Подробнее, как это работает?</span>
  <div class="row credit_bp_txt">
    <span class="col"></span>
    <div class="col"><p>Для того чтобы принять участие в программе Трейд-Ин, Вам достаточно выполнить наиболее простые условия:</p>
      <p>1. Привезти старый автомобиль нашим специалистам.</p>
      <p>2. Подготовить документы на машину.</p>
      <p>3. Взять с собой паспорт и водительское удостоверение.</p>
      <p>Приехав в наш автосалон, Вы просто выбираете понравившийся автомобиль, после чего профессионалы осмотрят Ваше авто. На основании проведенной оценки будет озвучена цена машины, которая может быть включена в стоимость новой модели.</p>
      <p>Во время осмотра наши специалисты отслеживают текущие стоимости похожих автомобилей на рынке. Таким образом мы формируем цену, которая станет наиболее выгодной для Вас при покупке новой машины.</p></div>
  </div>
</div>
<div class="tradein_btt">
  <span class="tradein_tt on">Как купить новую машину по Трейд-Ин?</span>
  <div class="row credit_bp_txt on">
    <span class="col"><%= image_tag "carso/png/traidin_1.png", alt:'' %></span>
    <div class="col"><p>В рамках системы, действующей в автосалоне Дисконт Авто, Вы можете сразу купить новый автомобиль, или же оплатить стоимостью старой машины первоначальный взнос для оформления автокредита.</p>
      <p>Во время продажи мы можем заранее установить дополнительное оборудование, необходимое именно Вам. При необходимости, мы также поможем Вам в постановке нового автомобиля на учет в ГИБДД.</p>
      <p>Система Трейд-Ин, действующая в автосалоне Дисконт Авто, позволяет любому автовладельцу сдать свою старую машину, а взамен получить новую модель на наиболее выгодных условиях. Таким образом Вам не нужно тратить время и силы на продажу автомобиля, ведь все это мы берем на себя.</p>
      <p>Данной услугой пользуются все больше и больше людей, и Вы можете оказаться в числе таких счастливчиков. Ведь Трейд-Ин позволяет в любое удобное время получить новенький автомобиль в необходимой комплектации и с максимальной финансовой выгодой.</div>
  </div>
</div>

<div class="pr_slog_b">
  <div><%= image_tag "carso/icons/casco.svg", alt:'' %>
    <span>Бесплатное <br> КАСКО</span>
  </div>
  <div><%= image_tag "carso/icons/tire.svg", alt:'' %>
    <span>Зимняя резина в <br> подарок</span>
  </div>
  <div><%= image_tag "carso/icons/gospr.svg", alt:'' %>
    <span>Госпрограммы: <br> -10% на любое авто</span>
  </div>
  <div><%= image_tag "carso/icons/route.svg", alt:'' %>
    <span>Оплата проезда <br> до автосалона</span>
  </div>
</div>


<div class="bank_block">
  <h2>Банки партнеры</h2>
  <div class="banks__main">
    <%= render partial:'partials/carso/bank', collection: Bank.all %>
  </div>
  <div class="bank_an">Внимание!</div>
  <div class="bank_an_if">К сожалению, банки не кредитуют регионы: Республика Кабардино-Балкария, Республика Чечня, Республика Дагестан, Республика Ингушетия, Республика Карачаево-Черкесия, Магадан.</div>
</div>


          <% unless !@car.available %>
          <%# unless @car.archive %>
          <div class="complectation">

            <div class="row" id="compl_t">
              <h2 class="title">Комплектации и цены <%= @car.russian_name %></h2>
            </div>
            <div class="table-main">
              <% spec = Specification.select('specifications.*,MIN(equipment.price) AS min_price')
                  .joins(:equipment)
                  .where('`specifications`.`new_car_id` = ?', @car.id).where('`equipment`.`hide` = 0').group('specifications.id').order('min_price') %>
              <table class="table">
                <thead>
                <tr class="t-header">
                  <th>Комплектация</th>
                  <th class="mn">КПП</th>
                  <th class="mn">Объём</th>
                  <th class="mn">Мощность</th>
                  <th class="mn">Цена </th>
                  <th class="mn">Цена со скидкой</th>
                  <th class="v__cr">В кредит</th>
                  <th class="mn_n"></th>
                  <th class="mn_n"></th>
                  <th class="mn_n"></th>
                </tr>
                </thead>
                <tbody>

                <% spec.each_with_index do |cs,index_spec| %>
                  <tr class="compl_gr_title"><td><% if cs.volume.present? %><%= "#{(cs.volume / 1000.to_f).round(1)} л. #{cs.drive == 'Полный' ? '4WD' : '2WD'} "%> <% end %> <% "#{cs.shorttransmission}" %></td></tr>
                  <% cs.equipment.where('`equipment`.`hide` = 0').order(:price).each_with_index do |e,index| %>
                    <%
                      real_discount = @car.discount_count(e) + @region_discount
                      if (@car.discount_count(e) + @region_discount) < e.price*4/10
                        max_discount = @car.discount_count(e) + @region_discount
                      else
                        max_discount = e.price*4/10
                      end
                      price_with_disount = e.price - max_discount
                    %>
                <tr class="tr" data-action="show-table-row-description"  data-url="<%= row_description_path(@brand.url,@car.url,e.id) %>">
                  <th class="row justify-content-between align-items-center">
                    <span><%= e.equipment_description.name %> <%= e.suffix %></span>
                    <span class="mn_s"><%= e.specification.power %> л.с, <%= e.specification.shorttransmission %></span>
                    <i></i>
                  </th>
                  <td class="mn kpp"><%= e.specification.transmission.gsub('Механическая','Механика').gsub('5-ступенчатая механическая','Механика').gsub('5MT','').gsub('6МТ','').gsub('Автоматическая','Автомат').gsub('5-ступенчатая автоматическая','Автомат').gsub('4AT','') %> (<%= e.specification.shorttransmission %>)</td>
                  <td class="mn"><% if e.specification.volume.present? %><%= (e.specification.volume / 1000.to_f).round(1) %><% end %></td>
                  <td class="mn"><% if e.specification.power.present? %><%= e.specification.power %><% end %></td>

                  <td class="mn compl-price">
                    <span class="tablepricesale" data-role="base_price"><%= number_with_delimiter(e.price,delimiter: ' ') %></span> ₽
                  </td>

                  <td class="mn pr-sale compl-price-discount">
                    <span class="tablepricesale" data-role="discount_price" data-base-price="<%= e.price %>" data-real-price="<%= (e.price - real_discount) %>"><%= number_with_delimiter(e.price - real_discount,delimiter: ' ') %><%#= number_with_delimiter(price_with_disount,delimiter: ' ') %></span>
                    ₽.
                  </td>
                  <td style="display: none" class="table__cell">
                    <span class="table__cell-price bold redtext">
                <span class="tablepricediscount" data-role="discount_sale" data-real-discount="<%=real_discount %>"><%= number_with_delimiter(max_discount,delimiter: ' ') %></span> ₽
              </span>
                  </td>

                  <td class="pr-sale-desc">
                    <span class="table__cell-price bold greentext">
                   <span data-role="credit_price" class="tableprice" data-price="<%= price_with_disount %>"><%= number_with_delimiter(count_price(price_with_disount,PERCENT,MONTH)) %></span> ₽/мес
              </span>
                  </td>
                  <td class=" mn_b_cr"><a href="#" class="table__button  table__button--red creditcompl but_credit" data-show-new-ajax="car-credit-modal" data-eq_id="<%= e.id %>">В кредит</a></td>
                  <td class=""><a href="#" class="but_traid-in" data-show-new-ajax="car-details-modal" data-eq_id="<%= e.id %>">Trade-in</a></td>
                  <%
                    e_name = e.equipment_description.name.parameterize
                  %>
                  <td class="mn_b">
                    <%= link_to print_new_car_equipment_id_path(@brand.url,@car.url,e_name,e.id), class:'print', title:'Распечатать', target: '_blank' do %>
                      <%= image_tag "carso/icons/print_a.png", alt:'', lazy:true %>
                    <% end %>
                </tr>
                <%= '<!-- noindex -->'.html_safe if region %>
                    <tr class="compl-description" data-role="table-row-description">
                      <td colspan="9">
                        <div class="compl-description-content" id='equipment_<%= e.id %>_description'>
                          <%# if index == 0 && index_spec == 0%>
                          <% @equipment = e %>
                          <%= render partial:'carso/new_cars/compl_description_content'  %>
                          <%# end %>
                        </div>
                      </td>
                    </tr>
                    <tr class="tbm"><td></td></tr>
                <%= '<!--/ noindex -->'.html_safe if region %>
                <% end %>
                <% end %>
                </tbody>
              </table>

              <div class="row justify-content-end cr_tr_url">
                <span>Подробнее: </span>
                <div class="cr_tr_hr">
                  <%= link_to "#{@car.brand.title} #{@car.name} за наличные", new_car_path(@car.brand,@car)%>
                  <%= link_to "В кредит #{@car.brand.title} #{@car.name}", new_car_credit_path(@car.brand,@car)%>
                </div>
              </div>

            </div>
          </div>
          <%# end %>
          <% end %>


<%= render 'partials/carso/tradein_form' %>

<div class="discount__block">
  <span class="sale-calc-t">Выберите подходящие Вам варианты и получите максимальную скидку!</span>
  <div class="row justify-content-between discount_block_lab">
    <div class="disc_bl_lab_main">
      <label id="spec_txt" class="row on" for="spec">
        <div class="saleprice-check on">
                   <span class="saleprice--lab">
                    <input id="spec" class="checkbox" type="checkbox" value="<%=@car.discount %>" checked="checked">
                   </span>
        </div>
        <div class="disc_bl_lab_ch">
          <span class="lab_ch-title">Спецпредложение</span>
          <span class="lab_ch-price" ><%= number_with_delimiter(@car.discount) %> ₽</span>
          <span class="lab_ch-text">Специальное предложение от автосалона</span>
        </div>
      </label>
    </div>
    <div class="disc_bl_lab_main">
      <label id="credit_txt" class="row on" for="credit">
        <div class="saleprice-check on">
                   <span class="saleprice--lab">
                    <input id="credit" class="checkbox" type="checkbox" value="<%= @car.discount_credit %>" checked="checked">
                   </span>
        </div>
        <div class="disc_bl_lab_ch">
          <span class="lab_ch-title">В кредит</span>
          <span class="lab_ch-price" ><%= number_with_delimiter(@car.discount_credit) %> &#8381;</span>
          <span class="lab_ch-text">Дополнительная скидка на автомобиль при оформлении в кредит</span>
        </div>
      </label>
    </div>
    <div class="disc_bl_lab_main">
      <label id="ten_perc_txt" class="row on" for="ten_perc">
        <div class="saleprice-check on">
                   <span class="saleprice--lab">
                    <input id="ten_perc" class="checkbox" data-check-status=""  type="checkbox" value="40000" checked="checked">
                   </span>
        </div>
        <div class="disc_bl_lab_ch">
          <span class="lab_ch-title">Программа лояльности</span>
          <span class="lab_ch-price">40 000 ₽</span>
          <span class="lab_ch-text">Дополнительная скидка при прохождении ТО в нашем сервис-центре</span>
        </div>
      </label>
    </div>

    <div class="disc_bl_lab_main">
      <label id="trade_in_3y_txt" class="row on" for="trade_in_3y">
        <div class="saleprice-check on">
                   <span class="saleprice--lab">
                    <input id="trade_in_3y" class="checkbox" type="checkbox" value="<%=@car.discount_tradein %>" checked="checked">
                  </span>
        </div>
        <div class="disc_bl_lab_ch">
          <span class="lab_ch-title">Trade-in</span>
          <span class="lab_ch-price"><%= number_with_delimiter(@car.discount_tradein) %> ₽</span>
          <span class="lab_ch-text">Дополнительная скидка при приеме вашего старого авто в счет покупки</span>
        </div>
      </label>
    </div>
  </div>

  <div class="row justify-content-between total__discount__bl">
    <div class="row align-items-end">
      <%= image_tag "carso/icons/ei_like.svg", alt:'' %>
      <div class="total__discount">
        <span>Сумма скидки:</span>
        <div class="row discount-pr-w">
          <div id="discount-counted" data-real-discount="<%=@car.discount_count(max_price_e) + @region_discount %>" class="redtext"><%= "#{number_with_delimiter(max_discount_e,delimeter:' ')}" %></div>
          <div class="discount-r">&nbsp;₽</div>
        </div>
      </div>
    </div>

    <div class="row align-items-end disc_bl_lab_main">
      <label class="row on">
        <div class="saleprice-check on">
                   <span class="saleprice--lab">
                    <input class="checkbox" type="checkbox" checked="checked">
                  </span>
        </div>
        <div class="disc_bl_lab_ch">
          <span class="lab_ch-title">КАСКО в подарок</span>
          <span class="lab_ch-text">на 1 год при покупке<br> до <%= l(SALE_DATE, format: :next_monday) %> 2021 года</span>
        </div>
      </label>
    </div>

    <button name="button" data-show-new-ajax="car-details-modal" data-eq_id="<%= @car.id %>"><span>Узнать подробнее о скидке</span></button>
  </div>

</div>

<% if region %>
  <%= render partial: 'new_cars/region_form' %>
<% end %>


          <div class="equipment-bl">
            <h2 class="title">Сравнение комплектаций</h2>
            <div class="row" id="equipment-bl">

              <% prev_compl = '' %>
              <% prev_compl_params = [] %>
              <% cards = EquipmentDescription
              .joins(:equipments)
              .select('MIN(price) AS price,`equipment_descriptions`.`name`,`equipment_descriptions`.`description`, `equipment_descriptions`.`id`,`equipment_descriptions`.`new_car_id`, MIN(`equipment`.`id`) AS eq_id,`equipment_descriptions`.`compare`,`equipment_descriptions`.`comparedesc`')
              .where('`equipment_descriptions`.`new_car_id` = ?', @car.id).where('`equipment`.`hide` = 0')
              .group('`equipment`.`equipment_description_id`')
              .order('price ASC')
              %>

              <% cards.each_with_index do |e, index| %>
              <% compl_params = [] %>
              <% doc = Nokogiri::HTML(e.description) %>
              <% doc.css('li').each do |tag| %>
              <% compl_params.push(tag.content) %>
              <% end %>

              <div class="equipment-list">
                <div class="">
                  <div class="equipment-name">
                    <div class="equ-title"><%= link_to new_car_equipment_path(@brand, @car, e.name.parameterize) do %><%= @car.brand.title %> <%= @car.name %> <%= e.name %><% end %></div>
                    <span class="equ-tip"><%= prev_compl == '' ? 'Базовая комплектация' : 'В дополнение к ' + prev_compl %></span>
                  </div>
                  <div class="row equipment-in-bl">
                    <div class="equipment-img">
                      <% c = e.new_car.colors.swap(0,1) %>
                      <% if index < c.length
                      ind = index
                      else
                      ind = 0
                      end
                      %>
                      <% if e.comparedesc %>
                      <figure class="card__gallery">
                        <img src="<%= e.compare[0].large.url %>" alt="<%= e.comparedesc[0] %>">
                      </figure>
                      <% end %>

                      <%
                      if (@car.discount_count(e) + @region_discount) < e.price*4/10
                      e_discount = @car.discount_count(e) + @region_discount
                      else
                      e_discount = e.price*4/10
                      end
                      %>
                      <% unless !@car.available %>
                      <div>
                        <span class="card-pr">от: <%= number_with_delimiter(e.price - e_discount, delimiter: ' ') %> ₽</span>
                        <div class="card-pr-credit">В кредит<span>от <% snc_price = e.equipments.minimum(:price) - min_discount_e %><%= number_with_delimiter(count_price(snc_price,PERCENT,MONTH), delimiter: " ") %> / мес</span></div>
                      </div>
                      <% end %>
                      <div class="card-pr-url">
                        <% unless !@car.available %>
                        <%= link_to new_car_equipment_path(@brand, @car, e.name.parameterize), rel: 'nofollow' do %>Подробнее<% end %>
                        <% end %>
                      </div>
                    </div>
                    <ul class="equipment-desc">
                      <% (compl_params - prev_compl_params).each do |p| %>
                      <li class="card__feature"><%= p %></li>
                      <% end %>
                    </ul>
                  </div>
                </div>
              </div>
              <% prev_compl_params = compl_params %>
              <% prev_compl = e.name %>
              <% end %>
            </div>
          </div>

          <% if region %>
          <%#= render partial:'new_cars/region_reasons' %>
          <% end %>


          <section id="car-features" class="tech-table">
            <div class="inner">
              <div class="content-xs">
                <div class="th-h2">
                  <h2>Технические характеристики</h2>
                </div>
                <div class="tech-table-head" data-show-tab-additional="table-tab-1">
                  <div class="row">
                    <% car_spec = @car.specifications %>
                    <% car_spec.each_with_index do |cs, ind| %>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="spec_<%= ind %>" data-role="show-table-column" <% if ind == 0 or ind == 1 %>checked<% end %>>
                      <label for="spec_<%= ind %>" class="custom-control-label" for="spec_<%= ind %>"><%= cs.name %></label>
                    </div>
                    <% end %>
                  </div>
                </div>
              </div>

              <div class="content__table">
                <div class="m__ht_h"></div>
                <div class="table-wrapper" data-content-tab="table-tab-1">
                  <table class="table table--features table--compare">
                    <thead>
                    <tr class="table__header t_mb">
                      <th class="table__header-title t_m">Параметры<span></span></th>
                      <th class="table__col-title"></th>
                      <% car_spec.each do |s| %>
                      <th class="table__col-title"></th>
                      <% end %>
                    </tr>
                    <tr class="table__header">
                      <th class="table__header-title">Параметры</th>
                      <% car_spec.each do |s| %>
                      <th class="table__col-title"><%= s.name %></th>
                      <% end %>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="table__row">
                      <th class="table__row-title">Тип двигателя:</th>
                      <% car_spec.each do |s| %>
                      <td class="table__cell"><%= s.enginetype %></td>
                      <% end %>
                    </tr>
                    <tr class="table__row">
                      <th class="table__row-title">Объём двигателя:</th>
                      <% car_spec.each do |s| %>
                      <td class="table__cell"><%= s.volume %></td>
                      <% end %>
                    </tr>
                    <tr class="table__row">
                      <th class="table__row-title">Мощность:</th>
                      <% car_spec.each do |s| %>
                      <td class="table__cell"><%= s.power %> л.с</td>
                      <% end %>
                    </tr>
                    <tr class="table__row">
                      <th class="table__row-title">Разгон до 100км/час:</th>
                      <% car_spec.each do |s| %>
                      <td class="table__cell"><%= s.acceleration %> с</td>
                      <% end %>
                    </tr>
                    <tr class="table__row">
                      <th class="table__row-title">Максимальная скорость:</th>
                      <% car_spec.each do |s| %>
                      <td class="table__cell"><%= s.topspeed %> км/ч</td>
                      <% end %>
                    </tr>

                    <tr class="table__row">
                      <th class="table__row-title">Расход в городском цикле:</th>
                      <% car_spec.each do |s| %>
                      <td class="table__cell"><%= s.fuelcity %>/100км</td>
                      <% end %>
                    </tr>
                    <tr class="table__row">
                      <th class="table__row-title">Расход в загородном цикле:</th>
                      <% car_spec.each do |s| %>
                      <td class="table__cell"><%= s.fuelhigh %>/100км</td>
                      <% end %>
                    </tr>
                    <tr class="table__row">
                      <th class="table__row-title">Расход в смешанном цикле:</th>
                      <% car_spec.each do |s| %>
                      <td class="table__cell"><%= s.fuelmix %>/100км</td>
                      <% end %>
                    </tr>
                    <tr class="table__row">
                      <th class="table__row-title">Объем топливного бака:</th>
                      <% car_spec.each do |s| %>
                      <td class="table__cell"><%= s.tank %> л</td>
                      <% end %>
                    </tr>

                    <tr class="table__row">
                      <th class="table__row-title">Длина:</th>
                      <% car_spec.each do |s| %>
                      <td class="table__cell"><%= s.length %> мм</td>
                      <% end %>
                    </tr>
                    <tr class="table__row">
                      <th class="table__row-title">Ширина:</th>
                      <% car_spec.each do |s| %>
                      <td class="table__cell"><%= s.width %> мм</td>
                      <% end %>
                    </tr>
                    <tr class="table__row">
                      <th class="table__row-title">Высота:</th>
                      <% car_spec.each do |s| %>
                      <td class="table__cell"><%= s.height %> мм</td>
                      <% end %>
                    </tr>
                    <tr class="table__row">
                      <th class="table__row-title">Колёсная база:</th>
                      <% car_spec.each do |s| %>
                      <td class="table__cell"><%= s.wheelbase %> мм</td>
                      <% end %>
                    </tr>
                    <tr class="table__row">
                      <th class="table__row-title">Клиренс:</th>
                      <% car_spec.each do |s| %>
                      <td class="table__cell"><%= s.clearance %> мм</td>
                      <% end %>
                    </tr>
                    <tr class="table__row">
                      <th class="table__row-title">Масса:</th>
                      <% car_spec.each do |s| %>
                      <td class="table__cell"><%= s.mass %> кг</td>
                      <% end %>
                    </tr>
                    <tr class="table__row">
                      <th class="table__row-title">Объём багажника:</th>
                      <% car_spec.each do |s| %>
                      <td class="table__cell"><%= s.trunk %> л</td>
                      <% end %>
                    </tr>

                    <tr class="table__row">
                      <th class="table__row-title">Трансмиссия:</th>
                      <% car_spec.each do |s| %>
                      <td class="table__cell"><%= s.transmission %></td>
                      <% end %>
                    </tr>
                    <tr class="table__row">
                      <th class="table__row-title">Привод:</th>
                      <% car_spec.each do |s| %>
                      <td class="table__cell"><%= s.drive %></td>
                      <% end %>
                    </tr>
                    <tr class="table__row">
                      <th class="table__row-title">Передняя подвеска:</th>
                      <% car_spec.each do |s| %>
                      <td class="table__cell"><%= s.frontsusp %></td>
                      <% end %>
                    </tr>
                    <tr class="table__row">
                      <th class="table__row-title">Задняя подвеска:</th>
                      <% car_spec.each do |s| %>
                      <td class="table__cell"><%= s.rearsusp %></td>
                      <% end %>
                    </tr>
                    <tr class="table__row">
                      <th class="table__row-title">Передние тормоза:</th>
                      <% car_spec.each do |s| %>
                      <td class="table__cell"><%= s.frontbrakes %></td>
                      <% end %>
                    </tr>
                    <tr class="table__row">
                      <th class="table__row-title">Задние тормоза:</th>
                      <% car_spec.each do |s| %>
                      <td class="table__cell"><%= s.rearbrakes %></td>
                      <% end %>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

          </section>

          <div class="card__box">
            <div>
              <h2>Другие модели <%= @brand.title %></h2>
            </div>
            <div class="card_box_slide row justify-content-between align-items-center">
              <%= render partial:'new_cars/small_new_cars', collection: @brand.new_cars.where(hide: 0).where.not(id: @car.id).min_price_ordered, :locals => {:show_brand => false,:credit_flag => true} %>
            </div>
          </div>


          <% if @car.car_type.present? %>
          <div class="card__box">
            <div>
              <h2>Другие автомобили в кузове <%= @car.car_type.partition(" ").first.pluralize(:ru) %></h2>
            </div>
            <div class="card_box_slide row justify-content-between align-items-center">
              <%= render partial:'new_cars/small_new_cars', collection: NewCar.where('car_type LIKE ?','%' + @car.car_type.partition(" ").first + '%')
              .where('`new_cars`.`id` != ?', @car.id).where(hide: 0)
              .limit(25), :locals => {:show_brand => true,:credit_flag => true} %>
            </div>

            <div class="row justify-content-center cr_tr_url">
              <div class="cr_tr_hr">
                <%= link_to 'Все ' + @car.car_type.partition(" ").first.pluralize(:ru), new_car_type_path(t(@car.car_type.partition(" ").first,scope: :car_types)),class:'btn-link' %>
              </div>
            </div>
          </div>
          <% end %>

<% if @car.reviews.present? %>
  <div class="reviews_model row" id="reviews_model">
    <h2>Отзывы клиентов</h2>
    <div class="review_fc row justify-content-between">
      <%= render partial:'new_cars/review', collection: @car.reviews.order(created_at: :desc).limit(6) %>
    </div>
    <%#= link_to 'Ещё отзывы', reviews_path,class:'btn-link',rel:'' %>
  </div>
<% end %>

          <%= render 'partials/carso/credit_form' %>


<% content_for :rails_to_js_variables do %>
  <script>
      var COMPL_GROUPS = <%= @compl_groups %>;
      //  var COLOR_GROUPS = <%= @color_groups %>;
  </script>
<% end %>
<% content_for :additional_javascript do %>

  <script>
      carid = '<%= @car.id %>';
      car_url = '<%= @car.url %>';
      car_brand = '<%= @car.brand.url %>';
  </script>
<% end %>
