<%
  max_price_e = @car.equipments.where(hide:0).order(price: :desc).first
  if (@car.discount_count(max_price_e) + @region_discount) < max_price_e.price*4/10
    max_discount_e = @car.discount_count(max_price_e) + @region_discount
  else
    max_discount_e = max_price_e.price*4/10
  end

  if (@car.discount_count + @region_discount) < @car.equipments.where(hide:0).minimum(:price)*4/10
    min_discount_e = @car.discount_count + @region_discount
  else
    min_discount_e = @car.equipments.where(hide:0).minimum(:price)*4/10
  end
  min_price = @car.equipments.where(hide:false).minimum(:price) - max_discount_e
%>
<%
  region = false
  unless @current_region.id == 57
    region = true
  end

  t_mos = "Купить #{@car.russian_name} #{@car.old ? (Time.current - 2.year).year.to_s : (Time.current - 1.year).year.to_s}-#{@car.old ? (Time.current - 1.year).year.to_s : Time.current.year.to_s} у официального дилера в #{@current_region.sklon3} 🚗  новый #{@car.menutitle} — автосалон «AviCAR»"
  t_reg = "Купить #{@car.russian_name} в #{@current_region.sklon3} 🚗 цена на #{'новый' unless @car.old} #{@car.menutitle} #{@car.old ? (Time.current - 1.year).year.to_s : Time.current.year.to_s} у официального дилера — автосалон «AviCAR»"

  d_mos = "❗ Грандиозная распродажа новых автомобилей #{@car.menutitle} #{@car.old ? (Time.current - 2.year).year.to_s : (Time.current - 1.year).year.to_s} - #{@car.old ? (Time.current - 1.year).year.to_s : Time.current.year.to_s} года в #{@current_region.sklon3}! 🚘 Все комплектации в наличии у официального дилера! ❗ Скидка на #{@car.russian_name} до #{number_with_delimiter(max_discount_e,delimeter:' ')} руб. ✅ Кредит от 1,9%! 🎁 — автосалон «AviCAR» ☎️ 8 800 505-25-66."
  d_reg = "❗️Грандиозная распродажа новых автомобилей #{@car.menutitle} #{@car.old ? (Time.current - 2.year).year.to_s : (Time.current - 1.year).year.to_s} - #{@car.old ? (Time.current - 1.year).year.to_s : Time.current.year.to_s} года! 🚘 Все комплектации в наличии у официального дилера в #{@current_region.sklon3}!❗️ Скидка на #{@car.russian_name} до #{number_with_delimiter(max_discount_e,delimeter:' ')} руб. ✅ Кредит от 1,9%! 🎁 — автосалон «AviCAR» ☎️ 8 800 505-25-66."

  o_mos = "Купить #{'новый' unless @car.old} #{@car.russian_name} в #{@current_region.sklon3}. Скидка до #{number_with_delimiter(max_discount_e,delimeter:' ')} рублей! Экспресс кредит от 1.9%, Рассрочка 0%, Trade-in. Продажа #{@car.menutitle} #{@car.old ? (Time.current - 2.year).year.to_s : (Time.current - 1.year).year.to_s + '-' + Time.current.year.to_s} года, все комплектации в наличии у официального дилера — автосалон «AviCAR»"
  o_reg = "Продажа #{@car.russian_name} в #{@current_region.sklon3}. Скидка до #{number_with_delimiter(max_discount_e,delimeter:' ')} рублей! Экспресс кредит 1,9%, Рассрочка 0%, trade-in. #{'Новый ' unless @car.old}#{@car.menutitle} #{@car.old ? (Time.current - 2.year).year.to_s : (Time.current - 1.year).year.to_s + '-' + Time.current.year.to_s} всех комплектаций у официального дилера — автосалон «AviCAR»"

  if !region
    provide :title,t_mos
    provide :description,d_mos
    ogdesc = o_mos
  else
    provide :title,t_reg
    provide :description,d_reg
    ogdesc = o_reg
  end

  if @car.colors[0].present?
    pimage = @car.colors[0].url
  end

  provide :og_tags,"<meta property='og:type' content='article'>
  <meta property='og:site_name' content='AviCAR'>
  <meta property='og:url' content='#{request.original_url}'>
  <meta property='og:title' content='#{@car.name}'>
  <meta property='og:description' content='#{ogdesc}'>
  <meta property='og:locale' content='ru_RU'>
  <meta property='og:image' content='#{pimage}'>".html_safe

%>

<%
  if @car.colors.length > 2
    colors_swaped = @car.colors.swap(0,1)
    color_options_swaped =  @car.color_options.swap(0,1)
  else
    colors_swaped = @car.colors
    color_options_swaped = @car.color_options
  end
%>

<% if @car.archive
     if @car.url.include? '-old'
       model = @car.url[0...-4]
     else
       model = @car.url
     end

     if UsedCar.used_cars.where(brand_id: @car.brand_id, url: model).present?
       name = @car.menutitle
     else
       name = @car.brand.title
     end
   end
%>






<section class="main-item">
  <div class="main-breadcrumbs">
    <a href=""><span>Главная</span></a>
    <a href=""><span>Каталог</span></a>
    <a href=""><span>KIA</span></a>
    <a href=""><span>Sportage New</span></a>
  </div>
  <div class="main-item-wrap">
    <div class="main-item-color">

    </div>
    <div class="main-img">
      <%= image_tag "carso/img/kia-sportage.png", alt:'', class: '' %>
    </div>
    <div class="main-brand-model">
      <div class="main-brand-name">Kia</div>
      <div class="main-model-name">Sportage</div>
      <div class="main-price">
        <div class="main-price-item">
          <div class="main-price-unit">121200 ₽</div>
          <div class="main-price-discount">950 000 ₽</div>
          <div class="main-price-month"><span class="main-price-month_green">27200 ₽</span>/мес
          </div>
        </div>
        <div class="main-price-item">
          <div class="main-price-benefit">
            <div class="main-price-benefit_title">Выгода в кредит</div>
            <div class="main-price-benefit_cost">170 000₽</div>
          </div>
        </div>
      </div>
      <div class="main-spec">
        <div class="main-spec-item">
          <div class="main-spec-img speed"></div>
          <div class="main-spec-wrap">
            <div class="main-spec-title">7.5 с</div>
            <div class="main-spec-text">Разгон до 100 км/ч</div>
          </div>
        </div>
        <div class="main-spec-item">
          <div class="main-spec-img fuel"></div>
          <div class="main-spec-wrap">
            <div class="main-spec-title">7 л</div>
            <div class="main-spec-text">Расход на 100км</div>
          </div>

        </div>
        <div class="main-spec-item">
          <div class="main-spec-img engine"></div>
          <div class="main-spec-wrap">
            <div class="main-spec-title">151 л/c</div>
            <div class="main-spec-text">Мощность двигателя</div>
          </div>
        </div>
      </div>
    </div>
    <section class="main-call-map">
      <div class="main-map-wrap">
        <div class="main-map-text">Проезд <br> до салона</div>
      </div>
      <div class="main-map-wrap">
        <div class="main-map-text">Позвонить</div>
      </div>
    </section>
    <section class="main-offer">
      <section class="main-offer-container">
        <div class="main-offer-title">Персональное предложение на покупку в кредит</div>
        <div class="main-offer-text">скидка до 395 000₽  / Каско в подарок рассрочка 0%  /  кредит: 1.9% </div>
        <div class="main-offer-form">
          <input type="text" class="main-offer-form_input">
          <label class="main-offer-form_label">Ваше имя</label>
        </div>
        <div class="main-offer-form">
          <input type="text" class="main-offer-form_input">
          <label class="main-offer-form_label">Телефон для связи</label>
        </div>
        <div class="main-offer-button">
          <button class="main-offer-button_item">получить условия</button>
          <div class="main-offer-action">Акция до 10 сентября</div>
        </div>
        <div class="main-offer-accept">Нажимая на кнопку “Получить условия” Вы даете согласие на обработку своих персональных данных</div>
      </section>
    </section>
  </div>
</section>
<section class="main-model-menu">
  <ul class="main-model-menu-list">
    <li class="main-model-menu-item">Дизайн</li>
    <li class="main-model-menu-item">Технические характеристики</li>
    <li class="main-model-menu-item">Комплектации и цены</li>
    <li class="main-model-menu-item">Галерея</li>
    <li class="main-model-menu-item">Горячие предложения</li>
    <li class="main-model-menu-item">Конфигуратор</li>
    <li class="main-model-menu-item">Тест-драйв</li>
  </ul>
</section>
<section class="main-gifts">
  <section class="main-gifts-cont">
    <div class="main-gifts-item">
      <div class="main-gifts-img umbrella">

      </div>
      <div class="main-gifts-title snowflake">
        Каско
      </div>
      <div class="main-gifts-text train">
        покупателю в подарок
      </div>
    </div>
    <div class="main-gifts-item">
      <div class="main-gifts-img snowflake">

      </div>
      <div class="main-gifts-title">
        Зимняя резина
      </div>
      <div class="main-gifts-text">
        в подарок с автомобилем
      </div>
    </div>
    <div class="main-gifts-item">
      <div class="main-gifts-img train">

      </div>
      <div class="main-gifts-title">
        Оплата проезда
      </div>
      <div class="main-gifts-text">
        покупателя до автосалона
      </div>
    </div>
  </section>
</section>
<section class="main-salon">
  <section class="main-title-wrap">
    <div class="main-title">
      <div class="main-title-text">В салоне</div>
    </div>
  </section>

  <div class="main-salon-gallery">
    <div class="main-salon-gallery-wrap">
      <%= image_tag "carso/img/200x140.png", alt:'', class: '' %>
    </div>
  </div>
</section>
<section class="main-equip">
  <div class="main-title-wrap">
    <div class="main-title">
      <div class="main-title-text">
        Комплектации и цены
      </div>
    </div>
  </div>
  <div class="main-equip-wrap">
    <div class="main-equip-vol-wrap">
      <div class="main-equip-vol">2.5л. 2WD</div>
    </div>
    <div class="main-equip-item">
      <div class="main-equip-model-wrap">
        <div class="main-equip-model">Classic</div>
      </div>
      <div class="main-equip-price-wrap">
        <div class="main-equip-price-cont">
          <div class="main-equip-price">
            <div class="main-equip-price_item">
              870 000₽</div>
          </div>
          <div class="main-equip-spec">
            1.6 МТ 120 л.с.
          </div>
          <div class="main-equip-of-price">1 270 000₽</div>
        </div>
        <div class="main-equip-credit">
          <div class="main-equip-benefit">
            <div class="main-equip-benefit-title">Выгода в кредит</div>
            <div class="main-equip-benefit-price">150 000₽</div>
          </div>
          <div class="main-equip-mount-pay">
            <span class="main-equip-mount-pay-green">14 000₽</span>/мес
          </div>
          <div class="main-equip-button">
            <button class="main-equip-button_item">Купить в кредит</button>
          </div>
        </div>
      </div>
      <div class="main-equip-pop">
        <div class="main-equip-head">
          <div class="main-equip-brand">Kia</div>
          <div class="main-equip-model-name">Sportage</div>
          <div class="main-equip-compl">Комплектация Classic</div>
          <div class="main-equip-price">
            <div class="main-equip-price-wrap">
              <div class="main-equip-price-pay">27200/мес.</div>
              <div class="main-equip-price-perc">1 150 000₽</div>
            </div>
            <div class="main-equip-price-button">Выбрать кредит</div>
          </div>
        </div>
        <div class="main-equip-cont">
          <div class="main-equip-cont-title">Интерьер</div>
          <ul class="main-equip-cont-list">
            <li class="main-equip-cont-item">
              Рулевое колесо и селектор КПП с отделкой кожей
            </li>
            <li class="main-equip-cont-item">
              Рулевое колесо и селектор КПП с отделкой кожей
            </li>
            <li class="main-equip-cont-item">
              Рулевое колесо и селектор КПП с отделкой кожей
            </li>
            <li class="main-equip-cont-item">
              Рулевое колесо и селектор КПП с отделкой кожей
            </li>
            <li class="main-equip-cont-item">
              Рулевое колесо и селектор КПП с отделкой кожей
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="main-equip-item">
      <div class="main-equip-model-wrap">
        <div class="main-equip-model">Classic</div>
      </div>
      <div class="main-equip-price-wrap">
        <div class="main-equip-price-cont">
          <div class="main-equip-price">
            <div class="main-equip-price_item">
              870 000₽</div>
          </div>
          <div class="main-equip-spec">
            1.6 МТ 120 л.с.
          </div>
          <div class="main-equip-of-price">1 270 000₽</div>
        </div>
        <div class="main-equip-credit">
          <div class="main-equip-benefit">
            <div class="main-equip-benefit-title">Выгода в кредит</div>
            <div class="main-equip-benefit-price">150 000₽</div>
          </div>
          <div class="main-equip-mount-pay">
            <span class="main-equip-mount-pay-green">14 000₽</span>/мес
          </div>
          <div class="main-equip-button">
            <button class="main-equip-button_item">Купить в кредит</button>
          </div>
        </div>
      </div>
      <div class="main-equip-pop">
        <div class="main-equip-head">
          <div class="main-equip-brand">Kia</div>
          <div class="main-equip-model-name">Sportage</div>
          <div class="main-equip-compl">Комплектация Classic</div>
          <div class="main-equip-price">
            <div class="main-equip-price-wrap">
              <div class="main-equip-price-pay">27200/мес.</div>
              <div class="main-equip-price-perc">1 150 000₽</div>
            </div>
            <div class="main-equip-price-button">Выбрать кредит</div>
          </div>
        </div>
        <div class="main-equip-cont">
          <div class="main-equip-cont-title">Интерьер</div>
          <ul class="main-equip-cont-list">
            <li class="main-equip-cont-item">
              Рулевое колесо и селектор КПП с отделкой кожей
            </li>
            <li class="main-equip-cont-item">
              Рулевое колесо и селектор КПП с отделкой кожей
            </li>
            <li class="main-equip-cont-item">
              Рулевое колесо и селектор КПП с отделкой кожей
            </li>
            <li class="main-equip-cont-item">
              Рулевое колесо и селектор КПП с отделкой кожей
            </li>
            <li class="main-equip-cont-item">
              Рулевое колесо и селектор КПП с отделкой кожей
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="main-equip-item">
      <div class="main-equip-model-wrap">
        <div class="main-equip-model">Classic</div>
      </div>
      <div class="main-equip-price-wrap">
        <div class="main-equip-price-cont">
          <div class="main-equip-price">
            <div class="main-equip-price_item">
              870 000₽</div>
          </div>
          <div class="main-equip-spec">
            1.6 МТ 120 л.с.
          </div>
          <div class="main-equip-of-price">1 270 000₽</div>
        </div>
        <div class="main-equip-credit">
          <div class="main-equip-benefit">
            <div class="main-equip-benefit-title">Выгода в кредит</div>
            <div class="main-equip-benefit-price">150 000₽</div>
          </div>
          <div class="main-equip-mount-pay">
            <span class="main-equip-mount-pay-green">14 000₽</span>/мес
          </div>
          <div class="main-equip-button">
            <button class="main-equip-button_item">Купить в кредит</button>
          </div>
        </div>
      </div>
      <div class="main-equip-pop">
        <div class="main-equip-head">
          <div class="main-equip-brand">Kia</div>
          <div class="main-equip-model-name">Sportage</div>
          <div class="main-equip-compl">Комплектация Classic</div>
          <div class="main-equip-price">
            <div class="main-equip-price-wrap">
              <div class="main-equip-price-pay">27200/мес.</div>
              <div class="main-equip-price-perc">1 150 000₽</div>
            </div>
            <div class="main-equip-price-button">Выбрать кредит</div>
          </div>
        </div>
        <div class="main-equip-cont">
          <div class="main-equip-cont-title">Интерьер</div>
          <ul class="main-equip-cont-list">
            <li class="main-equip-cont-item">
              Рулевое колесо и селектор КПП с отделкой кожей
            </li>
            <li class="main-equip-cont-item">
              Рулевое колесо и селектор КПП с отделкой кожей
            </li>
            <li class="main-equip-cont-item">
              Рулевое колесо и селектор КПП с отделкой кожей
            </li>
            <li class="main-equip-cont-item">
              Рулевое колесо и селектор КПП с отделкой кожей
            </li>
            <li class="main-equip-cont-item">
              Рулевое колесо и селектор КПП с отделкой кожей
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="main-equip-wrap">
    <div class="main-equip-vol-wrap">
      <div class="main-equip-vol">3.5л. 4WD</div>
    </div>
    <div class="main-equip-item">
      <div class="main-equip-model-wrap">
        <div class="main-equip-model">Classic</div>
      </div>
      <div class="main-equip-price-wrap">
        <div class="main-equip-price-cont">
          <div class="main-equip-price">
            <div class="main-equip-price_item">
              870 000₽</div>
          </div>
          <div class="main-equip-spec">
            1.6 МТ 120 л.с.
          </div>
          <div class="main-equip-of-price">1 270 000₽</div>
        </div>
        <div class="main-equip-credit">
          <div class="main-equip-benefit">
            <div class="main-equip-benefit-title">Выгода в кредит</div>
            <div class="main-equip-benefit-price">150 000₽</div>
          </div>
          <div class="main-equip-mount-pay">
            <span class="main-equip-mount-pay-green">14 000₽</span>/мес
          </div>
          <div class="main-equip-button">
            <button class="main-equip-button_item">Купить в кредит</button>
          </div>
        </div>
      </div>
    </div>
    <div class="main-equip-item">
      <div class="main-equip-model-wrap">
        <div class="main-equip-model">Comfort</div>
      </div>
      <div class="main-equip-price-wrap">
        <div class="main-equip-price-cont">
          <div class="main-equip-price">
            <div class="main-equip-price_item">
              870 000₽</div>
          </div>
          <div class="main-equip-spec">
            1.6 МТ 120 л.с.
          </div>
          <div class="main-equip-of-price">1 270 000₽</div>
        </div>
        <div class="main-equip-credit">
          <div class="main-equip-benefit">
            <div class="main-equip-benefit-title">Выгода в кредит</div>
            <div class="main-equip-benefit-price">150 000₽</div>
          </div>
          <div class="main-equip-mount-pay">
            <span class="main-equip-mount-pay-green">14 000₽</span>/мес
          </div>
          <div class="main-equip-button">
            <button class="main-equip-button_item">Купить в кредит</button>
          </div>
        </div>
      </div>
    </div>
    <div class="main-equip-item">
      <div class="main-equip-model-wrap">
        <div class="main-equip-model">Premium</div>
      </div>
      <div class="main-equip-price-wrap">
        <div class="main-equip-price-cont">
          <div class="main-equip-price">
            <div class="main-equip-price_item">
              870 000₽</div>
          </div>
          <div class="main-equip-spec">
            1.6 МТ 120 л.с.
          </div>
          <div class="main-equip-of-price">1 270 000₽</div>
        </div>
        <div class="main-equip-credit">
          <div class="main-equip-benefit">
            <div class="main-equip-benefit-title">Выгода в кредит</div>
            <div class="main-equip-benefit-price">150 000₽</div>
          </div>
          <div class="main-equip-mount-pay">
            <span class="main-equip-mount-pay-green">14 000₽</span>/мес
          </div>
          <div class="main-equip-button">
            <button class="main-equip-button_item">Купить в кредит</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="main-compare">
  <div class="main-compare-cont">
    <div class="main-compare-item">
      <div class="main-compare-wrap">
        <div class="main-compare-img">
          <%= image_tag "carso/img/80x100.png", alt:'', class: '' %>
        </div>
        <div class="main-compare-adittion-wrap">
          <div class="main-compare-addition">
            В дополнение к Classic
          </div>
          <div class="main-compare-title">Classic Тёплые опции</div>
          <div class="main-compare-price-credit">В кредит</div>
          <div class="main-compare-price">
            <div class="main-compare-price-wrap">
              <div class="main-compare-price-title">14 200 ₽/мес</div>
              <button class="main-button"></button>
            </div>
          </div>
        </div>
      </div>
      <div class="main-compare-scroll scroll">
        <div class="main-scroll-bg"></div>
        <div class="main-compare-scroll_item">
          Функция складывния задних сидений 60/40
        </div>
        <div class="main-compare-scroll_item">
          Шторка багажного отделения
        </div>
        <div class="main-compare-scroll_item">
          Розетки 12V для передних и задних пассажиров
        </div>
        <div class="main-compare-scroll_item">
          Рулевое колесо и селектор КПП с отделкой кожей
        </div>
        <div class="main-compare-scroll_item">
          Функция складывния задних сидений 60/40
        </div>
        <div class="main-compare-scroll_item">
          Шторка багажного отделения
        </div>
        <div class="main-compare-scroll_item">
          Розетки 12V для передних и задних пассажиров
        </div>
        <div class="main-compare-scroll_item">
          Рулевое колесо и селектор КПП с отделкой кожей
        </div>
        <div class="main-compare-scroll_item">
          Рулевое колесо и селектор КПП с отделкой кожей
        </div>
        <div class="main-compare-scroll_item">
          Функция складывния задних сидений 60/40
        </div>
        <div class="main-compare-scroll_item">
          Шторка багажного отделения
        </div>
        <div class="main-compare-scroll_item">
          Розетки 12V для передних и задних пассажиров
        </div>
        <div class="main-compare-scroll_item">
          Рулевое колесо и селектор КПП с отделкой кожей
        </div>
      </div>
    </div>
  </div>
  <div class="main-compare-cont">
    <div class="main-compare-item">
      <div class="main-compare-wrap">
        <div class="main-compare-img">
          <%= image_tag "carso/img/80x100.png", alt:'', class: '' %>
        </div>
        <div class="main-compare-adittion-wrap">
          <div class="main-compare-addition">
            В дополнение к Classic
          </div>
          <div class="main-compare-title">Classic Тёплые опции</div>
          <div class="main-compare-price-credit">В кредит</div>
          <div class="main-compare-price">
            <div class="main-compare-price-wrap">
              <div class="main-compare-price-title">14 200 ₽/мес</div>
              <button class="main-button"></button>
            </div>
          </div>
        </div>
      </div>
      <div class="main-compare-scroll scroll">
        <div class="main-scroll-bg"></div>
        <div class="main-compare-scroll_item">
          Функция складывния задних сидений 60/40
        </div>
        <div class="main-compare-scroll_item">
          Шторка багажного отделения
        </div>
        <div class="main-compare-scroll_item">
          Розетки 12V для передних и задних пассажиров
        </div>
        <div class="main-compare-scroll_item">
          Рулевое колесо и селектор КПП с отделкой кожей
        </div>
        <div class="main-compare-scroll_item">
          Функция складывния задних сидений 60/40
        </div>
        <div class="main-compare-scroll_item">
          Шторка багажного отделения
        </div>
        <div class="main-compare-scroll_item">
          Розетки 12V для передних и задних пассажиров
        </div>
        <div class="main-compare-scroll_item">
          Рулевое колесо и селектор КПП с отделкой кожей
        </div>
        <div class="main-compare-scroll_item">
          Рулевое колесо и селектор КПП с отделкой кожей
        </div>
        <div class="main-compare-scroll_item">
          Функция складывния задних сидений 60/40
        </div>
        <div class="main-compare-scroll_item">
          Шторка багажного отделения
        </div>
        <div class="main-compare-scroll_item">
          Розетки 12V для передних и задних пассажиров
        </div>
        <div class="main-compare-scroll_item">
          Рулевое колесо и селектор КПП с отделкой кожей
        </div>
      </div>
    </div>
  </div>
  <div class="main-compare-cont">
    <div class="main-compare-item">
      <div class="main-compare-wrap">
        <div class="main-compare-img">
          <%= image_tag "carso/img/80x100.png", alt:'', class: '' %>
        </div>
        <div class="main-compare-adittion-wrap">
          <div class="main-compare-addition">
            В дополнение к Classic
          </div>
          <div class="main-compare-title">Classic Тёплые опции</div>
          <div class="main-compare-price-credit">В кредит</div>
          <div class="main-compare-price">
            <div class="main-compare-price-wrap">
              <div class="main-compare-price-title">14 200 ₽/мес</div>
              <button class="main-button"></button>
            </div>
          </div>
        </div>
      </div>
      <div class="main-compare-scroll scroll">
        <div class="main-scroll-bg"></div>
        <div class="main-compare-scroll_item">
          Функция складывния задних сидений 60/40
        </div>
        <div class="main-compare-scroll_item">
          Шторка багажного отделения
        </div>
        <div class="main-compare-scroll_item">
          Розетки 12V для передних и задних пассажиров
        </div>
        <div class="main-compare-scroll_item">
          Рулевое колесо и селектор КПП с отделкой кожей
        </div>
        <div class="main-compare-scroll_item">
          Функция складывния задних сидений 60/40
        </div>
        <div class="main-compare-scroll_item">
          Шторка багажного отделения
        </div>
        <div class="main-compare-scroll_item">
          Розетки 12V для передних и задних пассажиров
        </div>
        <div class="main-compare-scroll_item">
          Рулевое колесо и селектор КПП с отделкой кожей
        </div>
        <div class="main-compare-scroll_item">
          Рулевое колесо и селектор КПП с отделкой кожей
        </div>
        <div class="main-compare-scroll_item">
          Функция складывния задних сидений 60/40
        </div>
        <div class="main-compare-scroll_item">
          Шторка багажного отделения
        </div>
        <div class="main-compare-scroll_item">
          Розетки 12V для передних и задних пассажиров
        </div>
        <div class="main-compare-scroll_item">
          Рулевое колесо и селектор КПП с отделкой кожей
        </div>
      </div>
    </div>
  </div>
  <div class="main-compare-cont">
    <div class="main-compare-item">
      <div class="main-compare-wrap">
        <div class="main-compare-img">
          <%= image_tag "carso/img/80x100.png", alt:'', class: '' %>
        </div>
        <div class="main-compare-adittion-wrap">
          <div class="main-compare-addition">
            В дополнение к Classic
          </div>
          <div class="main-compare-title">Classic Тёплые опции</div>
          <div class="main-compare-price-credit">В кредит</div>
          <div class="main-compare-price">
            <div class="main-compare-price-wrap">
              <div class="main-compare-price-title">14 200 ₽/мес</div>
              <button class="main-button"></button>
            </div>
          </div>
        </div>
      </div>
      <div class="main-compare-scroll scroll">
        <div class="main-scroll-bg"></div>
        <div class="main-compare-scroll_item">
          Функция складывния задних сидений 60/40
        </div>
        <div class="main-compare-scroll_item">
          Шторка багажного отделения
        </div>
        <div class="main-compare-scroll_item">
          Розетки 12V для передних и задних пассажиров
        </div>
        <div class="main-compare-scroll_item">
          Рулевое колесо и селектор КПП с отделкой кожей
        </div>
        <div class="main-compare-scroll_item">
          Функция складывния задних сидений 60/40
        </div>
        <div class="main-compare-scroll_item">
          Шторка багажного отделения
        </div>
        <div class="main-compare-scroll_item">
          Розетки 12V для передних и задних пассажиров
        </div>
        <div class="main-compare-scroll_item">
          Рулевое колесо и селектор КПП с отделкой кожей
        </div>
        <div class="main-compare-scroll_item">
          Рулевое колесо и селектор КПП с отделкой кожей
        </div>
        <div class="main-compare-scroll_item">
          Функция складывния задних сидений 60/40
        </div>
        <div class="main-compare-scroll_item">
          Шторка багажного отделения
        </div>
        <div class="main-compare-scroll_item">
          Розетки 12V для передних и задних пассажиров
        </div>
        <div class="main-compare-scroll_item">
          Рулевое колесо и селектор КПП с отделкой кожей
        </div>
      </div>
    </div>
  </div>
  <div class="main-compare-cont">
    <div class="main-compare-item">
      <div class="main-compare-wrap">
        <div class="main-compare-img">
          <%= image_tag "carso/img/80x100.png", alt:'', class: '' %>
        </div>
        <div class="main-compare-adittion-wrap">
          <div class="main-compare-addition">
            В дополнение к Classic
          </div>
          <div class="main-compare-title">Classic Тёплые опции</div>
          <div class="main-compare-price-credit">В кредит</div>
          <div class="main-compare-price">
            <div class="main-compare-price-wrap">
              <div class="main-compare-price-title">14 200 ₽/мес</div>
              <button class="main-button"></button>
            </div>
          </div>
        </div>
      </div>
      <div class="main-compare-scroll scroll">
        <div class="main-scroll-bg"></div>
        <div class="main-compare-scroll_item">
          Функция складывния задних сидений 60/40
        </div>
        <div class="main-compare-scroll_item">
          Шторка багажного отделения
        </div>
        <div class="main-compare-scroll_item">
          Розетки 12V для передних и задних пассажиров
        </div>
        <div class="main-compare-scroll_item">
          Рулевое колесо и селектор КПП с отделкой кожей
        </div>
        <div class="main-compare-scroll_item">
          Функция складывния задних сидений 60/40
        </div>
        <div class="main-compare-scroll_item">
          Шторка багажного отделения
        </div>
        <div class="main-compare-scroll_item">
          Розетки 12V для передних и задних пассажиров
        </div>
        <div class="main-compare-scroll_item">
          Рулевое колесо и селектор КПП с отделкой кожей
        </div>
        <div class="main-compare-scroll_item">
          Рулевое колесо и селектор КПП с отделкой кожей
        </div>
        <div class="main-compare-scroll_item">
          Функция складывния задних сидений 60/40
        </div>
        <div class="main-compare-scroll_item">
          Шторка багажного отделения
        </div>
        <div class="main-compare-scroll_item">
          Розетки 12V для передних и задних пассажиров
        </div>
        <div class="main-compare-scroll_item">
          Рулевое колесо и селектор КПП с отделкой кожей
        </div>
      </div>
    </div>
  </div>
  <div class="main-compare-cont">
    <div class="main-compare-item">
      <div class="main-compare-wrap">
        <div class="main-compare-img">
          <%= image_tag "carso/img/80x100.png", alt:'', class: '' %>
        </div>
        <div class="main-compare-adittion-wrap">
          <div class="main-compare-addition">
            В дополнение к Classic
          </div>
          <div class="main-compare-title">Classic Тёплые опции</div>
          <div class="main-compare-price-credit">В кредит</div>
          <div class="main-compare-price">
            <div class="main-compare-price-wrap">
              <div class="main-compare-price-title">14 200 ₽/мес</div>
              <button class="main-button"></button>
            </div>
          </div>
        </div>
      </div>
      <div class="main-compare-scroll scroll">
        <div class="main-scroll-bg"></div>
        <div class="main-compare-scroll_item">
          Функция складывния задних сидений 60/40
        </div>
        <div class="main-compare-scroll_item">
          Шторка багажного отделения
        </div>
        <div class="main-compare-scroll_item">
          Розетки 12V для передних и задних пассажиров
        </div>
        <div class="main-compare-scroll_item">
          Рулевое колесо и селектор КПП с отделкой кожей
        </div>
        <div class="main-compare-scroll_item">
          Функция складывния задних сидений 60/40
        </div>
        <div class="main-compare-scroll_item">
          Шторка багажного отделения
        </div>
        <div class="main-compare-scroll_item">
          Розетки 12V для передних и задних пассажиров
        </div>
        <div class="main-compare-scroll_item">
          Рулевое колесо и селектор КПП с отделкой кожей
        </div>
        <div class="main-compare-scroll_item">
          Рулевое колесо и селектор КПП с отделкой кожей
        </div>
        <div class="main-compare-scroll_item">
          Функция складывния задних сидений 60/40
        </div>
        <div class="main-compare-scroll_item">
          Шторка багажного отделения
        </div>
        <div class="main-compare-scroll_item">
          Розетки 12V для передних и задних пассажиров
        </div>
        <div class="main-compare-scroll_item">
          Рулевое колесо и селектор КПП с отделкой кожей
        </div>
      </div>
    </div>
  </div>
</section>
<section class="main-gallery">
  <div class="main-title-wrap">
    <div class="main-title">
      <div class="main-title-text">Фотогалерея</div>
    </div>
  </div>

  <div class="main-gallery-item">
    <%= image_tag "carso/img/kia-sportage-gallery.png", alt:'', class: '' %>
  </div>
</section>
<section class="main-reviews">
  <section class="main-title">
    Отзывы
  </section>
  <div class="main-reviews-cont">
    <div class="main-reviews-unit">
      <div class="main-reviews-item">
        <div class="main-reviews-wrap">
          <div class="main-reviews-name">Николай</div>
          <div class="main-reviews-city">Мытищи</div>
        </div>

        <div class="main-reviews-text">
          Отличный автосалон в котором и с выбором помогли и 	посоветовали лучший вариант авто. Автомобиль сразу решил 	покупать новый. Хоч…
        </div>
        <div class="main-reviews-rating-wrap">
          <div class="main-reviews-rating">
            <ul class="main-reviews-rating-cont">
              <li class="main-reviews-rating-item"></li>
              <li class="main-reviews-rating-item"></li>
              <li class="main-reviews-rating-item"></li>
              <li class="main-reviews-rating-item"></li>
              <li class="main-reviews-rating-item"></li>
            </ul>
          </div>
          <div class="main-reviews-read">Читать ></div>
        </div>
      </div>
    </div>
    <div class="main-reviews-unit">
      <div class="main-reviews-item">
        <div class="main-reviews-wrap">
          <div class="main-reviews-name">Николай</div>
          <div class="main-reviews-city">Мытищи</div>
        </div>

        <div class="main-reviews-text">
          Отличный автосалон в котором и с выбором помогли и 	посоветовали лучший вариант авто. Автомобиль сразу решил 	покупать новый. Хоч…
        </div>
        <div class="main-reviews-rating-wrap">
          <div class="main-reviews-rating">
            <ul class="main-reviews-rating-cont">
              <li class="main-reviews-rating-item"></li>
              <li class="main-reviews-rating-item"></li>
              <li class="main-reviews-rating-item"></li>
              <li class="main-reviews-rating-item"></li>
              <li class="main-reviews-rating-item"></li>
            </ul>
          </div>
          <div class="main-reviews-read">Читать ></div>
        </div>
      </div>
    </div>
    <div class="main-reviews-unit">
      <div class="main-reviews-item">
        <div class="main-reviews-wrap">
          <div class="main-reviews-name">Николай</div>
          <div class="main-reviews-city">Мытищи</div>
        </div>

        <div class="main-reviews-text">
          Отличный автосалон в котором и с выбором помогли и 	посоветовали лучший вариант авто. Автомобиль сразу решил 	покупать новый. Хоч…
        </div>
        <div class="main-reviews-rating-wrap">
          <div class="main-reviews-rating">
            <ul class="main-reviews-rating-cont">
              <li class="main-reviews-rating-item"></li>
              <li class="main-reviews-rating-item"></li>
              <li class="main-reviews-rating-item"></li>
              <li class="main-reviews-rating-item"></li>
              <li class="main-reviews-rating-item"></li>
            </ul>
          </div>
          <div class="main-reviews-read">Читать ></div>
        </div>
      </div>
    </div>
    <div class="main-reviews-unit">
      <div class="main-reviews-item">
        <div class="main-reviews-wrap">
          <div class="main-reviews-name">Николай</div>
          <div class="main-reviews-city">Мытищи</div>
        </div>

        <div class="main-reviews-text">
          Отличный автосалон в котором и с выбором помогли и 	посоветовали лучший вариант авто. Автомобиль сразу решил 	покупать новый. Хоч…
        </div>
        <div class="main-reviews-rating-wrap">
          <div class="main-reviews-rating">
            <ul class="main-reviews-rating-cont">
              <li class="main-reviews-rating-item"></li>
              <li class="main-reviews-rating-item"></li>
              <li class="main-reviews-rating-item"></li>
              <li class="main-reviews-rating-item"></li>
              <li class="main-reviews-rating-item"></li>
            </ul>
          </div>
          <div class="main-reviews-read">Читать ></div>
        </div>
      </div>
    </div>
    <div class="main-reviews-unit">
      <div class="main-reviews-item">
        <div class="main-reviews-wrap">
          <div class="main-reviews-name">Николай</div>
          <div class="main-reviews-city">Мытищи</div>
        </div>

        <div class="main-reviews-text">
          Отличный автосалон в котором и с выбором помогли и 	посоветовали лучший вариант авто. Автомобиль сразу решил 	покупать новый. Хоч…
        </div>
        <div class="main-reviews-rating-wrap">
          <div class="main-reviews-rating">
            <ul class="main-reviews-rating-cont">
              <li class="main-reviews-rating-item"></li>
              <li class="main-reviews-rating-item"></li>
              <li class="main-reviews-rating-item"></li>
              <li class="main-reviews-rating-item"></li>
              <li class="main-reviews-rating-item"></li>
            </ul>
          </div>
          <div class="main-reviews-read">Читать ></div>
        </div>
      </div>
    </div>
    <div class="main-reviews-unit">
      <div class="main-reviews-item">
        <div class="main-reviews-wrap">
          <div class="main-reviews-name">Николай</div>
          <div class="main-reviews-city">Мытищи</div>
        </div>

        <div class="main-reviews-text">
          Отличный автосалон в котором и с выбором помогли и 	посоветовали лучший вариант авто. Автомобиль сразу решил 	покупать новый. Хоч…
        </div>
        <div class="main-reviews-rating-wrap">
          <div class="main-reviews-rating">
            <ul class="main-reviews-rating-cont">
              <li class="main-reviews-rating-item"></li>
              <li class="main-reviews-rating-item"></li>
              <li class="main-reviews-rating-item"></li>
              <li class="main-reviews-rating-item"></li>
              <li class="main-reviews-rating-item"></li>
            </ul>
          </div>
          <div class="main-reviews-read">Читать ></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="main-brand">
  <section class="main-title-wrap">
    <div class="main-title">
      <div class="main-title-text">
        Авто за те же деньги
      </div>
    </div>
  </section>
  <div class="main-brand-item-cont">
    <div class="main-brand-item">
      <div class="main-brand-img-wrap">
        <div class="main-brand-img">
          <%= image_tag "carso/img/kia-sportage.png", alt:'', class: '' %>
        </div>
      </div>
      <div class="main-brand-price-text">
        <div class="main-brand-model">Kia Celtos</div>
        <div class="main-brand-price-cont">
          <div class="main-brand-price">
            <div class="main-brand-of-price">1 210 200₽</div>
            <div class="main-brand-price-item">950 000₽</div>
            <div class="main-price-month">
              <span class="main-price-month_green">27200 ₽</span>/мес
            </div>
          </div>
          <div class="main-brand-benefit">
            <div class="main-brand-benefit_title">Выгода в кредит</div>
            <div class="main-brand-benefit_price">150 000₽</div>
          </div>
        </div>
      </div>
    </div>
    <div class="main-brand-item">
      <div class="main-brand-img-wrap">
        <div class="main-brand-img">
          <%= image_tag "carso/img/kia-sportage.png", alt:'', class: '' %>
        </div>
      </div>
      <div class="main-brand-price-text">
        <div class="main-brand-model">Kia Celtos</div>
        <div class="main-brand-price-cont">
          <div class="main-brand-price">
            <div class="main-brand-of-price">1 210 200₽</div>
            <div class="main-brand-price-item">950 000₽</div>
            <div class="main-price-month">
              <span class="main-price-month_green">27200 ₽</span>/мес
            </div>
          </div>
          <div class="main-brand-benefit">
            <div class="main-brand-benefit_title">Выгода в кредит</div>
            <div class="main-brand-benefit_price">150 000₽</div>
          </div>
        </div>
      </div>
    </div>
    <div class="main-brand-item">
      <div class="main-brand-img-wrap">
        <div class="main-brand-img">
          <%= image_tag "carso/img/kia-sportage.png", alt:'', class: '' %>
        </div>
      </div>
      <div class="main-brand-price-text">
        <div class="main-brand-model">Kia Celtos</div>
        <div class="main-brand-price-cont">
          <div class="main-brand-price">
            <div class="main-brand-of-price">1 210 200₽</div>
            <div class="main-brand-price-item">950 000₽</div>
            <div class="main-price-month">
              <span class="main-price-month_green">27200 ₽</span>/мес
            </div>
          </div>
          <div class="main-brand-benefit">
            <div class="main-brand-benefit_title">Выгода в кредит</div>
            <div class="main-brand-benefit_price">150 000₽</div>
          </div>
        </div>
      </div>
    </div>
    <div class="main-brand-item">
      <div class="main-brand-img-wrap">
        <div class="main-brand-img">
          <%= image_tag "carso/img/kia-sportage.png", alt:'', class: '' %>
        </div>
      </div>
      <div class="main-brand-price-text">
        <div class="main-brand-model">Kia Celtos</div>
        <div class="main-brand-price-cont">
          <div class="main-brand-price">
            <div class="main-brand-of-price">1 210 200₽</div>
            <div class="main-brand-price-item">950 000₽</div>
            <div class="main-price-month">
              <span class="main-price-month_green">27200 ₽</span>/мес
            </div>
          </div>
          <div class="main-brand-benefit">
            <div class="main-brand-benefit_title">Выгода в кредит</div>
            <div class="main-brand-benefit_price">150 000₽</div>
          </div>
        </div>
      </div>
    </div>
    <div class="main-brand-item">
      <div class="main-brand-img-wrap">
        <div class="main-brand-img">
          <%= image_tag "carso/img/kia-sportage.png", alt:'', class: '' %>
        </div>
      </div>
      <div class="main-brand-price-text">
        <div class="main-brand-model">Kia Celtos</div>
        <div class="main-brand-price-cont">
          <div class="main-brand-price">
            <div class="main-brand-of-price">1 210 200₽</div>
            <div class="main-brand-price-item">950 000₽</div>
            <div class="main-price-month">
              <span class="main-price-month_green">27200 ₽</span>/мес
            </div>
          </div>
          <div class="main-brand-benefit">
            <div class="main-brand-benefit_title">Выгода в кредит</div>
            <div class="main-brand-benefit_price">150 000₽</div>
          </div>
        </div>
      </div>
    </div>
    <div class="main-brand-item">
      <div class="main-brand-img-wrap">
        <div class="main-brand-img">
          <%= image_tag "carso/img/kia-sportage.png", alt:'', class: '' %>
        </div>
      </div>
      <div class="main-brand-price-text">
        <div class="main-brand-model">Kia Celtos</div>
        <div class="main-brand-price-cont">
          <div class="main-brand-price">
            <div class="main-brand-of-price">1 210 200₽</div>
            <div class="main-brand-price-item">950 000₽</div>
            <div class="main-price-month">
              <span class="main-price-month_green">27200 ₽</span>/мес
            </div>
          </div>
          <div class="main-brand-benefit">
            <div class="main-brand-benefit_title">Выгода в кредит</div>
            <div class="main-brand-benefit_price">150 000₽</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>









<% content_for :rails_to_js_variables do %>
  <script>
      var COMPL_GROUPS = <%= @compl_groups %>;
      //  var COLOR_GROUPS = <%= @color_groups %>;
  </script>
<% end %>
<% content_for :additional_javascript do %>

  <script>
      carid = '<%= @car.id %>';
      car_url = '<%= @car.url %>';
      car_brand = '<%= @car.brand.url %>';
  </script>

  <script type="text/javascript">
      var _tmr = _tmr || [];
      _tmr.push({
          type: 'itemView',
          productid: '<%= @car.id %>',
          pagetype: 'product',
          list: '2',
          totalvalue: '<%= number_with_delimiter(@car.count_min_price(@region_discount), delimiter: "") %>'
      });
  </script>

<% end %>