<div class="row">
  <% @newcars.where(brand_id: brand.id).each do |car| %>
    <div class="col-4">
      <div class="main_catalog_item without_logo">
        <%= link_to new_car_path(car.brand_url,car.url),class:'main_catalog_item__baselink' do %>
          <div class="main_catalog_item__name"><%= car.menutitle %></div>
          <%#=<div class="main_catalog_item__count">Осталось в наличиии: <span>13 авто</span></div>%>
          <div class="main_catalog_item__preview">
            <% if car.colors[0].present? %>
              <%= image_tag car.colors[0].card.url, alt: car.menutitle %>
            <% end %>
          </div>
          <div class="main_catalog_item__price">от <b><span><%= number_with_delimiter(car.min_price, delimiter: " ") %></span> руб.</b></div>
          <div class="main_catalog_item__discountprice">Цена без скидки: <span><%= number_with_delimiter(car.min_price_no_discount, delimiter: " ") %> руб.</span></div>
          <div class="main_catalog_item__mouthprice">от <b><span><%= number_with_delimiter(count_price(car.min_price,PERCENT,MONTH)) %></span> руб.</b> в месяц</div>
        <% end %>
        <div class="main_catalog_item__action">
          <%= link_to 'Подробнее', new_car_path(car.brand_url,car.url),class: 'btn btn-blue' %>
        </div>
      </div>
    </div>
  <% end %>
</div>