<div class="card card--wide" data-eq_id="<%= show_filter.id %>">
  <% car = NewCar.find(show_filter.specification.new_car_id) %>
  <div class="card__inner">
    <div class="card__media">
      <%= image_tag car.colors[0].card.url,class:'card__img', alt:'', style: '' %>
      <% if car.special_options.present? and car.special_options.include? 'Хит-продаж' %>
        <span class="card__label">Хит</span>
      <% end %>
    </div>
    <div class="card__main">
      <div class="card__title"><%= Brand.find(car.brand_id).title %> <%= car.name %> <%= show_filter.equipment_description.name %></div>
      <div class="card__additional">Скидка до <span><%= number_with_delimiter(car.discount_count + @region_discount,delimiter: ' ') %> &#8381;</span></div>
      <p class="card__text"><%= show_filter.specification.transmission %> (<%= show_filter.specification.shorttransmission %>),
        <%= (show_filter.specification.volume / 1000.to_f).round(1) %> л,
        <%= show_filter.specification.drive == 'Полный' ? '4WD' : '2WD' %>,
        <%= show_filter.specification.power %> л.с
      </p>
      <p class="card__text">В наличии: <strong><span data-role="quantity"></span> автомобиля</strong></p>
      <div class="card__buttons">
        <button type="button" class="card__link">
          <%= svg_tag 'carso/icons.svg','svg-arrow-fat',7,8,class:'card__link_icon' %>
          <span>В кредит</span>
        </button>
        <button type="button" class="card__link">
          <%= svg_tag 'carso/icons.svg','svg-arrow-fat',7,8,class:'card__link_icon' %>
          <span>Обмен</span>
        </button>
        <button type="button" class="button">Купить со скидкой</button>
      </div>
    </div>
  </div>
</div>