<%
  region = false
  unless @current_region.id == 57
    region = true
  end
%>

<%
  if @brand.new_cars.where(hide: 0, archive: 0).present?
    ordered_cars = @brand.new_cars.where(hide: 0, archive: 0).min_price_ordered
  else
    ordered_cars = @brand.new_cars.min_price_ordered
  end

    min_price = ordered_cars[0].equipments.where(hide:0).minimum(:price)

  if (ordered_cars[0].discount_count + @region_discount) < min_price*4/10
    min_discount_e = ordered_cars[0].discount_count + @region_discount
  else
    min_discount_e = min_price*4/10
  end

  max_price = ordered_cars.last.equipments.where(hide:0).maximum(:price)

  max_discount = ordered_cars.last.discount.to_i + ordered_cars.last.discount_tradein.to_i + ordered_cars.last.discount_credit.to_i + 50000 + 30000 +(max_price * 0.1).to_i

  if (max_discount + @region_discount) < max_price*4/10
    max_discount_e = max_discount + @region_discount
  else
    max_discount_e = max_price*4/10
  end
%>



<% t_mos = "Купить #{@brand.menutitle} в #{@current_region.sklon3} 🚗 цена на новый #{@brand.title} #{Time.current.year.to_s} в автосалоне у официального дилера — автосалон «AviCAR»" %>
<% t_reg = "Купить #{@brand.menutitle} в #{@current_region.sklon3}, комплектации и цены #{(Time.current - 1.year).year.to_s + '-' + Time.current.year.to_s} на #{@brand.title} у официального дилера, весь модельный ряд в автосалоне — автосалон «AviCAR»" %>
<% d_mos = "🚘 Каталог новых автомобилей #{@brand.title} у официального дилера в #{@current_region.sklon3} — AviCAR 🚙 Модельный ряд и цены на #{@brand.menutitle} #{Time.current.year.to_s} года ❗ Скидки до #{number_with_delimiter(max_discount_e, delimiter: " ")} руб. 🎁 Подарки при покупке! ☎️ 8 800 505-25-66. — автосалон «AviCAR»" %>
<% d_reg = "Купить #{@brand.menutitle} в автосалоне 🚘 Trade-in ✅ Рассрочка 0% ✅ Экспресс кредит от 1.9% ✅ Цены и Комплектации ✅ Весь модельный ряд #{@brand.title} у официального дилера в #{@current_region.sklon3} 🎁 Бонусы и Подарки! — автосалон «AviCAR»" %>


<% unless region %>
  <% provide :title,t_mos %>
  <% provide :description,d_mos %>
<% else %>
  <% provide :title,t_reg %>
  <% provide :description,d_reg %>
<% end %>

<%
  #  if @brand.new_cars.where(hide: 0, archive: 0).present?
  #    brand_img = @brand.new_cars.where(hide: 0, archive: 0).order(images: :desc)[0].images[0].large.url
  #  else
  #    brand_img = @brand.new_cars.where(hide: 0, archive: 1).order(images: :desc)[0].images[0].large.url
  #  end
%>


<%
  modelsCount = NewCar.where(brand_id: @brand.id, hide: 0, archive: 0).length;
%>

<div class="bnr">

  <% if @brand.url == 'haval' %>
    <a href="#" class="bnr_cnt bn_7 bn_8 bn_9 bn_10">
      <div class="bnr_cnt bn_7 bn_8 bn_9 bn_10">
        <div class="bnr_infn">
          <div class="bnr_4_1"><span>Распродажа</span> <span>Haval</span> в кредит</div>
          <div class="bnr_4_3"></div>
          <div class="bnr_4_4"></div>
          <div class="bnr_5_5"></div>
        </div>
      </div>
    </a>
  <% else %> <% end %>

  <% if @brand.url == 'geely' %>
  <a href="#" class="bnr_cnt bn_7 bn_8 bn_9">
    <div class="bnr_cnt bn_7 bn_8 bn_9">
      <div class="bnr_infn">
        <div class="bnr_4_1"><span>Распродажа</span> <span>Geely</span> в кредит</div>
        <div class="bnr_4_3"></div>
        <div class="bnr_4_4"></div>
        <div class="bnr_5_5"></div>
      </div>
    </div>
  </a>
  <% else %> <% end %>

  <% if @brand.url == 'lifan' %>
  <a href="#" class="bnr_cnt bn_6 bn_7 bn_8">
    <div class="bnr_cnt bn_6 bn_7 bn_8">
      <div class="bnr_infn">
        <div class="bnr_4_1"><span>Распродажа</span> <span>Lifan</span> в кредит</div>
        <div class="bnr_4_3"></div>
        <div class="bnr_4_4"></div>
      </div>
    </div>
  </a>
  <% else %> <% end %>

  <% if @brand.url == 'renault' %>
  <a href="#" class="bnr_cnt bn_6 bn_7">
    <div class="bnr_cnt bn_6 bn_7">
      <div class="bnr_infn">
        <div class="bnr_4_1"><span>Распродажа</span> <span>Renault</span> в кредит</div>
        <div class="bnr_4_3"></div>
        <div class="bnr_4_4"></div>
        <div class="bnr_5_5"></div>
        <div class="bnr_5_6"></div>
        <div class="bnr_5_7"></div>
      </div>
    </div>
  </a>
  <% else %> <% end %>

  <% if @brand.url == 'hyundai' %>
  <a href="#" class="bnr_cnt bn_4 bn_5 bn_6">
    <div class="bnr_cnt bn_4 bn_6">
      <div class="bnr_infn">
        <div class="bnr_4_1"><span>Распродажа</span> <span>HYUNDAI</span> в кредит</div>
        <div class="bnr_4_3"></div>
        <div class="bnr_4_4"></div>
        <div class="bnr_5_5"></div>
        <div class="bnr_5_6"></div>
        <div class="bnr_5_7"></div>
      </div>
    </div>
  </a>
  <% else %> <% end %>

  <% if @brand.url == 'lada' %>
  <a href="#" class="bnr_cnt bn_4 bn_5">
    <div class="bnr_cnt bn_4 bn_5">
      <div class="bnr_infn">
        <div class="bnr_4_1">Распродажа <br>LADA в кредит</div>
        <div class="bnr_4_3"></div>
        <div class="bnr_4_4"></div>
        <div class="bnr_5_5"></div>
        <div class="bnr_5_6"></div>
        <div class="bnr_5_7"></div>
      </div>
    </div>
  </a>
  <% else %> <% end %>

  <% if @brand.url == 'kia' %>
  <a href="#" class="bnr_cnt bn_4">
    <div class="bnr_cnt bn_4">
      <div class="bnr_infn">
        <div class="bnr_4_1">Распродажа KIA в кредит</div>
        <div class="bnr_4_23">
          <div class="bnr_4_2"></div>
          <div class="bnr_4_3"></div>
        </div>
        <div class="bnr_4_4"></div>
        <div class="bnr_4_5"></div>
        <div class="bnr_4_6"></div>
        <div class="bnr_4_7"></div>
      </div>
    </div>
  </a>
  <% else %> <% end %>
  <a href="/credit" class="bnr_cnt bn_1">
    <div class="bnr_inf">
      <div>Совместня акция <b>AviCAR и ВТБ</b></div>

      <div><b>1,3% </b>процентна ставка</div>
      <div><b>99% </b>одобрение кредита</div>

    </div>
    <div class="bnr_btn"><button>Получить предложение</button></div>
  </a>
</div>
<div class="container">

<div class="bh_form">
 <div class="mm_url">
  <ul>
   <%= render partial:'new_cars/new_cars_url_brand', collection:NewCar.where(brand_id: @brand.id, hide: 0, archive: 0).min_price_ordered %>
  </ul>
 </div>
 <div class="form_block credit">
    <span class="fprm_gos_pa">Госпрограмма -10%</span>
        <div class="form-sale-info">
          <span class="frins">Получите</span>
          <div class="form-credit-info">специальную цену в кредит</div>
        </div>

    <%= form_for Ticket.new,url: {action:"create",controller:"tickets" },remote:true,validate:true,:html => {:class => "form",:name=>"newcarreq"},:namespace => "newcarreq" do |f| %>
      <%= hidden_field_tag 'ticket[other][model]',@brand.id, id:'newcarreq_ticket_other_model' %>
      <%= f.hidden_field :form_name, value:"express" %>
      <div class="form_input">
        <%= f.text_field :name,class:"input",placeholder:"Ваше имя" %>
      </div>
      <div class="form_input">
        <%= f.phone_field :phone,class:"input",data:{:role=>"phone"},placeholder:"Номер телефона"  %>
      </div>
      <%= f.button do %>
          <span>Получить предложение</span>
      <% end %>
    <% end %>
  </div>
</div>
<% unless region %>
<% end %>
<h1>Модельный ряд <%= @brand.title %></h1>
<% if region %>
<%= render partial:'new_cars/region_form' %>
<% end %>
<br>
<% if @brand.new_cars.where(hide: 0, archive: 0).present? %>
  <% brand_car_types = NewCar.where(brand_id: @brand.id,hide: 0, archive: 0).distinct.pluck(:car_type) %>
  <% brand_car_types.each do |t| %>

    <div class="row justify-content-start cr_tr_url">
      <div class="cr_tr_hr right row justify-content-start">
        <%= render partial:'new_cars/new_cars_brand', collection: @brand.new_cars.where(hide: 0, archive: 0, car_type: t).min_price_ordered %>
      </div>
    </div>
    <%#<div class="row justify-content-start">%><%#= link_to t.pluralize(:ru), brand_type_path(@brand.url,t("car_types.#{t}")) %><%#</div>%>
  <% end %>
<% end %>


<div class="pr_slog_b">
  <div><%= image_tag "carso/icons/group30.svg", alt:'' %>
    <span>Бесплатное <br> КАСКО</span>
  </div>
  <div><%= image_tag "carso/icons/group98.svg", alt:'' %>
    <span>Зимняя резина в <br> подарок</span>
  </div>
  <div><%= image_tag "carso/icons/group101.svg", alt:'' %>
    <span>Госпрограммы: <br> -10% на любое авто</span>
  </div>
  <div><%= image_tag "carso/icons/group33.svg", alt:'' %>
    <span>Оплата проезда <br> до автосалона</span>
  </div>
</div>

<% if region %>
  <%#= render partial:'new_cars/region_reasons' %>
<% end %>
<%#= render 'partials/carso/tradein_form' %>
<%#= render 'partials/carso/credit_form' %>

<%= render 'partials/carso/credit_form' %>

<% content_for :additional_javascript do %>

  <script>
      car_brand = '<%= @brand.url %>';
      carid = undefined;
  </script>
<% end %>
</div>