<div id="main">
  <div class="main_catalog_heading main_catalog_heading--first without_lines">
    <div class="container">
      <div class="main_catalog_heading_content">
        <div class="main_catalog_heading_content__icon">
          <%#<img class="lazy" data-src="img/catalog_mark_icon.png" alt="Выберите ваш новый автомобиль LADA в автоцентре Vostok моторс" src="img/lazy_placeholder.png">%>
        </div>
        <div class="main_catalog_heading_content__title"><%= @brand.title %></div>
      </div>
    </div>
  </div>
  <div class="main_catalog_count">
    <%#<div class="container">
      <div class="main_catalog_count__data" data-aos="fade-down" data-aos-duration="600" data-aos-delay="300">В наличии: <span>115 авто</span></div>
    </div>%>
  </div>
  <div class="main_catalog">
    <div class="container">
      <div class="row">
        <% if @brand.new_cars.where(hide: 0, archive: 0).present? %>
          <% brand_car_types = NewCar.where(brand_id: @brand.id,hide: 0, archive: 0).distinct.pluck(:car_type) %>
          <% brand_car_types.each do |t| %>
            <%= render partial:'new_cars/new_cars_brand', collection: @brand.new_cars.where(hide: 0, archive: 0, car_type: t).min_price_ordered %>
           <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="main_benefit">
    <div class="main_benefit_leftbg">
      <div class="main_benefit_leftbg__image"></div>
    </div>
    <div class="main_benefit_rightbg">
      <div class="main_benefit_rightbg__image"></div>
    </div>
    <div class="main_benefit_content">
      <div class="container">
        <div class="main_benefit_content__title">Выгода</div>
        <div class="main_benefit_content__value">до <span>500 000</span> р.</div>
        <div class="main_benefit_content__subtitle">При покупке автомобиля в кредит</div>

        <%= form_for Ticket.new,url: {action:"create",controller:"tickets" },remote:true,validate:true,:html => {:class => "main_benefit_content__form",:name=>"newcarreq"},:namespace => "newcarreq" do |f| %>
          <%= hidden_field_tag 'ticket[other][model]',@brand.id, id:'main_help_find__form' %>
          <%= f.hidden_field :form_name, value:"express" %>
          <div>
            <%= f.text_field :name,class:"input",placeholder:"ФИО" %>
            <%= f.phone_field :phone,class:"input",data:{:role=>"phone"},placeholder:"+7 (___) ___-__-__" %>
          </div>
          <%= f.button class: "btn btn-white" do %>Получить выгоду<% end %>
          <%# end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="main_gifts">
    <div class="container">
      <div class="main_gifts_tabs_content mgtc__01">
        <div class="main_gifts_content">
          <div class="main_gifts_content__date">Только до <%= l(SALE_DATE, format: :next_monday) %>!</div>
          <div class="main_gifts_content__title">Зимняя резина</div>
          <div class="main_gifts_content__subtitle">В подарок!</div>
          <div class="main_gifts_content__action">
            <a href="#" class="btn btn-blue gifts_popup">Участвовать в акции</a>
          </div>
        </div>
        <div class="main_gifts_images">
          <div class="main_gifts_images__backimage lazy" data-bg="img/gifts_section_back_image_01.png"></div>
          <div class="main_gifts_images__frontimage lazy" data-bg="img/gifts_section_front_image_01.png"></div>
          <div class="main_gifts_images__smallimages_left lazy" data-bg="img/gifts_section_smallfront_left_01.png"></div>
          <div class="main_gifts_images__smallimages_right lazy" data-bg="img/gifts_section_smallfront_right_01.png"></div>
        </div>
      </div>
      <div class="main_gifts_tabs_content mgtc__02">
        <div class="main_gifts_content">
          <div class="main_gifts_content__date">Только до <%= l(SALE_DATE, format: :next_monday) %>!</div>
          <div class="main_gifts_content__title">Страховка <br>КАСКО</div>
          <div class="main_gifts_content__subtitle">В подарок!</div>
          <div class="main_gifts_content__action">
            <a href="#" class="btn btn-blue gifts_popup">Участвовать в акции</a>
          </div>
        </div>
        <div class="main_gifts_images">
          <div class="main_gifts_images__backimage lazy" data-bg="img/gifts_section_back_image_02.png"></div>
          <div class="main_gifts_images__frontimage lazy" data-bg="img/gifts_section_front_image_02.png"></div>
          <div class="main_gifts_images__smallimages_left lazy" data-bg="img/gifts_section_smallfront_left_02.png"></div>
          <div class="main_gifts_images__smallimages_right lazy" data-bg="img/gifts_section_smallfront_right_02.png"></div>
          <div class="main_gifts_images__smallimages_abs lazy" data-bg="img/gifts_section_smallfront_abs_02_01.png"></div>
          <div class="main_gifts_images__smallimages_abs lazy" data-bg="img/gifts_section_smallfront_abs_02_02.png"></div>
        </div>
      </div>
      <div class="main_gifts_tabs_content mgtc__03">
        <div class="main_gifts_content">
          <div class="main_gifts_content__date">Только до <%= l(SALE_DATE, format: :next_monday) %>!</div>
          <div class="main_gifts_content__title">3 платежа <br>по кредиту</div>
          <div class="main_gifts_content__subtitle">В подарок!</div>
          <div class="main_gifts_content__action">
            <a href="#" class="btn btn-blue gifts_popup">Участвовать в акции</a>
          </div>
        </div>
        <div class="main_gifts_images">
          <div class="main_gifts_images__backimage"></div>
          <div class="main_gifts_images__frontimage lazy" data-bg="img/gifts_section_front_image_03.png"></div>
          <div class="main_gifts_images__smallimages_left lazy" data-bg="img/gifts_section_smallfront_left_03.png"></div>
          <div class="main_gifts_images__smallimages_right lazy" data-bg="img/gifts_section_smallfront_right_03.png"></div>
        </div>
      </div>
      <div class="main_gifts_tabs_content mgtc__04">
        <div class="main_gifts_content">
          <div class="main_gifts_content__date">Только до <%= l(SALE_DATE, format: :next_monday) %>!</div>
          <div class="main_gifts_content__title">200 литров топлива</div>
          <div class="main_gifts_content__subtitle">В подарок!</div>
          <div class="main_gifts_content__action">
            <a href="#" class="btn btn-blue gifts_popup">Участвовать в акции</a>
          </div>
        </div>
        <div class="main_gifts_images">
          <div class="main_gifts_images__backimage lazy" data-bg="img/gifts_section_back_image_04.png"></div>
          <div class="main_gifts_images__frontimage lazy" data-bg="img/gifts_section_front_image_04.png"></div>
          <div class="main_gifts_images__smallimages_left lazy" data-bg="img/gifts_section_smallfront_left_04.png"></div>
          <div class="main_gifts_images__smallimages_right lazy" data-bg="img/gifts_section_smallfront_right_04.png"></div>
        </div>
      </div>
      <div class="main_gifts_tabs_nav">
        <div class="main_gifts_tabs_nav__item">Зимняя резина <br><span>в подарок!</span></div>
        <div class="main_gifts_tabs_nav__item">Страховка КАСКО <br><span>в подарок!</span></div>
        <div class="main_gifts_tabs_nav__item">3 платежа по кредиту <br><span>в подарок!</span></div>
        <div class="main_gifts_tabs_nav__item">200 литров топлива <br><span>в подарок!</span></div>
      </div>
    </div>
    <svg height="0" width="0">
      <defs>
        <clipPath id="main_gifts_arrow_clip" clipPathUnits="userSpaceOnUse">
          <path d="M0 131.063V0L352.257 212.415L700 0V140.103L352.257 348L0 131.063Z"/>
        </clipPath>
      </defs>
    </svg>
  </div>
  <div class="main_help_find">
    <div class="container">
      <div class="main_help_find__title">Затрудняетесь с выбором автомобиля?</div>
      <div class="main_help_find__subtitle">Мы вам поможем!</div>
      <div class="main_help_find__clients" data-aos="fade-down" data-aos-duration="600" data-aos-delay="300" data-aos-once="true">Счастливых клиентов: <span>3 599</span></div>
      <%= form_for Ticket.new,url: {action:"create",controller:"tickets" },remote:true,validate:true,:html => {:class => "main_help_find__form",:name=>"newcarreq"},:namespace => "newcarreq" do |f| %>
        <%= hidden_field_tag 'ticket[other][model]',@brand.id, id:'main_help_find__form' %>
        <%= f.hidden_field :form_name, value:"express" %>
        <div>
          <%= f.text_field :name,class:"input",placeholder:"ФИО" %>
          <%= f.phone_field :phone,class:"input",data:{:role=>"phone"},placeholder:"+7 (___) ___-__-__" %>
        </div>
          <%= f.button class: "btn btn-blue" do %>Отправить запрос<% end %>
        <%# end %>
      <% end %>
    </div>
  </div>
</div>