<!doctype html>
  <html lang="ru" itemscope="" itemtype="http://schema.org/AutoDealer">
  <head>
    <%= render 'partials/carso/head' %>
  </head>
  <body>
  <%#=<div class="container">%>
      <%= render 'partials/carso/header' %>


      <main class="main<% if main_page? %> main_h<% end %>">
        <%= yield %>
      </main>
      <%= render 'partials/carso/footer' %>
      <%= render 'partials/carso/modals' %>

  <div class="bottom_widget">
    <a href="/credit" class="bottom_widget_item">
      <div class="bottom_widget_item__icon">
        <img alt="Заявка на кредит" src="/img/bottom_widget_icon__credit.png">
      </div>
      <div class="bottom_widget_item__title">
        Заявка <br>на кредит
      </div>
    </a>
    <a href="tel:88005001503" class="bottom_widget_item">
      <div class="bottom_widget_item__icon">
        <img alt="Позвонить" src="/img/bottom_widget_icon__call.png">
      </div>
      <div class="bottom_widget_item__title">
        Позвонить
      </div>
    </a>
    <a href="/contacts" class="bottom_widget_item">
      <div class="bottom_widget_item__icon">
        <img alt="Заявка на кредит" src="/img/bottom_widget_icon__geo.png">
      </div>
      <div class="bottom_widget_item__title">
        Проезд <br>до автосалона
      </div>
    </a>
  </div>

  <%#=</div>%>
    <%= yield :rails_to_js_variables %>
    <%= render 'partials/carso/before_end_body' %>
    <%= yield :additional_javascript %>
  </body>
</html>