<!doctype html>
  <html lang="ru" itemscope="" itemtype="http://schema.org/AutoDealer">
  <head>
    <%= render 'partials/carso/head' %>
  </head>
  <body>
  <%#=<div class="container">%>
      <%= render 'partials/carso/header' %>

  <% if new_card_page? %>
  <%# else %>
   <div class="bnr">
    <% if @brand.url == 'hyundai' %>
      <a href="#" class="bnr_cnt bn_4 bn_5 bn_6 button sale_bn" data-show-new-ajax="car-credit-modal">
        <div class="bnr_cnt bn_4 bn_6">
          <div class="bnr_infn">
            <div class="bnr_4_1"><span>Распродажа</span> <span>HYUNDAI</span> в кредит</div>
            <div class="bnr_4_3"></div>
            <div class="bnr_4_4"></div>
            <div class="bnr_5_5"></div>
            <div class="bnr_5_6"></div>
            <div class="bnr_5_7"></div>
          </div>
        </div>
      </a>
    <% else %> <% end %>
    <% if @brand.url == 'lada' %>
      <a href="#" class="bnr_cnt bn_4 bn_5 button sale_bn" data-show-new-ajax="car-credit-modal">
        <div class="bnr_cnt bn_4 bn_5">
          <div class="bnr_infn">
            <div class="bnr_4_1">Распродажа <br>LADA в кредит</div>
            <div class="bnr_4_3"></div>
            <div class="bnr_4_4"></div>
            <div class="bnr_5_5"></div>
            <div class="bnr_5_6"></div>
            <div class="bnr_5_7"></div>
          </div>
        </div>
      </a>
    <% else %> <% end %>
    <% if @brand.url == 'kia' %>
      <a href="#" class="bnr_cnt bn_4 button sale_bn" data-show-new-ajax="car-credit-modal">
        <div class="bnr_cnt bn_4">
          <div class="bnr_infn">
            <div class="bnr_4_1">Распродажа KIA в кредит</div>
            <div class="bnr_4_23">
              <div class="bnr_4_2"></div>
              <div class="bnr_4_3"></div>
            </div>
            <div class="bnr_4_4"></div>
            <div class="bnr_4_5"></div>
            <div class="bnr_4_6"></div>
            <div class="bnr_4_7"></div>
          </div>
        </div>
      </a>
    <% else %> <% end %>
  </div>
  <% end %>
      <main class="main<% if main_page? %> main_h<% end %>">
        <%= yield %>
      </main>
      <%= render 'partials/carso/footer' %>
      <%= render 'partials/carso/modals' %>
  <%#=</div>%>
    <%= yield :rails_to_js_variables %>
    <%= render 'partials/carso/before_end_body' %>
    <%= yield :additional_javascript %>
  </body>
</html>